<style type="text/css">
    html,body {
        background: #F1F1F1;
    }
</style>
<div class="plan_detail">
    <div class="HEADER w100">
        <div class="timeStamp w90 margin_c">生成时间：{{ITEM.createAt | date:"yyyy-MM-dd HH:mm:ss"}}</div>
        <div class="totalBudget w100">
            <span ng-if="ITEM.status===-1">暂无</span>
            <span ng-if="ITEM.status===0">¥{{ITEM.budget.toFixed(2)}}</span>
            <span ng-if="ITEM.status===1">¥{{ITEM.budget.toFixed(2)}}</span>
            <span ng-if="ITEM.status===2">{{ITEM.score}}</span>
        </div>
        <div class="text w100">
            <span ng-if="ITEM.status!==2">总预算</span>
            <span ng-if="ITEM.status===2">积分</span>
        </div>
    </div>
    <dl class="complete elasticbox" ng-if="ITEM.status===2">
        <dt class="line1"></dt>
        <dt class="line2"></dt>
        <dd class="elasticbox_one">
            ¥{{ITEM.budget.toFixed(2)}}<br>
            <span>预算</span>
        </dd>
        <dd class="elasticbox_one">
            ¥{{ITEM.expenditure.toFixed(2)}}<br>
            <span>实际</span>
        </dd>
        <dd class="elasticbox_one">
            ¥{{ (ITEM.budget-ITEM.expenditure) }}<br>
            <span>节省</span>
        </dd>
    </dl>
    <div class="project">项目：{{ITEM.description}}</div>
    <ul class="CONTENT">
        <li class="departure" ng-if="ITEM.outTraffic.length!==0">
            <div class="list_top">
                <div class="icon web-icon-font3">&#xe90e;</div>
                <div class="description">北京<span>去程</span>上海</div>
            </div>
            <div class="list_center">
                <div class="time">2012-12-12出发　15:00前到达</div>
                <div class="budget">¥{{ITEM.outTraffic[0].budget.toFixed(2)}}</div>
            </div>
            <div class="list_bottom">
                <div class="status">{{111}}</div>
                <input type="button" value="查看票据" class="smallbtn">
                <input type="button" value="预订" class="smallbtn">
            </div>
        </li>
        <li class="return" ng-if="ITEM.backTraffic.length!==0">
            <div class="list_top">
                <div class="icon web-icon-font3">&#xe90e;</div>
                <div class="description">北京<span>回程</span>上海</div>
            </div>
            <div class="list_center">
                <div class="time">2012-12-12出发　15:00前到达</div>
                <div class="budget">¥2000.00</div>
            </div>
            <div class="list_bottom">
                <div class="status">待传票据</div>
                <input type="button" value="查看票据" class="smallbtn">
                <input type="button" value="预订" class="smallbtn">
            </div>
        </li>
        <li class="hotel" ng-if="ITEM.hotel.length!==0">
            <div class="list_top">
                <div class="icon web-icon-font3">&#xe914;</div>
                <div class="description">{{ITEM.hotel[0].city}}　{{ITEM.hotel[0].hotelName}}</div>
            </div>
            <div class="list_center">
                <div class="time">2012-12-12至2012-12-12</div>
                <div class="budget">¥{{ITEM.hotel[0].budget.toFixed(2)}}</div>
            </div>
            <div class="list_bottom">
                <div class="status">待传票据</div>
                <input type="button" value="查看票据" class="smallbtn" ng-if="ITEM.hotel[0].isCommit" ng-click="checkInvoice()">
                <input type="button" value="预订" class="smallbtn">
            </div>
        </li>
    </ul>
    <div class="w100 button_fix">
        <input type="button" value="提交审核" class="common_btn2 w100">
    </div>
</div>