<style type="text/css">
    html,body {
        background: #F1F1F1;
    }
</style>
<div class="plan_detail">
    <div class="HEADER w100">
        <div class="timeStamp w90 margin_c">生成时间：{{ITEM.createAt | date:"yyyy-MM-dd HH:mm:ss"}}</div>
        <div class="totalBudget w100">
            <span ng-if="ITEM.status===-1">暂无</span>
            <span ng-if="ITEM.status===0">¥{{ITEM.budget.toFixed(2)}}</span>
            <span ng-if="ITEM.status===1">¥{{ITEM.budget.toFixed(2)}}</span>
            <span ng-if="ITEM.status===2">{{ITEM.score}}</span>
        </div>
        <div class="text w100">
            <span ng-if="ITEM.status!==2">总预算</span>
            <span ng-if="ITEM.status===2">积分</span>
        </div>
    </div>
    <ul class="complete" ng-if="ITEM.status===2">
        <li>
            <span class="number">¥{{ITEM.budget.toFixed(2)}}</span><br>
            <span>预算</span>
            <div class="bar"></div>
        </li>
        <li>
            <span class="number">¥{{ITEM.expenditure.toFixed(2)}}</span><br>
            <span>实际</span>
            <div class="bar"></div>
        </li>
        <li>
            <span class="number" ng-if="ITEM.budget>=ITEM.expenditure" style="color:#3CA5F6">¥{{renderDeficit()}}</span>
            <span class="number" ng-if="ITEM.budget<ITEM.expenditure" style="color:#F23B3B">¥{{renderDeficit()}}</span>
            <br>
            <span ng-if="ITEM.budget>=ITEM.expenditure" style="color:#3CA5F6">节省</span>
            <span ng-if="ITEM.budget<ITEM.expenditure" style="color:#F23B3B">超支</span>
        </li>
    </ul>
    <div class="project">项目：{{ITEM.description}}</div>
    <ul class="CONTENT">
        <li class="departure" ng-if="ITEM.outTraffic.length!==0">
            <div class="list_top">
                <div class="top_left">
                    <p>
                        <span class="icon web-icon-font3">&#xe90e;</span>
                        <span class="description">
                            {{ITEM.outTraffic[0].startPlace}}
                            <span>去程</span>
                            {{ITEM.outTraffic[0].arrivalPlace}}
                        </span>
                    </p>
                    <p class="time">
                        <span>{{ITEM.outTraffic[0].startTime | date:"yyyy-MM-dd"}}出发</span>
                        <span ng-if="ITEM.outTraffic[0].latestArriveTime"> {{ITEM.outTraffic[0].latestArriveTime | date:"HH:mm"}}前到达</span>
                    </p>
                </div>
                <div class="top_right">
                    <p ng-if="ITEM.outTraffic[0].expenditure===0"></p>
                    <p class="budget">
                        预算：
                        <span class="number" ng-if="ITEM.outTraffic[0].budget===-1">暂无</span>
                        <span class="number" ng-if="ITEM.outTraffic[0].budget!==-1">¥{{ITEM.outTraffic[0].budget.toFixed(2)}}</span>
                    </p>
                    <p class="expenditure" ng-if="ITEM.outTraffic[0].expenditure!==0">
                        实际：
                        <span class="number">¥{{ITEM.outTraffic[0].expenditure.toFixed(2)}}</span>
                    </p>
                </div> 
            </div>
            <div class="list_bottom">
                <div class="status">{{renderStatus( ITEM.outTraffic[0] )}}</div>
                <a class="BTN" ng-click="checkInvoice()">查看票据</a>
                <a class="BTN" ng-click="">重新上传</a>
                <a class="BTN">预订</a>
            </div>
        </li>
        <li class="return" ng-if="ITEM.backTraffic.length!==0">
            <div class="list_top">
                <div class="top_left">
                    <p>
                        <span class="icon web-icon-font3">&#xe90e;</span>
                        <span class="description">
                            {{ITEM.backTraffic[0].startPlace}}
                            <span>回程</span>
                            {{ITEM.backTraffic[0].arrivalPlace}}
                        </span>
                    </p>
                    <p class="time">
                        <span>{{ITEM.backTraffic[0].startTime | date:"yyyy-MM-dd"}}出发</span>
                        <span ng-if="ITEM.backTraffic[0].latestArriveTime"> {{ITEM.backTraffic[0].latestArriveTime | date:"HH:mm"}}前到达</span>
                    </p>
                </div>
                <div class="top_right">
                    <p ng-if="ITEM.backTraffic[0].expenditure===0"></p>
                    <p class="budget">
                        预算：
                        <span class="number" ng-if="ITEM.backTraffic[0].budget===-1">暂无</span>
                        <span class="number" ng-if="ITEM.backTraffic[0].budget!==-1">¥{{ITEM.backTraffic[0].budget.toFixed(2)}}</span>
                    </p>
                    <p class="expenditure" ng-if="ITEM.backTraffic[0].expenditure!==0">
                        实际：
                        <span class="number">¥{{ITEM.backTraffic[0].expenditure.toFixed(2)}}</span>
                    </p>
                </div> 
            </div>
            <div class="list_bottom">
                <div class="status">{{renderStatus( ITEM.backTraffic[0] )}}</div>
                <a class="BTN" ng-click="checkInvoice()">查看票据</a>
                <a class="BTN" ng-click="">重新上传</a>
                <a class="BTN">预订</a>
            </div>
        </li>
        <li class="hotel" ng-if="ITEM.hotel.length!==0">
            <div class="list_top">
                <div class="top_left">
                    <p>
                        <span class="icon web-icon-font3">&#xe914;</span>
                        <span class="description">
                            {{ITEM.hotel[0].city}}　{{ITEM.hotel[0].hotelName}}
                        </span>
                    </p>
                    <p class="time">
                        <span>{{ITEM.hotel[0].startTime | date:"yyyy-MM-dd"}}至{{ITEM.hotel[0].endTime | date:"yyyy-MM-dd"}}（共N晚）</span>
                    </p>
                </div>
                <div class="top_right">
                    <p ng-if="ITEM.outTraffic[0].expenditure===0"></p>
                    <p class="budget">
                        预算：
                        <span class="number" ng-if="ITEM.outTraffic[0].budget===-1">暂无</span>
                        <span class="number" ng-if="ITEM.outTraffic[0].budget!==-1">¥{{ITEM.hotel[0].budget.toFixed(2)}}</span>
                    </p>
                    <p class="expenditure" ng-if="ITEM.outTraffic[0].expenditure!==0">
                        实际：
                        <span class="number">¥{{ITEM.outTraffic[0].expenditure.toFixed(2)}}</span>
                    </p>
                </div> 
            </div>
            <div class="list_bottom">
                <div class="status">{{renderStatus( ITEM.hotel[0] )}}</div>
                <a class="BTN" ng-click="checkInvoice()">查看票据</a>
                <a class="BTN" ng-click="">重新上传</a>
                <a class="BTN">预订</a>
            </div>
        </li>
    </ul>
    <div class="w100 button_fix">
        <input type="button" value="提交审核" class="common_btn2 w100">
    </div>
</div>