<style type="text/css">
    html,body {
        background: #F1F1F1;
    }
</style>
<div class="plan_list">
    <div class="list_tab">
        <div class="line"></div>
        <div class="dropdown">
            <div class="dropdown-header">状态：{{STATUS}}<i class="icon web-icon-font">&#xf0d7;</i></div>
            <ul class="dropdown-menu">
                <li ng-repeat="status in statuses" ng-click="selectStatus($index)" ng-class="{true:'active'}[(status===STATUS)]">{{status}}</li>
            </ul>
        </div>
        <div class="dropdown">
            <div class="dropdown-header">排序：{{ORDER}}<i class="icon web-icon-font">&#xf0d7;</i></div>
            <ul class="dropdown-menu">
                <li ng-repeat="order in orders" ng-click="selectOrder($index)" ng-class="{true:'active'}[(order===ORDER)]">{{order}}</li>
            </ul>
        </div>
    </div>
    <ul class="list_content">
        <div class="veil"></div>
        <div class="item margin_b" ng-repeat="item in items" ng-click="enterDetail(item.id)">
            <li class="item-main">
                <div class="item-left w100">
                    <div class="top">
                        <span class="journey">
                            <span ng-if="item.startPlace">{{item.startPlace}}——</span><span>{{item.destination}}</span>
                        </span>
                        <span ng-if=" item.outTraffic.length!==0 ">
                            <span class="icon web-icon-font3" ng-if=" item.outTraffic.invoiceType==='TRAIN'||item.orderStatus==='NO_BUDGET' ">&#xe911;</span><!--火车图标-->
                            <span class="icon web-icon-font3" ng-if=" item.outTraffic.invoiceType==='PLANE'||item.orderStatus!=='NO_BUDGET' ">&#xe90e;</span><!--飞机图标-->
                        </span>
                        <span class="icon web-icon-font3" ng-if=" item.hotel.length===1 ">&#xe914;</span><!--酒店图标-->
                    </div>
                    <div class="bottom">
                        <p>
                            {{item.startAt | date:'yyyy年MM月dd日'}}
                            <span ng-if="item.backAt">- {{item.backAt | date:'yyyy年MM月dd日'}}<span>
                        </p>
                        <p class="projectName">项目：{{item.description}}</p>
                    </div>                    
                </div>
                <div class="item-right">
                    <div class="top">{{renderItemStatus($index)}}</div>
                    <div class="bottom">
                        <p class="budget" ng-if="item.status!==2">
                            预算：<span ng-if="item.budget>=0">￥{{item.budget.toFixed(2)}}</span><span ng-if="item.budget<0">暂无</span>
                        </p>
                        <p class="points" ng-if="item.status===2">积分：<span>{{item.score}}</span></p>
                    </div>
                </div>
            </li>
            <ul class="complete" ng-if="item.status===2">
                <li>
                    <span class="number">￥{{item.budget.toFixed(2)}}</span><br/>
                    <span class="name" style="color:#9B9B9B">预算</span>
                    <div class="bar"></div>
                </li>
                <li>
                    <span class="number">￥{{item.expenditure.toFixed(2)}}</span><br/>
                    <span class="name" style="color:#9B9B9B">实际</span>
                    <div class="bar"></div>
                </li>
                <li ng-class="{true:'withBalance',false:'withDeficit'}[withBalance]">
                    <span class="number">￥{{renderBalance($index).toFixed(2)}}</span><br/>
                    <span class="name">{{renderBalanceOrDeficit($index)}}</span>
                </li>
            </ul>
        </div>

        <p class="tips" ng-if="tips" ng-bind-html="tips"></p>

    </ul>
</div>