<style type="text/css">
    html,body {
        background: #F1F1F1;
    }
</style>
<div class="plan_detail">
    <div class="HEADER w100">
        <div class="timeStamp">生成时间：{{ITEM.createAt | date:"yyyy-MM-dd HH:mm:ss"}}</div>
        <div class="totalBudget w100">
            <span ng-if="ITEM.status===-1">暂无</span>
            <span ng-if="ITEM.status===0">¥{{ITEM.budget.toFixed(2)}}</span>
            <span ng-if="ITEM.status===1">¥{{ITEM.budget.toFixed(2)}}</span>
            <span ng-if="ITEM.status===2">{{ITEM.score}}</span>
        </div>
        <div class="text w100">
            <span ng-if="ITEM.status!==2">总预算</span>
            <span ng-if="ITEM.status===2">积分</span>
        </div>
    </div>
    <ul class="complete" ng-if="ITEM.status===2">
        <li>
            <span class="number">¥{{ITEM.budget.toFixed(2)}}</span><br>
            <span>预算</span>
            <div class="bar"></div>
        </li>
        <li>
            <span class="number">¥{{ITEM.expenditure.toFixed(2)}}</span><br>
            <span>实际</span>
            <div class="bar"></div>
        </li>
        <li>
            <span class="number" ng-if="ITEM.budget>=ITEM.expenditure" style="color:#3CA5F6">¥{{renderDeficit()}}</span>
            <span class="number" ng-if="ITEM.budget<ITEM.expenditure" style="color:#F23B3B">¥{{renderDeficit()}}</span>
            <br>
            <span ng-if="ITEM.budget>=ITEM.expenditure" style="color:#3CA5F6">节省</span>
            <span ng-if="ITEM.budget<ITEM.expenditure" style="color:#F23B3B">超支</span>
        </li>
    </ul>
    <div class="project">项目：{{ITEM.description}}</div>
    <ul class="CONTENT">
        <!-- departure -->
        <li class="departure" ng-if="  ITEM.outTraffic.length!==0  ">
            <div class="list_top">
                <div class="top_left">
                    <p>
                        <span class="icon web-icon-font3" ng-if="  ITEM.outTraffic[0].invoiceType==='TRAIN'||ITEM.outTraffic[0].orderStatus==='NO_BUDGET'  ">&#xe911;</span><!--火车图标-->
                        <span class="icon web-icon-font3" ng-if="  ITEM.outTraffic[0].invoiceType==='PLANE'&&ITEM.outTraffic[0].orderStatus!=='NO_BUDGET'  ">&#xe90e;</span><!--飞机图标-->
                        <span class="description">
                            {{ITEM.outTraffic[0].startPlace}}
                            <span style="vertical-align:top;display:inline-block;background: url(mobile/images/arr.png) no-repeat bottom;background-size: 100%;">
                                去程
                            </span>
                            {{ITEM.outTraffic[0].arrivalPlace}}
                        </span>
                    </p>
                    <p class="time">
                        <span>{{ITEM.outTraffic[0].startTime | date:"yyyy-MM-dd"}}出发</span>
                        <span ng-if="  ITEM.outTraffic[0].latestArriveTime  "> {{ITEM.outTraffic[0].latestArriveTime | date:"HH:mm"}}前到达</span>
                    </p>
                </div>
                <div class="top_right">
                    <p ng-if="ITEM.outTraffic[0].expenditure===0"></p>
                    <p class="budget">
                        预算：
                        <span class="number" ng-if="  ITEM.outTraffic[0].orderStatus==='NO_BUDGET'  ">暂无</span>
                        <span class="number" ng-if="  ITEM.outTraffic[0].orderStatus!=='NO_BUDGET'  ">¥{{ITEM.outTraffic[0].budget.toFixed(2)}}</span>
                    </p>
                    <p class="expenditure" ng-if="  ITEM.outTraffic[0].expenditure!==0  ">
                        实际：
                        <span class="number">¥{{ITEM.outTraffic[0].expenditure.toFixed(2)}}</span>
                    </p>
                </div> 
            </div>
            <div class="list_bottom">
                <div class="status" ng-class="{true:'rejected'}[ITEM.outTraffic[0].orderStatus==='AUDIT_NOT_PASS']">{{renderStatus( ITEM.outTraffic[0],$index )}}</div>
                <div class="buttons" ng-if="  ITEM.outTraffic[0].orderStatus!=='NO_BUDGET'  ">
                    <a class="BTN" ng-if="  ITEM.outTraffic[0].orderStatus==='WAIT_UPLOAD'  " ng-click="book( 'outTraffic' )" ng-hide="ITEM.outTraffic[0].invoiceType==='TRAIN'">预订</a>
                    <div class="BTN" ng-if="  ITEM.outTraffic[0].orderStatus==='WAIT_UPLOAD'  " ng-click="">
                        <input type="file" nv-file-select="" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{imgwidth:{{winWidth}},after:outtraffic_up,done:outtraffic_done}">
                        上传票据
                    </div>
                    <div class="BTN" ng-if="  
                        ITEM.outTraffic[0].orderStatus==='WAIT_COMMIT'||
                        ITEM.outTraffic[0].orderStatus==='AUDIT_NOT_PASS'  " ng-click="">
                        <input type="file" nv-file-select="" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{imgwidth:{{winWidth}},after:outtraffic_up,done:outtraffic_done}">
                        重新上传
                    </div>
                    <a class="BTN" ng-if="  
                        ITEM.outTraffic[0].orderStatus==='WAIT_COMMIT'||
                        ITEM.outTraffic[0].orderStatus==='WAIT_AUDIT'||
                        ITEM.outTraffic[0].orderStatus==='AUDIT_NOT_PASS'||
                        ITEM.outTraffic[0].orderStatus==='AUDIT_PASS'  " ng-click="checkInvoice( 'outTraffic' )">查看票据</a>
                </div>
            </div>
        </li>
        <!-- return -->
        <li class="return" ng-if="  ITEM.backTraffic.length!==0  ">
            <div class="list_top">
                <div class="top_left">
                    <p>
                        <span class="icon web-icon-font3" ng-if="  ITEM.backTraffic[0].invoiceType==='TRAIN'||ITEM.backTraffic[0].orderStatus==='NO_BUDGET'  ">&#xe911;</span><!--火车图标-->
                        <span class="icon web-icon-font3" ng-if="  ITEM.backTraffic[0].invoiceType==='PLANE'&&ITEM.backTraffic[0].orderStatus!=='NO_BUDGET'  ">&#xe90e;</span><!--飞机图标-->
                        <span class="description">
                            {{ITEM.backTraffic[0].startPlace}}
                            <span style="vertical-align:top;display:inline-block;background: url(mobile/images/arr.png) no-repeat bottom;background-size: 100%;">
                                回程
                            </span>
                            {{ITEM.backTraffic[0].arrivalPlace}}
                        </span>
                    </p>
                    <p class="time">
                        <span>{{ITEM.backTraffic[0].startTime | date:"yyyy-MM-dd"}}出发</span>
                        <span ng-if="  ITEM.backTraffic[0].latestArriveTime  "> {{ITEM.backTraffic[0].latestArriveTime | date:"HH:mm"}}前到达</span>
                    </p>
                </div>
                <div class="top_right">
                    <p ng-if="  ITEM.backTraffic[0].expenditure===0  "></p>
                    <p class="budget">
                        预算：
                        <span class="number" ng-if="  ITEM.backTraffic[0].orderStatus==='NO_BUDGET'  ">暂无</span>
                        <span class="number" ng-if="  ITEM.backTraffic[0].orderStatus!=='NO_BUDGET'  ">¥{{ITEM.backTraffic[0].budget.toFixed(2)}}</span>
                    </p>
                    <p class="expenditure" ng-if="  ITEM.backTraffic[0].expenditure!==0  ">
                        实际：
                        <span class="number">¥{{ITEM.backTraffic[0].expenditure.toFixed(2)}}</span>
                    </p>
                </div> 
            </div>
            <div class="list_bottom">
                <div class="status" ng-class="{true:'rejected'}[ITEM.backTraffic[0].orderStatus==='AUDIT_NOT_PASS']">{{renderStatus( ITEM.backTraffic[0] )}}</div>
                <div class="buttons" ng-if="ITEM.backTraffic[0].budget!==-1">
                    <a class="BTN" ng-if="  ITEM.backTraffic[0].orderStatus==='WAIT_UPLOAD'  " ng-click="book( 'backTraffic' )" ng-hide="ITEM.backTraffic[0].invoiceType==='TRAIN'">预订</a>
                    <div class="BTN" ng-if="  ITEM.backTraffic[0].orderStatus==='WAIT_UPLOAD'  " ng-click="">
                        <input type="file" nv-file-select="" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{imgwidth:{{winWidth}},after:backtraffic_up,done:backtraffic_done}">
                        上传票据
                    </div>
                    <div class="BTN" ng-if="  
                        ITEM.backTraffic[0].orderStatus==='WAIT_COMMIT'||
                        ITEM.backTraffic[0].orderStatus==='AUDIT_NOT_PASS'  " ng-click="">
                        <input type="file" nv-file-select="" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{imgwidth:{{winWidth}},after:backtraffic_up,done:backtraffic_done}">
                        重新上传
                    </div>
                    <a class="BTN" ng-if="  
                        ITEM.backTraffic[0].orderStatus==='WAIT_COMMIT'||
                        ITEM.backTraffic[0].orderStatus==='WAIT_AUDIT'||
                        ITEM.backTraffic[0].orderStatus==='AUDIT_NOT_PASS'||
                        ITEM.backTraffic[0].orderStatus==='AUDIT_PASS'  " ng-click="checkInvoice( 'backTraffic' )">查看票据</a>
                </div>
            </div>
        </li>
        <!-- hotel -->
        <li class="hotel" ng-if="  ITEM.hotel.length!==0  ">
            <div class="list_top">
                <div class="top_left">
                    <p>
                        <span class="icon web-icon-font3">&#xe914;</span>
                        <span class="description">
                            {{ITEM.hotel[0].city}}　{{ITEM.hotel[0].hotelName}}
                        </span>
                    </p>
                    <p class="time">
                        <span>{{ITEM.hotel[0].startTime | date:"yyyy-MM-dd"}}至{{ITEM.hotel[0].endTime | date:"yyyy-MM-dd"}}（共{{timeSpan}}晚）</span>
                    </p>
                </div>
                <div class="top_right">
                    <p ng-if="  ITEM.hotel[0].expenditure===0  "></p>
                    <p class="budget">
                        预算：
                        <span class="number" ng-if="  ITEM.hotel[0].orderStatus==='NO_BUDGET'  ">暂无</span>
                        <span class="number" ng-if="  ITEM.hotel[0].orderStatus!=='NO_BUDGET'  ">¥{{ITEM.hotel[0].budget.toFixed(2)}}</span>
                    </p>
                    <p class="expenditure" ng-if="ITEM.hotel[0].expenditure!==0">
                        实际：
                        <span class="number">¥{{ITEM.hotel[0].expenditure.toFixed(2)}}</span>
                    </p>
                </div> 
            </div>
            <div class="list_bottom">
                <div class="status" ng-class="{true:'rejected'}[ITEM.hotel[0].orderStatus==='AUDIT_NOT_PASS']">{{renderStatus( ITEM.hotel[0] )}}</div>
                <div class="buttons" ng-if="  ITEM.hotel[0].budget!==-1  ">
                    <a class="BTN" ng-if="  ITEM.hotel[0].orderStatus==='WAIT_UPLOAD'  " ng-click="book( 'hotel' )" ng-hide="ITEM.hotel[0].invoiceType==='TRAIN'">预订</a>
                    <div class="BTN" ng-if="  ITEM.hotel[0].orderStatus==='WAIT_UPLOAD'  " ng-click="">
                        <input type="file" nv-file-select="" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{imgwidth:{{winWidth}},after:hoteltraffic_up,done:hoteltraffic_done}">
                        上传票据
                    </div>
                    <div class="BTN" ng-if="  
                        ITEM.hotel[0].orderStatus==='WAIT_COMMIT'||
                        ITEM.hotel[0].orderStatus==='AUDIT_NOT_PASS'  " ng-click="">
                        <input type="file" nv-file-select="" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{imgwidth:{{winWidth}},after:hoteltraffic_up,done:hoteltraffic_done}">
                        重新上传
                    </div>
                    <a class="BTN" ng-if="  
                        ITEM.hotel[0].orderStatus==='WAIT_COMMIT'||
                        ITEM.hotel[0].orderStatus==='WAIT_AUDIT'||
                        ITEM.hotel[0].orderStatus==='AUDIT_NOT_PASS'||
                        ITEM.hotel[0].orderStatus==='AUDIT_PASS'  " ng-click="checkInvoice( 'hotel' )">查看票据</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="w100 button_fix" ng-if="  ITEM.orderStatus!=='COMPLETE'&&ITEM.orderStatus!=='NO_BUDGET'  ">
        <a class="BUTTON common_btn2 w100" ng-class="{true:'active'}[ITEM.orderStatus==='WAIT_COMMIT']" ng-click="commit()" style="display:block">{{renderBUTTON()}}</a>
    </div>
</div>