<div class="companylist">
    <div class="companylist">

        <div class="companylist-title">
            <div class="company_search">
                <h3>日志列表</h3>
            </div>
        </div>

        <table class="company" style="text-align: center;">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>操作人</th>
                    <th colspan="2">备注</th>
                    <th>创建时间</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="log in logList track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{log.agency_user}}</td>
                    <td colspan="2" style="text-align: left;padding: 0 10px;">{{log.remark}}</td>
                    <td>{{log.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a ng-click="prevPage()" ng-if="pager.hasPrevPage()">上一页</a>
                        <a ng-click="nextPage()" ng-if="pager.hasNextPage()">下一页</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination" id="pagination"></ul>
</div>