<div class="companylist">
    <div class="companylist">
        <div class="companylist-title">
            <div class="company_search">
                <h3>日志列表</h3>
            </div>
        </div>
        <table class="company">
            <tr>
                <td>序号</td>
                <td>操作人</td>
                <td colspan="2">备注</td>
                <td>创建时间</td>
                <td>修改时间</td>
                <td>删除时间</td>
            </tr>
            <tr ng-repeat="log in logList track by $index">
                <td>{{$index+1}}</td>
                <td>{{log.agency_user}}</td>
                <td colspan="2">{{log.remark}}</td>
                <td>{{log.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>{{log.updatedAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>{{log.deletedAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
            </tr>
            <tr>
                <td colspan="7">
                    <a ng-click="prevPage()" ng-if="pager.hasPrevPage()">上一页</a>
                    <a ng-click="nextPage()" ng-if="pager.hasNextPage()">下一页</a>
                </td>
            </tr>
        </table>
    </div>
    <ul class="pagination" id="pagination"></ul>
</div>