<div class="corphome">
	<!-- <div class="account_detail">
		<h3>账户信息</h3>
		<table width="100%">
			<tr>
				<td>联系人：<span>{{staff.name}}</span></td>
				<td>密码：<span>**********</span><a href="">修改</a></td>
				<td>员工专项奖励金额：<span>￥{{funds.balance}}</span><a href="">充值</a></td>
			</tr>
			<tr>
				<td>电子邮箱：<span>{{staff.email}}</span></td>
				<td>联系电话：<span>{{staff.mobile}}</span></td>
				<td>公司ID：<span>{{company.companyNo}}</span></td>
			</tr>
		</table>
	</div> -->
	<div class="corp_chart">
		<h3>{{month}}月结算信息</h3>
		<div id="charts" style="width:100%;height:245px;"></div>
		<div class="charts_legend">
			<p>动态预算：员工当月出差记录的累计支出</p>
			<p>计划支出：对应当月已完成出差记录的动态预算累计</p>
			<p>实际支出：当月已完成出差记录的实际支出</p>
		</div>
		<div class="charts_diff">
			<p>{{different}}</p>
		</div>
	</div>
	<div class="corp_staff">
		<h3>员工信息管理<a href="#/StaffManage/StaffInfoManage">查看详细>></a></h3>
		<div class="staff_left">
			<div class="staff_num">共<span>{{num.all}}</span>名</div>
			<ul>
				<li>本月新增<span>{{num.inNum}}</span></li>
				<li>本月离开<span>{{num.outNum}}</span></li>
			</ul>
		</div>
		<div class="staff_right">
			<a href="#/StaffManage/StaffInfoManage" class="web-icon-font">&#xf067;&nbsp;添加员工</a>
		</div>
	</div>
	<div class="corp_business">
		<h3>差旅标准<a href="#/TravelPolicy/PolicyList">查看详细>></a></h3>
		<div class="business_left">
			<div class="business_standard">
				<span class="b_name">{{travelLevel.name}}</span>
				<ul>
					<li>
						<span class="web-icon-font3">&#xe90e;</span>
						<p ng-if="travelLevel.planeLevel != '不限'">{{travelLevel.planeLevel}}</p>
						<p ng-if="travelLevel.planeLevel == '不限' && travelLevel.planeDiscount != 0">最高{{travelLevel.planeDiscount}}折</p>
						<p ng-if="travelLevel.planeLevel == '不限' && travelLevel.planeDiscount == 0">任意飞</p>
					</li>
					<li>
						<span class="web-icon-font3">&#xe914;</span>
						<p ng-if="travelLevel.hotelLevel == '不限' && travelLevel.hotelPrice == null">任意住</p>
						<p ng-if="travelLevel.hotelLevel == '不限' && travelLevel.hotelPrice != null">{{travelLevel.hotelPrice}}元/晚</p>
						<p ng-if="travelLevel.hotelLevel != '不限'">{{travelLevel.hotelLevel}}</p>
					</li>
					<li>
						<span class="web-icon-font3">&#xe911;</span>
						<p ng-if="travelLevel.trainLevel == '不限'">不限座次</p>
						<p ng-if="travelLevel.trainLevel != '不限'">{{travelLevel.trainLevel}}</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="business_right">
			<a href="#/TravelPolicy/PolicyList" class="web-icon-font"><span class="web-icon-font3">&#xe905;</span>&nbsp;进行设置</a>
		</div>
	</div>
	<!-- <div class="corp_welfare" ng-if="funds.balance == 0">
		<h3>员工福利信息<a href="">查看详细>></a></h3>
		<ul>
			<li>
				<img src="corp/images/JD.png">
				<p>JD ￥50 e卡</p>
			</li>

			<li>
				<img src="corp/images/JD.png">
				<p>JD ￥100 e卡</p>
			</li>
			<li>
				<img src="corp/images/JD.png">
				<p>JD ￥200 e卡</p>
			</li>
		</ul>
		<div class="corp_count">
			<div class="corp_funds">
				<span>￥{{funds.income-funds.consume-funds.frozen}}</span>
				<p>增收节支专项奖励账户余额</p>
			</div>
			<div>
				<div class="ranking">
					<span>1</span>
					<p>行业排名</p>
				</div>
				<div class="fund_all">公司累计投入专项奖金共：￥{{funds.income}}</div>
			</div>
		</div>
	</div> -->
	<div class="corp_welfare nocharge" ng-if="funds.income == 0">
		<h3>员工福利信息<a href="">查看详细>></a></h3>
		<ul>
			<li>
				<h4>员工贡献</h4>
				<p>当前员工累计积分为{{point.totalPoints}}，累计为公司节省￥{{point.totalPoints*2}}。</p>
			</li>
			<li>
				<h4>福利奖品</h4>
				<p>点亮后员工才可以积分兑换</p>
				<img src="corp/images/JD.png">
			</li>
			<li>
				<h4>如何为员工点亮福利</h4>
				<p>每个企业对应一个员工奖励增收节支专项奖励账户，此账户资金仅用于员工奖励向账户充值，点亮福利奖品。</p>
				<div class="pointscale">1积分=1元</div>
			</li>
		</ul>
		<div class="corp_count">
			<div class="corp_funds">
				<span>￥{{funds.income-funds.consume-funds.frozen}}<a href="javascript:void(0);" ng-click="withoutcharge()">充值</a></span>
				<p>增收节支专项奖励账户余额</p>
			</div>
			<div>
				<div class="ranking">
					<span>…</span>
					<p>没有名次</p>
				</div>
				<div class="fund_all">公司累计投入专项奖金共：￥{{funds.income}}</div>
			</div>
		</div>
	</div>
	<div class="corp_welfare" ng-if="funds.balance != 0 &&funds.income != 0">
		<h3>员工福利信息<a href="#/StaffAwardPlan/StaffAwardPlan">查看详细>></a></h3>
		<ul>
			<li>
				<img src="corp/images/JD.png">
				<p>JD ￥50 e卡</p>
			</li>

			<li>
				<img src="corp/images/JD.png">
				<p>JD ￥100 e卡</p>
			</li>
			<li>
				<img src="corp/images/JD.png">
				<p>JD ￥200 e卡</p>
			</li>
		</ul>
		<div class="corp_count">
			<div class="corp_funds">
				<span>￥{{funds.income-funds.consume-funds.frozen}}</span>
				<p>增收节支专项奖励账户余额</p>
			</div>
			<div>
				<div class="ranking">
					<span>1</span>
					<p>行业排名</p>
				</div>
				<div class="fund_all">公司累计投入专项奖金共：￥{{funds.income}}</div>
			</div>
		</div>
	</div>
</div>
<div class="wayToCharge">
	<div class="ToCharge_box">
		 <div class='ToCharge_title'>采购方法<div class='ToCharge_close' ng-click='closeToCharge()'><img src='/images/closezjx.png' style='display: block;'></div></div>
		 <div class="ToCharge_content">
            <p>直接转账到公司基本户账户，转账成功后请电话联系或QQ 截图留言；</p>
            <p>审核核通过后，该笔记录会在员工专项奖励余额中体现；</p>
            <p>户名：途灵岛（北京）信息技术股份有限公司</p>
            <p>开户行：中国建设银行北京西直门分行</p>
            <p>账号：1100 1094 0000 5300 5802</p>
            <p>联系电话：010-57371105 <span class="qq">QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=11623403&site=qq&menu=yes"><img border="0" style="vertical-align:middle;" src="http://wpa.qq.com/pa?p=2:11623403:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></span></p>
            <p class="tip_block">线上支付开发中，敬请期待</p>
		 </div>
	</div>
</div>




<section class="confirmFixed">
	<div class="confirmbox">
		<div class="confirmbox_t">
			<span style="float: left;">提示</span>
			<span ng-click="confirmClose()" style="float: right;"><img src="agency/images/close.jpg"></span>
		</div>
		<div class="confirmbox_p">
			<div class="messageText" style="height: 30px; line-height: 30px; text-align: center; padding: 20px;">亲，优先设置公司差旅标准哦！</div>
			<div style="margin-top: 10px;">
				<input type="button" value="设置差旅标准" ng-click="goPolicyList()" class="common_btn1" style="width: 120px; margin-left: 115px;">
			</div>
		</div>
	</div>
</section>



