.idea
.vscode
node_modules
/tmp
/log
/dist
/public/script/libs
/www/script/libs
/www/attachments
/doc
/www/upload
/config/config.local.json
/public/*/css/*.css
/public/*/scss/*.css
/www/*/scss/*.css
/public/*/less/*.css
/www/*/less/*.css
/www/manifest.json
/www/fonts/font-awesome.css
*.map
controller.all.js
/temp
/public/temp
/public/temp/*
/public/font/font-awesome-*
!public/font/css/icomoon.css
npm-debug.log
tools
ionic/resources/android
ionic/resources/ios
*.bak
ts-node/*
ts-node/
wyl_test/
mytest/
nglibs/**/*.js
package-lock.json
meiyaData/