<!DOCTYPE html>
<html lang="en" ng-app="debugModule" ng-controller="debug">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>预算调试</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>

    <style>
        .show {
            display: block;
        }
        .hidden {
            display: none;
        }
        th{
            width:227px;
        }
        a{
            cursor: pointer;
        }
        table .table-bordered td{
            padding-left: 15px;
            padding-right: 15px;
        }
        table .pointer td{
            cursor: pointer;
        }
    </style>
</head>
<body>

<h2>预算调试页面</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>选择数据来源</th>
            <td>
                <select ng-model="originServer" ng-options="x.name for x in originServers" ng-change="changeServer()">
                </select>
            </td>
        </tr>
        <tr>
            <th>选择原始数据</th>
            <td>
                <select ng-model="originData" ng-options="x.title for x in originDatas" ng-change="changeOrigin()">
                </select>
                <input style="margin-left: 20px" type="button" class="btn btn-primary" value="获取预算" id="calBudgetBtn" ng-click="getBudget()"/>
            </td>
        </tr>
        <tr>
            <th>预算结果</th>
            <td>
                <a ng-show="hideCalResult" ng-click="hideCalResult = !hideCalResult">隐藏</a>
                <a ng-hide="hideCalResult" ng-click="hideCalResult = !hideCalResult">显示</a>
                <div placeholder="预算结果" rows="4" cols="80" ng-if="hideCalResult">
                    <table class="table-bordered">
                        <tr ng-repeat="(x,y) in result" ng-hide="$last">
                            <td>{{translate_result[x].translate}}</td>
                            <td>{{y}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <th>使用策略</th>
            <td>
                <select ng-model="policy">
                    <option value="default">默认策略</option>
                    <option value="bmw">最高价策略</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>打分详情</th>
            <td>
                <a ng-show="hideScoreDetail" ng-click="hideScoreDetail = !hideScoreDetail">隐藏</a>
                <a ng-hide="hideScoreDetail" ng-click="hideScoreDetail = !hideScoreDetail">显示</a>
                <div placeholder="打分详情" ng-if="hideScoreDetail">
                    <table>
                        <tr ng-repeat="prefer in ori_prefers" style="height:50px">
                            <td style="color: #4A4EC1;padding-right: 5px">{{$index}}</td>
                            <td style="padding-right: 15px">{{translate_prefer[prefer.name].template[prefer.name]}}</td>
                            <!--<td><input type="text" style="width:1200px" ng-model="prefer.options" value="{{prefer.options}}"></td>-->
                            <td ng-repeat="(x,y) in prefer.options">
                                {{translate_prefer[prefer.name].template[x]}}
                                <input style="width:auto" ng-model="prefer.options[x]" type="text">
                            </td>
                            <td style="padding-left: 15px;color: #9e0505">
                                <span style="cursor: pointer" ng-click="delete($index)">删除</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <br/>
                <select ng-model="prefer" ng-change="change()">
                    <option ng-repeat="x in prefers" value="{{x.value}}">{{x.title}}</option>
                </select>
                <input type="button" value="复制数据" data-toggle="modal" data-target="#copymodal">
                <input type="button" value="粘贴" ng-click="paste()">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <!--<input type="button" class="btn btn-primary" value="获取预算" id="calBudgetBtn" ng-click="getBudget()"/>-->
            </td>
        </tr>
        <tr>
            <th>原始数据:</th>
            <td>
                <a ng-hide="showScoreData" ng-click="showScoreData = !showScoreData">显示</a>
                <a ng-show="showScoreData" ng-click="showScoreData = !showScoreData">隐藏</a>
                <table  class="table-bordered text-center" ng-if="showScoreData">
                    <tr ng-show="ishotel" class="pointer">
                        <td ng-click="changeOrder('name',false,1)">酒店名称</td>
                        <td ng-click="changeOrder('star',false,2)">星级</td>
                        <td ng-click="changeOrder('price',false,3)">价格</td>
                        <td ng-click="changeOrder('score',false,4)">分数</td>
                        <td>打分详情--
                            <span style="color:blue;cursor: pointer" ng-show="!showReason" ng-click="showReason = !showReason">显示</span>
                            <span style="color:blue;cursor: pointer" ng-show="showReason" ng-click="showReason = !showReason">隐藏</span>
                        </td>
                        <td>查看地图</td>
                    </tr>
                    <tr  ng-repeat="x in originData.markedData | orderBy:order:orderBealoon" ng-show="ishotel">
                        <!--酒店的数据-->
                        <td>{{x.name}}</td>
                        <td>{{x.star}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.score}}</td>
                        <td>
                            <div ng-show="showReason" ng-repeat="reason in x.reasons">{{reason}}</div>
                        </td>
                        <td style="color:#1e90ff;cursor:pointer" ng-click="showMap(x.longitude,x.latitude)">查看地图</td>
                    </tr>
                </table>
                <table  class="table-bordered text-center " ng-if="showScoreData">
                    <tr ng-show="!ishotel" class="pointer">
                        <td ng-click="changeOrder('No',false,7)">航班号/车次</td>
                        <td ng-click="changeOrder('carry',false,8)">航空公司</td>
                        <td>出发地</td>
                        <td>到达地</td>
                        <td ng-click="changeOrder('departDateTime',false,11)">出发时间</td>
                        <td ng-click="changeOrder('arrivalDateTime',false,12)">结束时间</td>
                        <td ng-click="changeOrder('cabin',false,13)">舱位/座次</td>
                        <td ng-click="changeOrder('price',false,14)">价格</td>
                        <td ng-click="changeOrder('score',false,15)">分数</td>
                        <td>打分详情--
                            <span style="color:blue;cursor: pointer" ng-show="!showReason" ng-click="showReason = !showReason">显示</span>
                            <span style="color:blue;cursor: pointer" ng-show="showReason" ng-click="showReason = !showReason">隐藏</span>
                        </td>
                        <td ng-click="changeOrder('agent',false,17)">供应商</td>
                    </tr>
                    <tr ng-repeat="x in originData.markedData | orderBy:order:orderBealoon" ng-show="!ishotel">
                        <!--航班的数据-->
                        <td>{{x.No}}</td>
                        <td>{{x.carry}}</td>
                        <td>
                            <div ng-if="x.type==1">{{x.originPlace}}</div>
                            <div ng-if="x.type==0">{{x.originStation}}</div>
                        </td>
                        <td>
                            <div ng-if="x.type==1">{{x.destination}}</div>
                            <div ng-if="x.type==0">{{x.destinationStation}}</div>
                        </td>
                        <td>{{x.departDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{x.arrivalDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{x.cabin}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.score}}</td>
                        <td>
                            <div ng-show="showReason" ng-repeat="reason in x.reasons">{{reason}}</div>
                        </td>
                        <td>{{x.agent}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!--复制粘贴的模态弹出框-->
<div class="modal" id="copymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">复制的数据</h4>
            </div>
            <div class="modal-body">
                <textarea style="width: 100%;height: 500px;">{{ori_prefers}}</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" ng-click="copy()" class="btn btn-primary" data-dismiss="modal">确认复制</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--复制粘贴的模态弹出框-->
<script src="./index.js"></script>
</body>
</html>