$color:#4a4a4a;
.staff{
  color: $color;
  .item-thumbnail-left {
    position: relative;
    min-height: 80px;
    padding-left: 86px;
    .avatar{
      position:absolute;
      top: 10px;
      left: 10px;
      font-size: 16px;
      width: 64px;
      height: 64px;
      line-height: 64px;
      font-weight: bold;
      border-radius: 50%;
      //background: rgb(36,149,218);
    }
    h2{
      font-size: 18px;
      line-height: 30px;
      margin-top: 0;
      display: flex;
      align-items: center;
      .badge{
        font-size: 12px;
        line-height: 18px;
        margin-left: 10px;
      }
    }
    p{
      color: $color;
    }
    .icon{
      position: absolute;
      right: 10px;
      top:50%;
      color: $color;
    }
  }
  .card{
    .item.flex-111{
      padding:0;
      .item-avatar{
        position: relative;
        min-height: 60px;
        h2{
          margin-top: 10px;
          font-size: 18px;
          font-weight: bold;
          color: $color;
        }
        p{
          color: #9b9b9b;
          font-size: 12px;
        }
        .bg_icon{
          margin: 13px 20px;
          position: absolute;
          border-radius: 50%;
          color: #fff;
          left: 0;
          height: 34px;
          width: 34px;
          text-align: center;
          line-height: 34px;
          font-size: 16px;
        }
        &:first-child{
          border-right: 1px solid #ddd;
          .bg_icon{
            background: #50e3c2;
          }
        }
        &:last-child{
          .bg_icon{
            background: #f5a623;
          }
        }
      }
      @media (max-width: 320px) {
        .item-avatar{
          padding-left:60px;
          .bg_icon{
            margin: 13px 15px;
          }
        }
      }
    }
  }
  .list{
    .item-divider{
      padding: 10px;
      color: $color;
      background: #fff;
      .icon{
        color: #28a7e1;
        margin-right: 5px;
        &.item-note{
          color: $color;
        }
      }
    }
    .item{
      padding: 10px;
      a{
        text-align: center;
        color: $color;
        .icon{
          font-size: 22px;
        }
        p{
          font-size: 12px;
        }
      }
    }
    &:last-child{
      .item-divider{
        .icon{
          color: #f5a623;
        }
      }
      .item{
        text-align: center;
        > div{
          h2{
            font-size: 20px;
          }
          p{
            font-size: 12px;
            color: #282828;
          }
          &:nth-child(1){
            h2{
              color: #9013fe;
            }
          }
          &:nth-child(2){
            position: relative;
            .border-left{
              position: absolute;
              top: 10%;
              left: 0;
              border-left: 1px solid #ddd;
              height: 80%;
            }
            .border-right{
              position: absolute;
              top: 10%;
              right: 0;
              border-left: 1px solid #ddd;
              height: 80%;
            }
            h2{
              color: #F5A623;
            }
          }
          &:nth-child(3){
            h2{
              color: #417505;
            }
          }
        }
      }
    }
  }
  .button-calm{
    font-size: 20px;
    .fa{
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
