* {
  margin: 0;
  padding: 0;
  font-family: "Pingfang SC", "Noto Sans Han", "HeiTi SC", "Droid Sans Fallback", "Microsoft Yahei";
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}
.fontawesome {
  font-family: 'fontawesome';
  font-style: normal;
}
.JingliTech {
  background: url("../images/bg_new2.png") #2c93c3 no-repeat;
  background-size: cover;
  background-position: 50% 0;
  padding-top: 156px;
}
.JingliTech header {
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 99999;
  left: 0;
  top: 0;
}
.JingliTech header .JLlogo {
  background: url(../images/logo_c.png) no-repeat;
  height: 50px;
  width: 212px;
  float: left;
  margin: 10px 54px;
}
.JingliTech header .JLtry {
  float: right;
  margin: 10px 52px;
}
.JingliTech header .JLtry a {
  width: 98px;
  height: 45px;
  line-height: 44px;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.JingliTech header .JLtry a:first-child {
  margin-right: 10px;
  background: #394055;
  color: #fff;
}
.JingliTech header .JLtry a:last-child {
  border: 3px solid #f5a623;
  width: 92px;
  height: 39px;
  line-height: 39px;
  color: #f5a623;
}
.JingliTech header .header-menu {
  position: absolute;
  padding-right: 0;
  overflow: hidden;
  height: 100%;
  margin: 0 0 0 -204px;
  width: 408px;
  text-align: center;
  left: 50%;
}
.JingliTech header .header-menu ul {
  position: absolute;
  width: 408px;
  text-align: center;
  padding-top: 15px;
}
.JingliTech header .header-menu ul li {
  float: left;
}
.JingliTech header .header-menu ul li a {
  font-size: 15px;
  font-weight: 700;
  margin: 0 25px;
  padding: 11px;
  display: inline-block;
  color: #394055;
}
.JingliTech footer {
  height: 336px;
  width: 100%;
  background-color: #212121;
  position: relative;
}
.JingliTech footer .main {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 30px;
}
.JingliTech footer .main h3 {
  color: #fff;
  font-size: 28px;
  font-weight: normal;
}
.JingliTech footer .main .left {
  width: 400px;
  color: #fff;
  float: left;
}
.JingliTech footer .main .left p {
  width: 230px;
  margin-top: 24px;
  color: #a9a9a9;
}
.JingliTech footer .main .left p:last-child {
  text-align: right;
}
.JingliTech footer .main .left p:last-child a {
  text-decoration: underline;
  color: #a9a9a9;
}
.JingliTech footer .main .middle {
  width: 330px;
  float: left;
  margin: 0 5px;
}
.JingliTech footer .main .middle p {
  color: #a9a9a9;
  margin: 10px 0;
}
.JingliTech footer .main .middle p:nth-child(2) {
  margin-top: 24px;
}
.JingliTech footer .main .middle p .fa {
  margin-right: 5px;
}
.JingliTech footer .main .right {
  width: 260px;
  float: right;
  overflow: hidden;
}
.JingliTech footer .main .right .scode {
  background: #fff;
  height: 200px;
  width: 200px;
  text-align: center;
  float: right;
}
.JingliTech footer .main .right .scode img {
  margin-top: 5px;
}
.JingliTech footer .main .right ul {
  text-align: center;
  color: #fff;
  width: 200px;
  font-size: 30px;
  float: right;
}
.JingliTech footer .bottom {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #979797;
  height: 50px;
  width: 100%;
}
.JingliTech footer .bottom .main {
  padding: 0;
  line-height: 50px;
  height: 50px;
}
.JingliTech footer .bottom .main .first {
  overflow: hidden;
  display: inline-block;
}
.JingliTech footer .bottom .main .first li {
  float: left;
  color: #a9a9a9;
  width: 86px;
}
.JingliTech footer .bottom .main .second {
  color: #a9a9a9;
  float: right;
  margin-right: 50px;
}
.JingliTech footer .bottom .main .third {
  float: right;
}
.JingliTech .content {
  background-color: #FFFFFF;
  width: 520px;
  margin: 0 auto 68px;
  text-align: center;
  border-radius: 7px;
}
.JingliTech .content .content-tab {
  height: 64px;
  border-bottom: 2px solid #cecece;
  font-size: 22px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #666666;
  line-height: 64px;
  position: relative;
}
.JingliTech .content .content-tab a {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #f8f8f8;
  border: 1px solid #d6d6d6;
  margin: 0px;
  top: 20px;
  left: 20px;
  color: #000;
}
.JingliTech .content .content-tab-left,
.JingliTech .content .content-tab-right {
  float: left;
  line-height: 64px;
  width: 50%;
  color: #f5a623;
  cursor: pointer;
}
.JingliTech .content .content-tab > div.active {
  background-color: #f5a623;
  color: #ffffff;
}
.JingliTech .content .progress1,
.JingliTech .content .progress2 {
  position: relative;
  background: url("../images/step1.png") center 0 no-repeat;
  height: 100px;
  width: 367px;
  margin: 20px auto 0px;
}
.JingliTech .content .progress1 .left,
.JingliTech .content .progress2 .left {
  position: absolute;
  left: -50px;
  top: 45px;
  width: 140px;
  text-align: center;
}
.JingliTech .content .progress1 .right,
.JingliTech .content .progress2 .right {
  position: absolute;
  right: -30px;
  top: 45px;
  width: 100px;
  text-align: center;
}
.JingliTech .content .progress2 {
  background: url("../images/step2.png") center 0 no-repeat;
}
.JingliTech .content .account {
  text-align: center;
  font-size: 28px;
  width: 100%;
  margin: 0 auto 16px;
}
.JingliTech .content .account.withCode input {
  width: 170px;
  margin: 10px 14px 0 0;
}
.JingliTech .content .account.withCode #sendCode {
  font-size: 18px;
  color: #fff;
  background: #f39800;
  border-radius: 5px;
  width: 145px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
}
.JingliTech .content .account span {
  font-size: 18px;
  margin-right: 15px;
  line-height: 42px;
  text-align: right;
  font-weight: bold;
  padding-left: 18px;
}
.JingliTech .content .account input {
  width: 330px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #d4d4d4;
  padding-left: 20px;
}
.JingliTech .content .nextStep {
  font-size: 28px;
  color: #fff;
  background: #f39800;
  border-radius: 5px;
  width: 280px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  margin: 20px auto 32px;
  display: inline-block;
}
.JingliTech .content .menulist {
  height: 762px;
  width: 200px;
  border-right: 1px solid #eaeaea;
  float: left;
  margin-right: 25px;
  margin-top: 70px;
}
.JingliTech .content .menulist .fa {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 22px;
}
.JingliTech .content .menulist .fa.fa-certificate {
  color: #28a7e1;
}
.JingliTech .content .menulist .fa.fa-bullhorn {
  color: #ff0000;
}
.JingliTech .content .menulist .fa.fa-users {
  color: #7ed321;
}
.JingliTech .content .menulist .fa.fa-phone-square {
  color: #f39800;
}
.JingliTech .content .menulist ul li {
  display: inline-block;
  text-align: left;
  cursor: pointer;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.JingliTech .content .menulist ul li.active {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
  margin-right: -2px;
}
.JingliTech .content .menu_content {
  height: 800px;
  margin-top: 70px;
  margin-left: 200px;
  width: 800px;
}
.JingliTech .content .menu_content .content_inner {
  position: relative;
}
.JingliTech .content .menu_content .content_inner p {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0;
}
.JingliTech .content .menu_content .content_inner p.poem {
  font-size: 24px;
  text-indent: 30px;
}
.JingliTech .content .menu_content .content_inner img {
  position: absolute;
  right: 0;
}
.JingliTech .content .menu_content .content_inner .itemlist {
  margin-left: 24px;
}
.JingliTech .content .menu_content .content_inner .itemlist .item {
  padding-left: 15px;
  border-bottom: 1px solid #ededed;
}
.JingliTech .content .menu_content .content_inner .itemlist .item h2 {
  font-size: 20px;
  margin-top: 10px;
  position: relative;
  text-align: left;
}
.JingliTech .content .menu_content .content_inner .itemlist .item h2 .date {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #bebebe;
  font-size: 12px;
}
.JingliTech .content .menu_content .content_inner .itemlist .item .item-detail {
  font-size: 14px;
  text-indent: 0;
  line-height: 25px;
}
.JingliTech .content .menu_content .content_inner .itemlist .item .item-detail a {
  color: #4A90E2;
  cursor: pointer;
}
.JingliTech .content .menu_content .content_inner.contact p {
  text-indent: 0;
  margin: 30px 0;
}
.JingliTech .content .menu_content .content_inner.contact #allmap {
  height: 464px;
}
.JingliTech .content .menu_content .content_inner.contact #allmap img {
  right: auto;
}
.JingliTech .content #qrcode {
  width: 256px;
  margin: 0 auto;
}
.JingliTech .product .haveTry {
  background: url("../images/Mask.png") no-repeat;
  background-size: cover;
  height: 549px;
  width: 100%;
  position: relative;
}
.JingliTech .product .haveTry .pro_content {
  position: absolute;
  top: 40%;
  right: 20%;
}
.JingliTech .product .haveTry .pro_content h2 {
  font-size: 36px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  font-weight: normal;
}
.JingliTech .product .haveTry .pro_content .apply input {
  border: 1px solid #fff;
  height: 60px;
  line-height: 60px;
  padding-left: 24px;
  width: 386px;
  float: left;
  margin: 0 30px;
  background: rgba(0, 0, 0, 0.5);
}
.JingliTech .product .haveTry .pro_content .apply input::-webkit-input-placeholder {
  line-height: 60px;
}
.JingliTech .product .haveTry .pro_content .apply a {
  color: #fff;
  display: inline-block;
  background: #f39800;
  border-radius: 5px;
  width: 172px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  font-size: 20px;
}
.JingliTech .product .single,
.JingliTech .product .double {
  height: 700px;
}
.JingliTech .product .single .main,
.JingliTech .product .double .main {
  width: 1100px;
  margin: 0 auto;
  height: 700px;
}
.JingliTech .product .single .main h3,
.JingliTech .product .double .main h3 {
  font-size: 36px;
  color: #28a7e1;
}
.JingliTech .product .single .main h4,
.JingliTech .product .double .main h4 {
  font-size: 36px;
  color: #f49900;
}
.JingliTech .product .single .main p,
.JingliTech .product .double .main p {
  font-size: 22px;
  color: #394055;
  width: 450px;
}
.JingliTech .product .single {
  vertical-align: middle;
  background: #fff;
}
.JingliTech .product .single .left {
  float: left;
  margin: 100px 130px 0 0;
}
.JingliTech .product .single .right {
  display: inline-block;
  width: 450px;
  margin-top: 230px;
}
.JingliTech .product .double {
  background: #fdfdfd;
}
.JingliTech .product .double .left {
  float: left;
  margin: 270px 40px 0 0;
  width: 450px;
}
.JingliTech .product .double .right {
  display: inline-block;
  margin-top: 120px;
}
.JingliTech .partner {
  background: #eee;
  padding-bottom: 60px;
}
.JingliTech .partner .titimg {
  background: url("../images/partner.png") no-repeat;
  background-size: cover;
  height: 475px;
  width: 100%;
}
.JingliTech .partner .titimg .titText {
  width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
  color: #fff;
}
.JingliTech .partner .titimg .titText .par_icon {
  width: 200px;
  height: 200px;
  float: left;
  background: url("../images/partner-icon.png") 0 center no-repeat;
}
.JingliTech .partner .titimg .titText .par_content {
  width: 760px;
  display: inline-block;
}
.JingliTech .partner .titimg .titText .par_content p {
  font-size: 22px;
  text-align: left;
  margin-bottom: 34px;
  font-weight: normal;
}
.JingliTech .partner .form {
  width: 1000px;
  height: 680px;
  margin: -80px auto 0;
  background: #fff;
  border-radius: 15px;
  padding-top: 120px;
  text-align: center;
}
.JingliTech .partner .form p.chooese {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
}
.JingliTech .partner .form p.chooese input[type="radio"] {
  height: 24px;
  margin-right: 5px;
}
.JingliTech .partner .form p.info {
  font-size: 20px;
  width: 600px;
  margin: 0 auto 16px;
}
.JingliTech .partner .form p.info span {
  float: left;
  margin: 20px 0;
  width: 94px;
  text-align: right;
}
.JingliTech .partner .form p.info input {
  width: 430px;
  height: 55px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  padding-left: 20px;
}
.JingliTech .partner .form #submit,
.JingliTech .partner .form #backIndex {
  display: inline-block;
  background: #f39800;
  width: 260px;
  height: 54px;
  line-height: 54px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 26px;
  margin-top: 40px;
}
input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 40px;
}
