<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">{{title}}</h1>
        <div class="button button-clear" ng-click="modal.hide()">取消</div>
    </ion-header-bar>
    <ion-content padding="false" scroll="false" class="has-header">
        <form class="flex-c10 list">
            <div class="fix-flex-height">
                <div ng-if="editable" style="width: 100%;height: 100%">
                    <pic-editor image-src="files[0]" canvas-width="width" canvas-height="height"></pic-editor>
                </div>
                <ion-scroll ng-if="!editable" style="width: 100%;height: 100%">
                    <pic-view image-src="file" ng-repeat="file in files"></pic-view>
                </ion-scroll>
            </div>
            <div>
                <a class="button button-calm button-block preview_btn" ng-click="confirm()">确定</a>
            </div>
        </form>
    </ion-content>
</ion-modal-view>