@import "../../../www/ionic/scss/color.variable.scss";
.preview_img{
  canvas, img{
    width:100%;
  }
}

.preview_btn{
  border-radius: 0;
  margin-bottom: 0!important;

}

[ng-uploader]:after {
  display: none;
}