.jl_projectinfo {
  .list {
    .item{
      background: rgba(256, 256, 256, .3);
      margin: -1px 0;
      &.project_tit{
        color: #fff;
        font-weight: bold;
      }
      &.project_cont{
        color: #fff;
        p{
          color: #fff;
        }
      }
    }
  }
}
.opactic{
  background: rgba(256, 256, 256, .3);
  color: #fff;
  .op_single{
    color: #fff;
  }
  .op_mult{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
}
.scroll-content {
  .scroll {
    //background: url("ionic/images/backgroud.png") center no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
  }
}

.item-thumbnail-left{
  &.opactic{
    padding-top: 20px;
  }
  .staff_portrait{
    position:absolute;
    top: 10px;
    left: 20px;
    font-size: 20px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    background: rgb(36,149,218);
  }
}

//预算统计，员工分布样式
.select-bar {
  background-color: #fff;
  color: grey;
  padding: 5px 10px 5px 2px;
}

.staff-phone {
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;

  .call-phone-button {
    color: white;
    background-color: #387ef5;
    display: initial;
    padding: 3px 12px;
    border-top: -5px;
    font-size: 12px;
    line-height: 2;
  }
}

.select-button {
  border-bottom: 3px solid #387ef5;
}
ion-content {
  .flex-c01 {
    > ion-scroll {
      padding: 0;
      padding-top: 10px;
    }
  }
}