<div class="uploadImg">
	<div class="orderdetail">
		<p><span></span></p>
	</div>
	<div>
		<div class="messagebox_content">
			<img src="" alt="">
		</div>
		<div ng-if="planDetail.outTraffic.length!=0">
			<div class="po_r unupload" ng-if="outTraffic.invoice.length==0">
				<span>交通票据</span>
				<span>去程</span>
				<span>点击上传</span>
				<input type="file" class="file" ref="{{outTraffic.id}}" data-type = "1" name="tmpFile" accept="image/gif,image/jpeg,image/jpg,image/png">
			</div>
			<div class="po_r imgdown" ng-if="outTraffic.invoice.length!=0 && ">
				<span>交通票据</span>
				<span>去程</span>
				<span>点击修改</span>
				<input type="file" class="file" ref="{{outTraffic.id}}" data-type = "1" name="tmpFile" accept="image/gif,image/jpeg,image/jpg,image/png">
			</div>
			<div class="po_r fail" ng-if="outTraffic.invoice.length!=0 && hotel.status=='-1'">
				<span>交通票据</span>
				<span>去程</span>
				<span>重新上传</span>
				<input type="file" class="file" ref="{{outTraffic.id}}" name="tmpFile" data-type = "1" accept="image/gif,image/jpeg,image/jpg,image/png">
			</div>
			<div class="po_r ready" ng-if="outTraffic.invoice.length!=0 && hotel.status=='1'">
				<span>交通票据</span>
				<span>去程</span>
				<span>审核通过</span>
				<input type="file" class="file" ref="{{outTraffic.id}}" name="tmpFile" data-type = "1" accept="image/gif,image/jpeg,image/jpg,image/png">
			</div>
		</div>
		<div ng-if="planDetail.hotel.length!=0">
			<div class="po_r">
				<span>住宿发票</span>
				<span>点击上传</span>
				<input type="file" class="file" ref="" name="tmpFile" data-type = "2" accept="image/gif,image/jpeg,image/jpg,image/png">
			</div>
		</div>
		<div ng-if="planDetail.backTraffic.length!=0">
			<div class="po_r">
				<span>交通票据</span>
				<span>回程</span>
				<span>点击上传</span>
				<input type="file" class="file" ref="" name="tmpFile" data-type = "3" accept="image/gif,image/jpeg,image/jpg,image/png">
			</div>
		</div>
		
		<input type="button" ng-click="push()" value="提交审核">
	</div>
</div>