/** reset begin**/
*, *:before, *:after {
  box-sizing: border-box;
}
html, body, div,i,var, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, q, th, td, caption, article, aside, figure, figcaption, footer, header, nav, section, audio, video {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
}
fieldset, img, iframe {
  border: 0 none
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block
}
ol, ul {
  list-style: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
caption, th {
  text-align: left
}
em, strong, th {
  font-style: normal;
  font-weight: 500
}
sup {
  vertical-align: text-top
}
sub {
  vertical-align: text-bottom
}
i,var{
  font-style: normal;
}
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.clear {
  *zoom: 1
}
.c, .clear {
  clear: both;
  float: none
}
.c {
  overflow: hidden;
  height: 0
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: 0
}

a span, a em, a strong {
  cursor: pointer
}
/** reset end**/

html,body{
  height: 100%;
  width: 100%;
  background: #f7f7f7;
}

.header{
  padding: 15px 20px;
  height: 60px;
  background: #273c47;
  img{
    vertical-align: middle;
  }
}
.view{
  padding: 10px 32px;
  .content{
    width: 100%;
    min-height: 500px;
    background: #fff;
    margin: 0 auto;
    padding: 16px 20px;
    .corp_name{
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      color: #74c7cd;
      border-bottom: 1px solid #d8d8d8;
    }
    .tit{
      color: #9b9b9b;
      font-size: 20px;
      margin: 30px;
      text-align: center;
      font-weight: normal;
    }
    .list{
      margin: 0 auto;
      width: 600px;
      .item{
        font-size: 16px;
        color: #4a4a4a;
        line-height: 22px;
        margin-bottom: 15px;
        .fileupload{
          position: relative;
          width: 90px;
          height: 24px;
          display: inline;
          input{
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
            height: 24px;
            opacity: 0;
            z-index: 5;
          }
          .btn{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 90px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            background: #28a7e1;
            color: #fff;
            border-radius: 3px;
          }
        }
        .filename{
          margin-left: 100px;
        }
      }
      .percent-tit{
        text-align: center;
        font-size: 16px;
        color: #9b9b9b;
        span{
          color: #f39700;
        }
      }
      .percent-bar{
        width: 600px;
        height: 20px;
        border-radius: 10px;
        background: #d8d8d8;
        margin-top: 20px;
        overflow: hidden;
        .percent-block{
          width: 0;
          height: 20px;
          border-radius: 10px;
          background: #f39700;
        }
      }
    }
    .upload_btn{
      width: 240px;
      height: 40px;
      margin: 50px auto;
      text-align: center;
      font-size: 20px;
      line-height: 40px;
      background: #f39700;
      color: #fff;
      border-radius: 3px;
      display: inherit;
    }
    .err_list{
      border: 1px solid #979797;
      color: #4a4a4a;
      font-size: 14px;
      tr{
        th{
          background: #d8d8d8;
          border: 1px solid #979797;
          text-align: center;
          font-weight: normal;
        }
        td{
          background: #fff;
          border: 1px solid #979797;
          text-align: center;
        }
      }
    }
  }
}
