<!--&lt;!&ndash;登录已失效!&ndash;&gt;-->
<!--<div class="user_photo">-->
    <!--<img src="">-->
<!--</div>-->
<!--<div class="auth_content">-->
    <!--<div class="input">-->
        <!--<span class="tip_err"><i class="web-icon-font"></i>{{err_msg_tip}}<a href="#/auth/register"></a><span ng-click="sendActiveMail()"></span></span>-->
        <!--<input id="name" ng-model="email" class="" type="text" value="" placeholder="请输入企业邮箱" onkeyup="checkAccount()"/>-->
        <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_mail}}</span>-->
    <!--</div>-->
    <!--<div class="input">-->
        <!--<input id="pwd" class="" ng-model="pwd" type="password" value="" placeholder="密码" onkeyup="checkAccountPwd()"/>-->
        <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_pwd}}</span>-->
    <!--</div>-->
    <!--<a id="" class="register" ng-click="checkLogin()">马上登录</a>-->
<!--</div>-->
<!--<script>-->
    <!--$(function(){-->

    <!--})-->
    <!--function checkAccount(){-->
        <!--var name = $('#name').val();-->
        <!--if(name){-->
            <!--$("#name").siblings(".err_msg").hide();-->
        <!--}-->
    <!--}-->
    <!--function checkAccountPwd(){-->
        <!--var pwd  = $('#pwd').val();-->
        <!--if(pwd){-->
            <!--$("#pwd").siblings(".err_msg").hide();-->
        <!--}-->
    <!--}-->
<!--</script>-->