<!--登录已失效!-->
<style>
    html,body{
        background-color: #fff!important;
    }
</style>
<div class="user_photo">
    <img src="/mobile/images/logo_shadow.png">
</div>
<div class="corp_mail w85 common_text">
    <i class="web-icon-font c_mail" ng-class="{blue:focused.id=='email_name'}">&#xf0e0;</i>
    <input erasable id="email_name" type="text" class="input fr" placeholder="企业邮箱"
        ng-model="form.email"
        ng-focus="update_focused($event)" ng-blur="update_focused()"
        />
</div>
<div class="corp_pwd w85 common_text">
    <i class="web-icon-font lock"  ng-class="{blue:focused.id=='email_pwd'}">&#xf023;</i>
    <input erasable id="email_pwd" class="input fr" type="password" placeholder="密码" maxlength="20"
        ng-model="form.pwd"
        ng-focus="update_focused($event)" ng-blur="update_focused()"
        ng-keydown="$event.keyCode==13?check_login():null"
        />
</div>
<button id="login" class="login w85 common_btn2"
    ng-class="{blue_bc:check_passed}" ng-disabled="!check_passed" ng-click="check_login()">
    登录
</button>
