<div class="head">
    <div class="logo">
        <img src="../../corp/images/logo-white.png"/>
    </div>
</div>
<div class="auth_content">
    <div class="title">
        修改密码
    </div>
    <div class="input">
        <!--<span class="tip_err"><i class="web-icon-font"></i>{{err_msg_tip}}</span>-->
        <input id="oldPwd" class="" type="password" value="" placeholder="原密码"/>
        <span class="err_msg"><i class="web-icon-font"></i>{{err_msg1}}</span>
    </div>
    <div class="input">
        <!--<span class="tip_err"><i class="web-icon-font"></i>{{err_msg_tip}}</span>-->
        <input id="newFirstPwd" class="" type="password" value="" placeholder="设置新密码"/>
        <span class="err_msg"><i class="web-icon-font"></i>{{err_msg2}}</span>
    </div>
    <div class="input">
        <input id="newSecondPwd" class="" type="password" value="" placeholder="再次输入新密码"/>
        <span class="err_msg"><i class="web-icon-font"></i>{{err_msg3}}</span>
    </div>
    <a id="" class="register" ng-click="checkChangePwd()">确定</a>
    <a id="" class="register" onclick="history.go(-1)" style="background:#fff;color:#4a4a4a;border:1px solid #e5e5e5;">取消修改</a>
</div>
<section class="confirmFixed">
    <div class="confirmbox">
        <div class="confirmbox_t">
            <span style="float: left;">提示</span>
        </div>
        <div class="confirmbox_p">
            <div class="error" style="height: 25px; line-height: 25px; color: #DE492A;"></div>
            <div class="messageText" style="height: 30px; line-height: 30px; text-align: center;">密码重置成功<span id="second3">{{seconds}}</span>秒后重新登录</div>
            <div class="deleteFail">
                <div class="deleteFail_text"></div>
                <div>
                    <input type="button" value="确认" ng-click="toReLogin()" class="common_btn1" style="width: 60px; margin-left: 170px;">
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function(){
        $(window).load(function(){min_height();});
        $(window).scroll(function(){min_height();});
        $(window).resize(function(){min_height();});
        function min_height(){
            var wh = $(window).height();
            $(".auth_content").css("min-height", wh-80-60-50);
        }
        min_height();
    })
</script>