<div class="head">
    <div class="logo">
        <img src="../../corp/images/logo-white.png"/>
    </div>
    <div class="to_login">
        已有账号？
        <span ng-click="toLogin()">登录</span>
    </div>
</div>
<div class="auth_content">
    <div class="tip_title">
        <i class="web-icon-font">&#xf05a;</i>
        还差一步即可完成注册
    </div>
    <div class="tip_content">
        <p>我们已经向您的邮箱<span class="blue" style="margin-left: 5px;margin-right: 5px;">{{userMail}}</span>发送了一封激活邮件，请点击邮件中的链接完成注册！</p>
    </div>
    <div class="tip_foot">
        <p>
            <i class="web-icon-font">&#xf059;</i>
            没有收到确认邮件, 怎么办？
        </p>
        <div>
            <p>
                <i class="web-icon-font">&#xf10c;</i>
                看看是否在邮箱的回收站中、垃圾邮件中
            </p>
            <p>
                <i class="web-icon-font">&#xf10c;</i>
                重新发送，点此<a class="blue" style="margin-left: 5px;margin-right: 5px;cursor: pointer;" ng-click="sendAgainActiveMail()">重发一封</a>
            </p>
        </div>
    </div>
</div>