<div class="head">
    <div class="logo">
        <img src="../../corp/images/logo-white.png"/>
    </div>
    <div class="to_login">
        没有账号？
        <span ng-click="toRegister()">注册</span>
    </div>
</div>
<div class="auth_content">
    <div class="title">
        忘记密码
    </div>
    <div class="step">
        <ul>
            <li class="on">1. 确认账号</li>
            <li>2. 安全验证</li>
            <li>3. 重新设置</li>
        </ul>
    </div>
    <div class="changeContentOne">
        <div class="input">
            <input id="loginMail" class="" type="text" value="" placeholder="请输入登录账号即注册邮箱"/>
            <span class="err_msg"><i class="web-icon-font"></i>{{err_msg_mail}}</span>
        </div>
        <div class="inputs">
            <div>
                <input id="picCode" class="" type="text" value="" placeholder="图片验证码">
            </div>
            <img id="imgCode" src=""/>
            <span class="change" ng-click="changePicCode()">换一换</span>
            <span class="err_msg"><i class="web-icon-font"></i>{{err_msg_pic}}</span>
        </div>
        <a id="" class="btn" ng-click="nextStep()">下一步</a>
    </div>
    <div class="changeContentTwo" style="display: none;">
        <div class="tip_content">
            <p>我们已经向您的邮箱<span class="blue" style="margin-left: 5px;margin-right: 5px;">{{changePwdMail}}</span>发送了一封激活邮件，请点击邮件中的链接完成注册！</p>
        </div>
        <div class="tip_foot">
            <div>
                <p>
                    <i class="web-icon-font" style="font-size: 16px;">&#xf059;</i>
                    没有收到确认邮件, 怎么办？
                </p>
                <p>
                    <i class="web-icon-font">&#xf10c;</i>
                    看看是否在邮箱的回收站中、垃圾邮件中
                </p>
                <p>
                    <i class="web-icon-font">&#xf10c;</i>
                    重新发送，点此<a class="blue" style="margin-left: 5px;margin-right: 5px;cursor: pointer;" ng-click="sendAgainActiveMail()">重发一封</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $(window).load(function(){min_height();});
        $(window).scroll(function(){min_height();});
        $(window).resize(function(){min_height();});
        function min_height(){
            var wh = $(window).height();
            $(".auth_content").css("min-height", wh-80-60-50);
        }
        min_height();
    })
</script>