<div class="head">
    <div class="logo">
        <img src="../../corp/images/logo-white.png"/>
    </div>
    <div class="to_login">
        没有账号？
        <span ng-click="toRegister()">注册</span>
    </div>
</div>
<div class="auth_content">
    <div ng-if="isValid== 'checking'">系统验证中...</div>
    <div ng-if="!isValid" style="padding:200px 0 0 0;text-align:center;font-size:24px;">
        <span class="web-icon-font3" style="color:#de492a;vertical-align: middle;margin-right:10px;">&#xe909;</span>链接已经失效
    </div>

    <div ng-if="isValid === true">
        <div class="title">
            设置密码
        </div>
        <div class="input">
            <!--<span class="tip_err"><i class="web-icon-font"></i>{{err_msg_tip}}</span>-->
            <input id="firstPwd" class="" type="password" value="" placeholder="设置新密码"/>
            <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_mail}}</span>-->
        </div>
        <div class="input">
            <input id="secondPwd" class="" type="password" value="" placeholder="再次输入新密码"/>
            <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_pwd}}</span>-->
        </div>
        <a id="" class="register" ng-click="checkStaffPwd()">确定</a>
    </div>

</div>
<script>
    $(function(){
        $(window).load(function(){min_height();});
        $(window).scroll(function(){min_height();});
        $(window).resize(function(){min_height();});
        function min_height(){
            var wh = $(window).height();
            $(".auth_content").css("min-height", wh-80-60-50);
        }
        min_height();
    })
</script>