@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?xqtx14');
    src:    url('../fonts/icomoon.eot?xqtx14#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?xqtx14') format('truetype'),
        url('../fonts/icomoon.woff?xqtx14') format('woff'),
        url('../fonts/icomoon.svg?xqtx14#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-contacts:before {
    content: "\e938";
}
.icon-down-arrow:before {
    content: "\e937";
}
.icon-fare:before {
    content: "\e91e";
}
.icon-add-solid:before {
    content: "\e900";
}
.icon-add:before {
    content: "\e901";
}
.icon-arrowdown:before {
    content: "\e902";
}
.icon-arrowright:before {
    content: "\e903";
}
.icon-arrowup:before {
    content: "\e904";
}
.icon-arrow-down-solid:before {
    content: "\e905";
}
.icon-arrow-up-solid:before {
    content: "\e906";
}
.icon-arrows:before {
    content: "\e907";
}
.icon-bill:before {
    content: "\e908";
}
.icon-book:before {
    content: "\e909";
}
.icon-budget:before {
    content: "\e90a";
}
.icon-bulb-solid:before {
    content: "\e90b";
}
.icon-calendar-solid:before {
    content: "\e90c";
}
.icon-charts-solid:before {
    content: "\e90d";
}
.icon-close:before {
    content: "\e90e";
}
.icon-consult-solid:before {
    content: "\e90f";
}
.icon-drop-down:before {
    content: "\e910";
}
.icon-drop-up:before {
    content: "\e911";
}
.icon-email-solid:before {
    content: "\e912";
}
.icon-employee-solid:before {
    content: "\e913";
}
.icon-error-solid:before {
    content: "\e914";
}
.icon-examine:before {
    content: "\e915";
}
.icon-exclaimation-solid:before {
    content: "\e916";
}
.icon-export-solid:before {
    content: "\e917";
}
.icon-foot:before {
    content: "\e918";
}
.icon-gear:before {
    content: "\e919";
}
.icon-gift-solid:before {
    content: "\e91a";
}
.icon-help-solid:before {
    content: "\e91b";
}
.icon-home-solid:before {
    content: "\e91c";
}
.icon-hotel-solid:before {
    content: "\e91d";
}
.icon-info-solid:before {
    content: "\e91f";
}
.icon-left-arrow:before {
    content: "\e920";
}
.icon-like-solid:before {
    content: "\e921";
}
.icon-monitor:before {
    content: "\e922";
}
.icon-need:before {
    content: "\e923";
}
.icon-new-points-solid:before {
    content: "\e924";
}
.icon-password-solid:before {
    content: "\e925";
}
.icon-pin-solid:before {
    content: "\e926";
}
.icon-plane-solid:before {
    content: "\e927";
}
.icon-points:before {
    content: "\e928";
}
.icon-price:before {
    content: "\e929";
}
.icon-reward-solid:before {
    content: "\e92a";
}
.icon-right-arrow:before {
    content: "\e92b";
}
.icon-screen:before {
    content: "\e92c";
}
.icon-star:before {
    content: "\e92d";
}
.icon-success-solid:before {
    content: "\e92e";
}
.icon-suitcase-solid:before {
    content: "\e92f";
}
.icon-time:before {
    content: "\e930";
}
.icon-train-solid:before {
    content: "\e931";
}
.icon-up-arrow:before {
    content: "\e932";
}
.icon-upload-solid:before {
    content: "\e933";
}
.icon-user-solid:before {
    content: "\e934";
}
.icon-users-solid:before {
    content: "\e935";
}
.icon-verificationcode-solid:before {
    content: "\e936";
}

