<!--<div class="corp_content">-->
    <!--<div class="title">-->
        <!--修改企业资料-->
    <!--</div>-->
    <!--<div class="input">-->
        <!--<input id="corpName" class="" type="text" value="{{corpname}}" placeholder="企业名称 (暂不支持个人注册)">-->
        <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg}}</span>-->
    <!--</div>-->
    <!--<div class="input">-->
        <!--<input id="corpRegistryName" class="" type="text" value="{{connectname}}" placeholder="联系人姓名">-->
        <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_name}}</span>-->
    <!--</div>-->
    <!--<div class="input">-->
        <!--<input id="corpMail" class="" type="text" value="{{eamil}}" placeholder="联系人邮箱（请使用企业邮箱,作为登录账号使用)" disabled>-->
        <!--&lt;!&ndash;<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_mail}}<a href="#/auth/login" style="color: #1194d7!important;text-decoration: none;"></a></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="tip_div">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="../../images/sanjiao.jpg"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>&ndash;&gt;-->
                <!--&lt;!&ndash;暂不支持公共邮箱</br>&ndash;&gt;-->
                <!--&lt;!&ndash;后缀为 126.com  / 163.com / gmail.com / </br>&ndash;&gt;-->
                <!--&lt;!&ndash;qq.com / sina.com等均为公共邮箱&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="input">-->
        <!--<input id="corpMobile" class="" type="text" value="{{connectmobile}}" placeholder="联系人电话" maxlength="11">-->
        <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_phone}}</span>-->
    <!--</div>-->
    <!--<div class="inputs">-->
        <!--<div>-->
            <!--<input id="msgCode" class="" type="text" value="" placeholder="短信验证码" style="height: 40px;" maxlength="6">-->
        <!--</div>-->
        <!--<span class="getCode v_code" ng-click="getMCode()">免费获取短信验证码</span>-->
        <!--<span id="timer" class="getCode" style="display:none;background-color: #ededed;">(<span id="seconds">90</span>)s后重新发送</span>-->
        <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_msg}}</span>-->
    <!--</div>-->
    <!--<div class="inputs">-->
        <!--<div>-->
            <!--<input id="picCode" class="" type="text" value="" placeholder="图片验证码" style="height: 40px;">-->
        <!--</div>-->
        <!--<img id="imgCode" src=""/>-->
        <!--<span class="change" ng-click="changePicCode()">换一换</span>-->
        <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_pic}}</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="agree">&ndash;&gt;-->
        <!--&lt;!&ndash;<span id="check1" class="check"><i class="web-icon-font2" checkvalue="true">&#xea2e;</i>同意<a href="/agreement.txt" target="_blank" class="agreement">《鲸力差旅管家注册协议》</a></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span id="check2" style="display: none;"><i class="web-icon-font2" checkvalue="false">&#xea2f;</i>同意<a href="/agreement.txt" target="_blank" class="agreement">《鲸力差旅管家注册协议》</a></span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<a class="register" ng-click="commitInfo()" style="margin:10px auth;">提交</a>-->

<!--</div>-->