$color-border: #ccc;
$border: solid 1px $color-border;
//$border: none;

$color-weekheader: #4a90e2;
$color-weekheader-bg: #fff;

$color-text: #4a90e2;
$color-text-bg: #fff;

$color-expired: #dcdcdc;
$color-expired-bg: #E1E1E1;

$color-weekend: #CE4043;
$color-weekend-bg: #fff;

$color-selected: #fff;
$color-selected-bg: #f5a623;

$color-today: #4a90e2;
$color-today-border: 2px solid #dcdcdc;

$color-lunar: #8faabc;
$color-festival: #45ADD9;
$color-term: #DA1E31;

$flag-size: 28px;
$color-flag: #fff;
$color-work-bg: #D7364B;
$color-rest-bg: #3CA9D7;

.ng-modal-select-time-range {
  .popup {
    width: 90%;
    .selected-time {
      text-align: center;
    }
  }
}

.ng-modal-select-date, .ng-modal-select-datespan {
  .month-title {
    text-align: center;
    margin: 5px auto;
  }
  .week-header {
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-top: 0 !important;
    font-size: 10px;
    border-bottom: $border;
    margin-bottom: 1px;
    color: $color-weekheader;
    background-color: $color-weekheader-bg !important;
  }
  .month_2col {
    display: flex;
    flex-wrap: wrap;
    > * {
      flex: 40%;
      border-left: $border;
    }
  }
  .week-7col {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 14.28%;
      height: 50px;

      &:nth-last-child(-n+7) {
        border-bottom: $border;
      }
      &:nth-child(7n+1) {
        color: $color-weekend;
        background-color: $color-weekend-bg;
      }
      &:nth-child(7n) {
        color: $color-weekend;
        background-color: $color-weekend-bg;
      }
    }
  }
}

.ng-modal-select-date-day-element {
  width: 100%;
  height: 100%;

  font-size: 18px;
  .daynumber {
    font-weight: bold;
  }
  .label {
    transform: scale(0.7);
  }

  > .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .daynumber {
      position: relative;
      > .flag {
        position: absolute;
        top: -14px;
        right: -23px;
        width: 23px;
        height: 23px;
        line-height: 23px;
        text-align: center;
        transform: scale(0.6);
        transform-origin: left bottom;
      }
    }
  }

  .daynumber {
    color: $color-text;
  }
  .flag {
    color: $color-flag;
    border-radius: 8px;
  }
  .lunar {
    color: $color-lunar;
  }
  .festival {
    color: $color-festival;
  }
  .term {
    color: $color-term;
  }
  .workflag {
    background: $color-work-bg;
  }
  .restflag {
    background: $color-rest-bg;
  }
  &.today {
    color: $color-today;
    border: $color-today-border;
    border-radius: 5px;
  }
  &.expired * {
    color: $color-expired;
  }
  &.selected {
    background-color: $color-selected-bg;
    border-radius: 5px;
    * {
      color: $color-selected;
    }
  }
  &.begin {
    background-color: $color-selected-bg;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &.end {
    background-color: $color-selected-bg;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &.begin {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  &.span {
    background-color: lighten($color-selected-bg, 34%);
  }
}
