$color-border: #ccc;
$border: solid 1px $color-border;
//$border: none;

$color-weekheader: #4a90e2;
$color-weekheader-bg: #fff;

$color-text: #4a90e2;
$color-text-bg: #fff;

$color-expired: #dcdcdc;
$color-expired-bg: #E1E1E1;

$color-weekend: #CE4043;
$color-weekend-bg: #fff;

$color-selected: #fff;
$color-selected-bg: #f5a623;

$color-today: #4a90e2;
$color-today-border: 2px solid #dcdcdc;

$color-lunar: #8faabc;
$color-festival: #45ADD9;
$color-term: #DA1E31;

$flag-size: 28px;
$color-flag: #fff;
$color-work-bg: #D7364B;
$color-rest-bg: #3CA9D7;

.ng-modal-select-time-range {
  .popup {
    width: 90%;
    .selected-time {
      text-align: center;
    }
  }
}

.ng-modal-select-date, .ng-modal-select-datespan {
  .month-title {
    text-align: center;
    margin: 5px auto;
  }
  .week-header {
    text-align: center;
    height: 18px;
    line-height: 18px;
    border-top: 0 !important;
    font-size: 12px;
    border-bottom: $border;
    margin-bottom: 1px;
    color: $color-weekheader;
    background-color: $color-weekheader-bg !important;
  }
  .month-block {
    > * {
      border-bottom: $border;
    }
    > *:last-child{
      border-bottom: none;
    }
    &.month_2col{
      display: block;
      overflow: hidden;
      line-height: 1px;
      > *{
        line-height: initial;
        //float: left;
        display: inline-block;
        width: 50%;
      }

      > *:nth-child(2n+1){
        float: left;
      }
      > *:nth-child(2n){
        border-left: $border;
      }

      > *:nth-last-child(2) {
        border-bottom: none;
      }
    }
  }
  .week-7col {
    display: block;
    overflow: hidden;
    > * {
      float: left;
      width: 14.2857%;
    }
  }
}

.ng-modal-select-datespan{
  .datespan-value{
    display: flex;
    padding: 0 28px;
    border-bottom: $border;
    > *{
      flex: 1;
      display: flex;
      flex-direction: column;
      &:last-child{
        align-items: flex-end;
      }
      &.time-selecting{
        border-bottom: 2px solid $color-text;
      }
    }

    .time-title{
      color: $color-text;
      font-size: 12px;
      line-height: 12px;
      margin: 6px 0;
    }
    .time-value{
      color: #333;
      font-size: 18px;
      font-weight: bold;
      line-height: 16px;
      margin-bottom: 10px;
      .time-weekday{
        font-size: 14px;
      }
    }
  }
}

.ng-modal-select-date-month-element{
}

.ng-modal-select-date-day-element {
  width: 100%;
  //height: 100%;
  height: 50px;

  font-size: 18px;
  .daynumber {
    font-weight: bold;
  }
  .label {
    font-size: 70%;
  }
  > .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .daynumber {
      position: relative;
      > .flag {
        position: absolute;
        top: -14px;
        right: -23px;
        width: 23px;
        height: 23px;
        line-height: 23px;
        text-align: center;
        transform: scale(0.6);
        transform-origin: left bottom;
      }
    }
  }

  .daynumber {
    color: $color-text;
  }
  .flag {
    color: $color-flag;
    border-radius: 8px;
  }
  &.lunar .label {
    color: $color-lunar;
  }
  &.festival .label {
    color: $color-festival;
  }
  &.term .label {
    color: $color-term;
  }

  &.notthismonth {
    visibility: hidden;
  }
  &.expired * {
    color: $color-expired !important;
  }
  &.workday{
    .flag {
      background: $color-work-bg;
    }
  }
  &.restday {
    .flag {
      background: $color-rest-bg;
    }
  }
  &.weekend {
    .daynumber, .label {
      color: $color-weekend;
    }
    background-color: $color-weekend-bg;
  }
  &.today {
    color: $color-today;
    border: $color-today-border;
    border-radius: 5px;
  }
  &.selected {
    background-color: $color-selected-bg;
    border-radius: 5px;
    * {
      color: $color-selected;
    }
  }
  &.begin {
    background-color: $color-selected-bg;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &.end {
    background-color: $color-selected-bg;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &.begin {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  &.span {
    background-color: lighten($color-selected-bg, 34%);
  }
}
