<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">{{(options.titleEnd && beginSelected)?options.titleEnd:options.title}}</h1>
        <div class="button button-clear" ng-click="modal.hide()">取消</div>
    </ion-header-bar>
    <ion-content padding="false" class="has-header ng-modal-select-datespan" scroll="false">
        <div class="flex-c01">
            <div>
                <div class="datespan-value">
                    <div>
                        <div class="time-title">起始时间</div>
                        <div class="time-value"><span class="time-weekday">周{{weekDayNames[result.begin.date.getDay()]}}</span> {{result.begin.date|date:'MM-dd HH:mm'}}</div>
                    </div>
                    <div>
                        <div class="time-title">结束时间</div>
                        <div class="time-value"><span class="time-weekday">周{{weekDayNames[result.end.date.getDay()]}}</span> {{result.end.date|date:'MM-dd HH:mm'}}</div>
                    </div>
                </div>
                <div ng-class="{month_2col:month_2col}">
                    <div class="week-7col">
                        <div class="week-header" ng-repeat="weekday in weekDayNames">{{weekday}}</div>
                    </div>
                    <div class="week-7col" ng-if="month_2col">
                        <div class="week-header" ng-repeat="weekday in weekDayNames">{{weekday}}</div>
                    </div>
                </div>
            </div>
            <ion-scroll overflow-scroll="false" has-bouncing="true">
                <div ng-class="{month_2col:month_2col}">
                    <div ng-repeat="month in months">
                        <div class="month-title">{{month.year}}年{{month.month}}月</div>
                        <div class="week-7col">
                            <div ng-repeat="day in month.days">
                                <ng-selector-date-day ng-modal="day"
                                                      ng-style="{'visibility': month.month == day.month ? 'visible' : 'hidden'}"
                                                      ng-click="confirm(day)"
                                                      ng-day-options="dayOptions"
                                >
                                </ng-selector-date-day>
                            </div>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll
                        ng-if="hasMoreMonths"
                        on-infinite="loadNextMonth()">
                </ion-infinite-scroll>
            </ion-scroll>
        </div>
    </ion-content>
</ion-modal-view>