@import "../../css/common.less";
.staff_header{
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 1080px;
	background: #fff;
	height: 79px;
	line-height: 80px;
	border-bottom: 1px solid #e5e5e5;
	.s_header_main{
		
	}
}