@import "common.less";
.warning{
  color: #DE492A!important;
  position: relative;
  i{
    color: #DE492A;
    cursor: pointer;
  }
  .special_warning{
    display: none;
    position: absolute;
    right: 12px;
    top: 30px;
    border: 1px solid #e5e5e5;
    color: #4a4a4a!important;
    text-align: left;
    background-color: #fff;
    z-index: 100000000000;
    width: 200px;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px #ccc;
    overflow: hidden;
    em{
      position: absolute;
      background: url(../../corp/images/arr_t.png) no-repeat;
      height: 10px;
      width: 17px;
      top:-10px;
      right: 10px;
      //background-size: cover;
      z-index: 0;
    }
  }
}
.messagebox_fixed{
  z-index: 5;
  display: none;
  .messagebox_box {
    padding: 0;
    height: 36px;
    line-height: 36px;
    display: inline-table;
    .messagebox_title{
      background: #e5e5e5;
      .messagebox_close{
        top: 4px;
      }
    }
    .messagebox_content{
      background: #fff;
      padding-top: 0;
      img {
        width: 770px;
        height: 350px;
      }
    }
    .messagebtns{
      font-size: 16px;
      color: #4a4a4a;
      font-weight: bold;
      height: 40px;
      padding: 10px;
      background: #fff;
      em{
        font-size: 16px;
        color: #4a4a4a;
        font-style: normal;
      }
      span{
        font-size: 14px;
        color: #9b9b9b;
        margin-left: 25px;
        font-weight: normal;
      }
      a{
        float: right;
        width: 60px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-weight: normal;
        border-radius: 2px;
        cursor: pointer;
        &.message_sure{
          background: #007fba;
          color: #fff;
        }
        &.message_cancel{
          background: #e5e5e5;
          color: #4a4a4a;
          margin-left: 20px;
        }
      }
    }
  }
}

.travel-plan {
  width: 100%;
  height: auto;
  .planList {
    width: 1000px;
    height: auto;
    margin: 30px auto 0 auto;
    .mainbox_top {
      width: 100%;
      height: 41px;
      li {
        width: 158px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        border: 1px @background-color-default solid;
        border-bottom: none;
        cursor: pointer;
        float: left;
      }
      .active {
        width: 158px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        border: 1px @border-color solid;
        border-radius: 5px 5px 0 0;
        background: @background-color-second;
        border-bottom: none;
      }
    }
    .mainbox_bottom {
      width: 998px;
      height: auto;
      border: 1px @border-color solid;
      background: @background-color-second;
      margin-top: -1px;
      .pass {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: @btn-text-color;
        border-radius: 50%;
        background: #69B754;
        display: inline-block;
      }
      .search {
        width: 958px;
        height: 76px;
        padding: 0 20px;
      }
      .content {
        width: 100%;
        height: auto;
        .cursorPointer {
          cursor: pointer;
        }
        tr {
          border-bottom: 1px @border-color solid;
          padding: 10px 0;
        }
        th {
          height: 38px;
          border-top: 1px #E5E5E5 solid;
          border-bottom: 1px #E5E5E5 solid;
          background: #EDEDED;
        }
        td {
          padding: 15px 0;
          .po_r{
          position: relative;
          }
          .file{
            position: absolute;
            width: 56px;
            height: 19px;
            line-height: 30px;
            opacity: 0;
            left: 0;
            top: 0;
            cursor: pointer;
            z-index: 10;
          }
          .uploadbtn {
            width: 100px;
            height: 30px;
            line-height: 30px;
            margin-left: 27px;
          }
          p {
            height: 30px;
            line-height: 30px;
            a {
              color: @color-theme1;
            }
            .shenhe {
              color: #9F9B9B;
            }
          }
          .traffic_icon {
            font-size: 25px;
            color: #D81F2A;
          }
          .live_icon {
            font-size: 25px;
            color: #4A4EC1;
          }
        }
        .content_none {
          width: 100%;
          height: 400px;
          line-height: 200px;
          text-align: center;
          color: @default-text-color;
          background: @background-color-second;
        }
      }
    }
  }
  .planDetail {
    width: 1000px;
    height: auto;
    margin: 30px auto 0 auto;
    .planpath {
      width: 100%;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      span {
        color: #9B9B9B;
      }
    }
    .mainbox {
      width: 1000px;
      height: auto;
      border-radius: 2px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
      background: @background-color-second;
      //overflow: hidden;
      position: relative;
      .title_top {
        width: 960px;
        height: 40px;
        font-size: 15px;
        color: @btn-text-color;
        background: #4A4A4A;
        padding: 0 20px;
      }
      .content_top {
        width: 800px;
        height: auto;
        padding: 45px 100px 20px 100px;
        overflow: hidden;
        dl {
          width: 158px;
          height: 78px;
          border: 1px @border-color solid;
          margin: 0 20px;
          float: left;
          position: relative;
          dt {
            width: 110px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #9B9B9B;
            background: @background-color-second;
            position: absolute;
            left: 24px;
            top: -20px;
          }
          dd {
            width: 100%;
            height: 78px;
            line-height: 78px;
            text-align: center;
            font-size: 18px;
          }
        }
      }
      .title_bottom {
        width: 100%;
        height: 45px;
        line-height: 45px;
        font-size: 15px;
        font-weight: bold;
        border-bottom: 1px @border-color solid;
        background: @background-color-default;
        span {
          width: 4px;
          height: 16px;
          background: @color-theme2;
          display: inline-block;
          margin: 15px 10px 0 20px;
          float: left;
        }
        .scan{
          float: right;
          font-weight: normal;
          margin: 5px 20px 0;
          display: inline-block;
          height: 34px;
          width: 118px;
          padding-left: 43px;
          line-height: 34px;
          border:1px solid #f8cd8e;
          background: #fff3e1 url(/images/mobile.png) 20px center no-repeat;
          border-radius: 2px;
        }
      }
      .content_bottom {
        th {
          color: @default-text-color;
        }
        .po_r{
          position: relative;
        }
        .file{
          position: absolute;
          width: 100px;
          height: 30px;
          line-height: 30px;
          opacity: 0;
          left: 27px;
          cursor: pointer;
          z-index: 10;
        }
        .uploadbtn {
          width: 100px;
          height: 30px;
          line-height: 30px;
          margin-left: 27px;
        }
        .icon {
          width: 70px;
          height: 120px;
          line-height: 120px;
          text-align: center;
          font-size: 35px;
          float: left;
        }
        .startplace {
          height: 120px;
          line-height: 120px;
          padding-right: 10px;
          float: left;
        }
        .description {
          height: 120px;
          line-height: 90px;
          background: url("../images/jiantou.png") no-repeat right 54px;
          padding: 0 40px;
          float: left;
        }
        .endplace {
          height: 120px;
          line-height: 120px;
          padding-left: 10px;
          float: left;
        }
        .hoteldescription {
          line-height: 30px;
          padding: 15px 0;
          p {
            color: #4A4A4A;
            span {
              color: @default-text-color;
            }
          }
        }
        p {
          height: 25px;
          line-height: 25px;
          color: #9B9B9B;
          .tongguo {
            width: 20px;
            height: 20px;
            line-height: 20px;
            color: @btn-text-color;
            border-radius: 50%;
            background: #69B754;
            display: inline-block;
          }
          a {
            color: @color-theme1;
          }
        }
      }
      .cmask{
        background: #000;
        opacity: 0.6;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 11;
      }
    }
    .submitcontent {
      width: 998px;
      height: 98px;
      border: 1px @border-color solid;
      background: #EFF3F5;
      margin-top: 15px;
    }
  }
  .invoiceDetail {
    width: 1000px;
    height: auto;
    margin: 30px auto 0 auto;
    .invoicepath {
      width: 100%;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      span {
        color: #9B9B9B;
      }
    }
    .mainbox {
      width: 958px;
      height: auto;
      border: 1px @border-color solid;
      background: @background-color-second;
      padding: 20px;
      .mainbox_top {
        width: 100%;
        height: auto;
        line-height: 25px;
        position: relative;
        p {
          font-size: 15px;
        }
        span {
          color: #9B9B9B;
        }
        input {
          width: 60px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .mainbox_bottom {
        width: 100%;
        height: auto;
        text-align: center;
        overflow: hidden;
        img {
          max-width: 958px;
        }
      }
    }
  }
}
.scan_fixed{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 10;
  display: none;
  .scancode{
    height: 480px;
    width: 500px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    .scantitle{
      height: 40px;
      line-height: 40px;
      background: #ededed;
      padding-left: 20px;
      .scan_close{
        position: absolute;
        -webkit-transtion: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        transition: 0.4s all ease;
        right: 20px;
        top: 14px;
        img{
          width: 12px;
        }
        &:hover{
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    #qrcode{
      margin-top: 20px;
      text-align: center;
      p{
        text-align: center;
        height: 30px;
        line-height: 30px;
      }
      img{
        margin: 10px auto;
      }
    }
  }
}
