<div class="business-travel">
    <div class="business_bg"></div>
    <section class="creating">
        <table width="100%">
            <tr>
                <td height="50" class="loadtxt" style="border-bottom: 1px #E5E5E5 solid;">
                    <p>今天 {{nowtime | date: 'HH:mm'}}</p>
                    <p><span ng-if="starttime!=undefined">您计划&nbsp;&nbsp;&nbsp;{{starttime}}&nbsp;&nbsp;&nbsp;{{startplace}}-{{endplace}}&nbsp;&nbsp;&nbsp;</span><span ng-if="starttimelate!=undefined && starttimelate!=''">最晚{{starttime}} {{starttimelate}}到达</span></p>
                    <p ng-if="endtime!='' && endtime!=undefined">　　　&nbsp;&nbsp;&nbsp;{{endtime}}&nbsp;&nbsp;&nbsp;{{endplace}}-{{startplace}}&nbsp;&nbsp;&nbsp;<span ng-if="endtimelate!=undefined && endtimelate!=''">最晚{{endtime}} {{endtimelate}}到达</span></p>
                    <p><span ng-if="liveplace!=undefined"><span ng-if="starttime==undefined">您计划</span><span ng-if="starttime!=undefined">　　　</span>&nbsp;&nbsp;&nbsp;在{{liveplace}}附近酒店入住&nbsp;&nbsp;&nbsp;</span><span ng-if="livetime!=undefined">计划住店时间为{{livetime}}到{{leavetime}}</span></p>
                </td>
            </tr>
            <tr>
                <td align="center" class="loadimg">正在生成动态预算单<br><img src="images/loading.gif"></td>
            </tr>
        </table>
    </section>

    <section class="createresult">
        <div class="top">本次出差预算：
            <span class="createtime" ng-bind-html="createTime | date:'yyyy-MM-dd'" style="position: absolute; left: 20px;"></span>
            <span ng-if="tra==1&&liv==0">¥{{(onlytraffic.price).toFixed(2)}}</span>
            <span ng-if="tra==0&&liv==1">¥{{(onlylive.price).toFixed(2)}}</span>
            <span ng-if="tra==1&&liv==1">¥{{(trafficlive.price).toFixed(2)}}</span>
            <span style="position: absolute; right: 20px;">{{purposename}}</span>
        </div>
        <div class="center">
            <table width="100%" border="1" bordercolor="#E5E5E5">
                <tr>
                    <td width="80%" height="40" align="center" style="font-size: 14px;">明细</td>
                    <td width="20%" height="40" align="center" style="font-size: 14px;">预算</td>
                </tr>
                <tr ng-if="tra==1">
                    <td height="90" style="font-size: 14px;">
                        <div class="icon web-icon-font3" style="color: #CF2520;">&#xe90e;</div>
                        <div class="startplace">{{startplace}}</div>
                        <div class="description">{{starttime}}<span ng-if="starttimelate!=undefined && starttimelate!=''">&nbsp;&nbsp;&nbsp;最晚{{starttime}}&nbsp;{{starttimelate}}到达</span></div>
                        <div class="endplace">{{endplace}}</div>
                    </td>
                    <td height="90" style="font-size: 14px;" align="center">
                        <span ng-if="liv==0">¥{{onlytraffic.goTraffic.price}}</span>
                        <span ng-if="liv==1">¥{{trafficlive.goTraffic.price}}</span>
                    </td>
                </tr>
                <tr ng-if="liv==1">
                    <td height="90" style="font-size: 14px;">
                        <div class="icon  web-icon-font3" style="color: #5248C8;">&#xe914;</div>
                        <div style="line-height: 35px; padding: 10px 0; float: left;">入住地：{{endplace}}&nbsp;{{liveplace}}附近<br>入住日期：{{livetime}}&nbsp;&nbsp;&nbsp;退房日期：{{leavetime}}</div>
                    </td>
                    <td height="90" style="font-size: 14px;" align="center">
                        <span ng-if="tra==0">¥{{onlylive.price}}</span>
                        <span ng-if="tra==1">¥{{trafficlive.hotel}}</span>
                    </td>
                </tr>
                <tr ng-if="tra==1 && endtime">
                    <td height="90" style="font-size: 14px;">
                        <div class="icon  web-icon-font3" style="color: #CF2520;">&#xe90e;</div>
                        <div class="startplace">{{endplace}}</div>
                        <div class="description">{{endtime}}<span ng-if="endtimelate!=undefined && endtimelate!=''">&nbsp;&nbsp;&nbsp;最晚{{endtime}}&nbsp;{{endtimelate}}到达</span></div>
                        <div class="endplace">{{startplace}}</div>
                    </td>
                    <td height="90" style="font-size: 14px;" align="center">
                        <span ng-if="liv==0">¥{{onlytraffic.backTraffic.price}}</span>
                        <span ng-if="liv==1">¥{{trafficlive.backTraffic.price}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bottom1">
            <div>
                <input type="button" value="返回上一步" class="common_btn2 w120" ng-click="prevstep()" style="margin-left: 300px;">
                <input type="button" value="取消" class="common_btn2 w120" ng-click="cancel()" style="margin-left: 20px;">
                <input type="button" value="生成出差记录" class="common_btn1 w120" ng-click="createRecord()" style="margin-left: 20px;">
                <div class="bottom_txt">提示：生成出差记录同时会发送邮件通知给企业管理人员</div>
            </div>
        </div>
        <div class="bottom2">
            <div>
                <div class="bottom_txt">出差记录已生成，可在&nbsp;<a href="#/StaffFirst/StaffUser">我的账户</a>&nbsp;>&nbsp;<a href="#/travelPlan/PlanList">出差记录</a>&nbsp;中查找</div>
                <div style="text-align: center; font-size: 13px; padding-bottom: 15px;">提示：出差完成后，您需将相关票据上传至对应出差记录</div>
                <a class="common_btn2 w120" href="http://www.tianxun.com/" target="_blank" style="margin-left: 370px;">去预订</a>
                <input type="button" value="上传票据" class="common_btn2 w120" ng-click="upLoad()" style="margin-left: 20px;">
            </div>
        </div>
    </section>
    <div class="tianxun">推荐去<a href="http://www.tianxun.com/" target="_blank">天巡网</a>进行预订</div>
</div>