<div class="business-travel">
    <div class="business_bg"></div>
    <section class="live_step1">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="3" height="60" style="position: relative;">
                    <input type="text" class="common_text a1" style="width: 438px;" checkval="" placeholder="目的地城市" ng-model="startplacename" ng-change="startplace()">
                    <ul class="placelist1 placelist">
                        <li ng-repeat="item in startplaceitems" ng-click="asd1(item.name,item.id)">{{item.name}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="60" style="position: relative;">
                    <input type="text" class="common_text a2" style="width: 438px;" checkval="" placeholder="住宿地标位置（计划入住在XXX位置）" ng-model="endplacename" ng-change="endplace()">
                    <ul class="placelist2 placelist">
                        <li ng-repeat="item in endplaceitems" ng-click="asd2(item.name,item.id)">{{item.name}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td width="210" height="60">
                    <input type="text" class="common_text" id="start_time" ng-model="start_time" style="width: 188px;" placeholder="入住日期">
                </td>
                <td height="60" align="center" style="color: #D9D9D9;">---</td>
                <td width="210" height="60">
                    <input type="text" class="common_text" id="start_timelate" ng-model="start_timelate" style="width: 188px;" placeholder="离店日期">
                </td>
            </tr>
            <tr>
                <td colspan="3" height="60" align="center">
                    <input type="button" value="生成预算单" class="common_btn1 w308" style="float: none; margin: 0 auto;">
                </td>
            </tr>
            <tr>
                <td colspan="3" height="60" align="center">
                    <input type="button" value="返回上一步" class="common_btn2 w308" style="float: none; margin: 0 auto;">
                </td>
            </tr>
        </table>
    </section>
</div>