<script type="text/javascript">
    $(function(){
        $("#start_time,#end_time").datepicker({
            prevText: "<",
            nextText: ">",
            monthNames: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
            dayNamesMin: ["日","一","二","三","四","五","六"],
            minDate: 0,
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
<div class="business-travel">
    <div class="business_bg"></div>
    <section class="traffic_step1">
        <form>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="3" height="60" style="position: relative;">
                    <input type="text" name="sp" class="common_text traffic1" style="width: 438px;" checkval="" placeholder="出发城市" ng-model="startplacename" ng-change="startplace()">
                    <ul class="placelist1 placelist">
                        <li ng-repeat="item in startplaceitems" ng-click="chooseStartplace(item.name,item.id)">{{item.name}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="60" style="position: relative;">
                    <input type="text" name="ep" class="common_text traffic2" style="width: 438px;" checkval="" placeholder="目的地城市" ng-model="endplacename" ng-change="endplace()">
                    <ul class="placelist2 placelist">
                        <li ng-repeat="item in endplaceitems" ng-click="chooseEndplace(item.name,item.id)">{{item.name}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td width="210" height="60">
                    <input type="text" name="st" class="common_text" id="start_time" ng-model="start_time" style="width: 188px;" placeholder="出发日期">
                </td>
                <td height="60" align="center" style="color: #D9D9D9;">---</td>
                <td width="210" height="60">
                    <input type="text" name="stl" class="common_text" id="start_timelate" ng-model="start_timelate" style="width: 188px;" placeholder="最晚到达时间(选填)">
                </td>
            </tr>
            <tr>
                <td width="210" height="60">
                    <input type="text" name="et" class="common_text" id="end_time" ng-model="end_time" style="width: 188px;" placeholder="返回日期(选填)">
                </td>
                <td height="60" align="center" style="color: #D9D9D9;">---</td>
                <td width="210" height="60">
                    <input type="text" name="etl" class="common_text" id="end_timelate" ng-model="end_timelate" style="width: 188px;" placeholder="最晚到达时间(选填)">
                </td>
            </tr>
            <tr>
                <td colspan="3" height="60" align="center">
                    <input type="button" value="生成预算单" class="common_btn1 w308" ng-click="budget()" style="float: none; margin: 0 auto;">
                </td>
            </tr>
            <tr>
                <td colspan="3" height="60" align="center">
                    <input type="button" value="返回上一步" class="common_btn2 w308" ng-click="prevstep()" style="float: none; margin: 0 auto;">
                </td>
            </tr>
        </table>
        </form>
    </section>
</div>