.companylist {
  background: #fff;
  margin-top: 20px;
}
.companylist .todaystatistics h3 {
  margin: 10px;
}
.companylist .todaystatistics .todaydata {
  border: 1px solid #e5e5e5;
  height: 40px;
  line-height: 40px;
}
.companylist .companylist {
  padding: 10px;
}
.companylist .companylist .company {
  width: 100%;
  border: 1px solid #e5e5e5;
}
.companylist .companylist .company tr {
  border-top: 1px solid #e5e5e5;
  height: 30px;
  line-height: 30px;
}
.companylist .companylist .company tr td:nth-child(1) {
  padding-left: 10px;
}
.companylist .companylist .company tr td a {
  color: #01BDFF;
}
.companylist .companylist .company tr:nth-child(1) {
  border-top: 0;
}
.companylist .companylist .company tr:nth-child(1) td {
  height: 40px;
  line-height: 40px;
}
.companyinfo {
  background: #fff;
  margin-top: 20px;
}
.companyinfo a {
  cursor: pointer;
}
.companyinfo .company_tab {
  padding-top: 10px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #000;
}
.companyinfo .company_tab li {
  float: left;
  width: 100px;
  text-align: center;
  margin-left: 15px;
}
.companyinfo .company_tab li.on {
  border: 1px solid #000;
  border-bottom: 0;
  border-radius: 2px;
}
.companyinfo .companydetail {
  position: relative;
  clear: both;
}
.companyinfo .companydetail h3 {
  padding-left: 30px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.companyinfo .companydetail p {
  height: 30px;
  line-height: 30px;
}
.companyinfo .companydetail p span {
  display: inline-block;
  text-align: right;
  width: 120px;
}
.companyinfo .companydetail p a {
  color: #02bfff;
}
.companyinfo .companydetail .charges {
  position: absolute;
  height: 100px;
  width: 300px;
  background: #fff;
  z-index: 1;
  top: 100px;
  right: 300px;
  border: 1px solid #e5e5e5;
  text-align: center;
  display: none;
}
.companyinfo .companydetail .charges h2 {
  font-size: 20px;
  padding-left: 15px;
  font-weight: normal;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.companyinfo .companydetail .charges #Money {
  width: 200px;
  margin-right: 10px;
}
.companyinfo .companydetail .charges p a {
  margin-right: 30px;
}
.companyinfo .department {
  width: 958px;
  height: auto;
  padding: 20px;
}
.companyinfo .department h1 {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-weight: normal;
}
.companyinfo .department h1 .companyname {
  font-size: 18px;
  padding-right: 50px;
  float: left;
}
.companyinfo .department h1 a {
  color: #118FD6;
  float: left;
}
.companyinfo .department h1 span {
  font-size: 12px;
  float: left;
}
.companyinfo .department h1 .updatecompany,
.companyinfo .department h1 .createcompany {
  width: 500px;
  height: 36px;
  margin-left: 30px;
  float: left;
  display: none;
}
.companyinfo .department ul {
  padding-left: 30px;
  padding-top: 20px;
}
.companyinfo .department ul li {
  width: 100%;
  height: auto;
  margin-top: -12px;
  overflow: hidden;
}
.companyinfo .department ul li span {
  line-height: 22px;
  font-size: 16px;
  display: inline-block;
  padding-right: 20px;
  float: left;
}
.companyinfo .department ul li span a {
  font-size: 13px;
  color: #118FD6;
}
.companyinfo .department ul li .updatechildDepartment {
  padding-top: 35px;
  display: none;
}
.companyinfo .policy_title {
  width: 938px;
  height: 58px;
  line-height: 58px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  background: #FFFFFF;
  border: 1px #E5E5E5 solid;
  padding: 0 30px;
  margin: 20px auto 0 auto;
}
.companyinfo .policy_title a {
  color: #118FD6;
}
.companyinfo .policy_titlefixed {
  position: fixed;
  z-index: 9999;
  margin-top: 0;
}
.companyinfo .policy_page {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.companyinfo .policy_page li {
  width: 453px;
  height: 208px;
  background: #FFFFFF;
  border: 1px #E5E5E5 solid;
  padding: 0 20px;
  margin: 10px 10px 0 0;
  float: left;
  position: relative;
}
.companyinfo .policy_page li .policy_t {
  width: 439px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: right;
  border-left: 4px #01BDFF solid;
  padding-left: 10px;
  margin: 10px 0 5px 0;
}
.companyinfo .policy_page li .policy_t a {
  color: #118FD6;
}
.companyinfo .policy_page :nth-child(even) {
  margin-right: 0;
}
.companyinfo .policy_page .create_policy {
  width: 453px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  padding: 0 20px 20px 20px;
  z-index: 1;
}
.companyinfo .policy_page .create_policy .policy_t {
  width: 439px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
  border-left: 4px #01BDFF solid;
  padding-left: 10px;
  margin: 10px 0 5px 0;
}
.companyinfo .policy_page .create_policy .policy_t a {
  color: #118FD6;
}
.companyinfo .policy_page .update_policy {
  width: 453px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  padding: 0 20px 20px 20px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
}
.companyinfo .policy_page .update_policy .policy_t {
  width: 439px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
  border-left: 4px #01BDFF solid;
  padding-left: 10px;
  margin: 10px 0 5px 0;
}
.companyinfo .policy_page .update_policy .policy_t a {
  color: #118FD6;
}
.companyinfo .labletrue {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: #118FD6;
  margin-top: 1px;
  float: left;
}
.companyinfo .lablefalse {
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffffff;
  border: 1px #E5E5E5 solid;
  margin-top: 1px;
  float: left;
}
.confirmFixed {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
}
.confirmFixed .confirmbox {
  width: 398px;
  height: auto;
  border: 1px #E5E5E5 solid;
  background: #FFFFFF;
  margin: -102px 0 0 -200px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
}
.confirmFixed .confirmbox .confirmbox_t {
  width: 358px;
  height: 35px;
  line-height: 35px;
  background: #E5E5E5;
  padding: 0 20px;
}
.confirmFixed .confirmbox .confirmbox_p {
  width: 358px;
  height: 150px;
  padding: 10px 20px 0 20px;
  position: relative;
}
.confirmFixed .confirmbox .confirmbox_p .deleteFail {
  width: 100%;
  height: 160px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.confirmFixed .confirmbox .confirmbox_p .deleteFail .deleteFail_text {
  text-align: center;
  line-height: 25px;
  padding: 20px;
}
.confirmFixed .confirmbox .confirmbox_p div {
  overflow: hidden;
}

/*# sourceMappingURL=companylist.css.map */
