<div class="travel-policy">
    <div class="policy_title">
        <span style="float: left;">共设置了{{PolicyTotal}}级差旅标准</span>
        <input type="button" value="增加标准" class="common_btn1 w100" ng-click="createPolicyShow()" style="float: right; margin-top: 11px;">
    </div>
    <ul class="policy_page">
        <li ng-repeat="item in PolicyList">
            <div class="policy_t"><span style="float: left;">{{item.name}}</span><a href="javascript:void(0);" ng-click="updatePolicyShow(item.id,$index)">修改</a><span style="font-size: 13px;">&nbsp;|&nbsp;</span><a href="javascript:void(0);" ng-click="deletePolicy(item.id,item.name)">删除</a></div>
            <table width="100%">
                <tr>
                    <td width="70" height="34" align="right">飞机：</td>
                    <td height="34">
                        <span ng-if="item.planeLevel=='不限'">
                            <span ng-if="item.planeDiscount==0">全价机票，舱位不限，想飞就飞</span>
                            <span ng-if="item.planeDiscount==9">最高9折，舱位不限</span>
                            <span ng-if="item.planeDiscount==8">最高8折，舱位不限</span>
                            <span ng-if="item.planeDiscount==7">最高7折，舱位不限</span>
                            <span ng-if="item.planeDiscount==6">最高6折，舱位不限</span>
                            <span ng-if="item.planeDiscount==5">最高5折，舱位不限</span>
                            <span ng-if="item.planeDiscount==4">最高4折，舱位不限</span>
                        </span>
                        <span ng-if="item.planeLevel!='不限'">
                            <span ng-if="item.planeDiscount==0">全价{{item.planeLevel}}</span>
                            <span ng-if="item.planeDiscount==9">最高9折，{{item.planeLevel}}</span>
                            <span ng-if="item.planeDiscount==8">最高8折，{{item.planeLevel}}</span>
                            <span ng-if="item.planeDiscount==7">最高7折，{{item.planeLevel}}</span>
                            <span ng-if="item.planeDiscount==6">最高6折，{{item.planeLevel}}</span>
                            <span ng-if="item.planeDiscount==5">最高5折，{{item.planeLevel}}</span>
                            <span ng-if="item.planeDiscount==4">最高4折，{{item.planeLevel}}</span>
                        </span>
                    </td>
                </tr>
                <tr ng-if="item.isChangeLevel==true">
                    <td width="70" height="20" align="right"></td>
                    <td height="20" style="color: #9B9BAF;">当高级舱位低于上述标准时，可选择高级舱位</td>
                </tr>
                <tr>
                    <td width="70" height="34" align="right">火车：</td>
                    <td height="34">
                        <span ng-if="item.trainLevel=='不限'">座次不限</span>
                        <span ng-if="item.trainLevel!='不限'">{{item.trainLevel.replace(',', '/')}}</span>
                    </td>
                </tr>
                <tr>
                    <td width="70" height="34" align="right">住宿：</td>
                    <td height="34">
                        <span ng-if="item.hotelLevel=='不限'">
                            <span ng-if="!item.hotelPrice">酒店任意住</span>
                            <span ng-if="item.hotelPrice">每晚不超过{{item.hotelPrice}}元</span>
                        </span>
                        <span ng-if="item.hotelLevel!='不限'">{{item.hotelLevel.replace(',', '/')}}<span ng-if="item.hotelPrice">且每晚不超过{{item.hotelPrice}}元</span></span>
                </tr>
            </table>
        </li>
        <li class="create_policy" style="display: none;">
            <div class="policy_t">增加差旅标准</div>
            <table width="100%">
                <tr>
                    <td width="70" height="56" align="right">等级：</td>
                    <td><input class="common_text w350 Cname" maxlength="10" placeholder="自定义差旅标准名称，限制10个汉字，例&quot;员工级&quot;"></td>
                </tr>
                <tr>
                    <td width="70" height="56" align="right">飞机：</td>
                    <td>
                        <dl class="selectbox w180">
                            <dt class="common_select CplaneLevel">请选择舱位</dt>
                            <dd class="common_option">
                                <div>不限</div>
                                <div>经济舱</div>
                                <div>高端经济舱</div>
                                <div>商务舱</div>
                                <div>头等舱</div>
                            </dd>
                        </dl>
                        <dl class="selectbox w180" style="margin-left: 12px;">
                            <dt class="common_select CplaneDiscount" selectValue="0">请选择折扣</dt>
                            <dd class="common_option">
                                <div selectValue="0">全价</div>
                                <div selectValue="9">最高9折</div>
                                <div selectValue="8">最高8折</div>
                                <div selectValue="7">最高7折</div>
                                <div selectValue="6">最高6折</div>
                                <div selectValue="5">最高5折</div>
                                <div selectValue="4">最高4折</div>
                            </dd>
                        </dl>
                    </td>
                </tr>
                <tr>
                    <td width="70" height="36" align="right"></td>
                    <td>
                        <input type="checkbox" class="Ccheckbox" id="Ccheckboxx" checked="" style="display: none;">
                        <label for="Ccheckboxx" class="Ccheckboxlabel web-icon-font2 labletrue" ng-click="createChangecheck()"></label>
                        <span style="padding-left: 5px; float: left;">当高级舱位低于上述标准时，可选择高级舱位</span></td>
                </tr>
                <tr>
                    <td width="70" height="56" align="right">火车：</td>
                    <td>
                        <dl class="selectbox w180">
                            <dt class="common_select CtrainLevel">请选择座次</dt>
                            <dd class="common_option">
                                <div>不限</div>
                                <div>一等座/软卧</div>
                                <div>二等座/硬卧</div>
                                <div>软座</div>
                                <div>硬座</div>
                            </dd>
                        </dl>
                    </td>
                </tr>
                <tr>
                    <td width="70" height="56" align="right">住宿：</td>
                    <td>
                        <dl class="selectbox w180">
                            <dt class="common_select ChotelTevel">星级标准</dt>
                            <dd class="common_option">
                                <div>不限</div>
                                <div>五星级/豪华型</div>
                                <div>四星级/高档型</div>
                                <div>三星级/舒适型</div>
                                <div>二星级/经济型</div>
                            </dd>
                        </dl>
                        <input class="common_text w160 ChotelPrice" maxlength="5" placeholder="最高价格" style="background: url('/corp/images/night.jpg') no-repeat right; margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td width="70" height="56" align="right"></td>
                    <td>
                        <input type="button" value="保存设置" class="common_btn1 w100" ng-click="createPolicy()">
                        <input type="button" value="取消" class="common_btn2 w100" ng-click="createClose()" style="margin-left: 20px;">
                    </td>
                </tr>
            </table>
        </li>

        <div class="update_policy" style="display: none;">
            <div class="policy_t">修改差旅标准</div>
            <table width="100%">
                <tr>
                    <td width="70" height="56" align="right">等级：</td>
                    <td><input class="common_text w350 Cname"></td>
                </tr>
                <tr>
                    <td width="70" height="56" align="right">飞机：</td>
                    <td>
                        <dl class="selectbox w180">
                            <dt class="common_select CplaneLevel">不限</dt>
                            <dd class="common_option">
                                <div>不限</div>
                                <div>经济舱</div>
                                <div>高端经济舱</div>
                                <div>商务舱</div>
                                <div>头等舱</div>
                            </dd>
                        </dl>
                        <dl class="selectbox w180" style="margin-left: 12px;">
                            <dt class="common_select CplaneDiscount" selectValue="0">全价</dt>
                            <dd class="common_option">
                                <div selectValue="0">全价</div>
                                <div selectValue="9">最高9折</div>
                                <div selectValue="8">最高8折</div>
                                <div selectValue="7">最高7折</div>
                                <div selectValue="6">最高6折</div>
                                <div selectValue="5">最高5折</div>
                                <div selectValue="4">最高4折</div>
                            </dd>
                        </dl>
                    </td>
                </tr>
                <tr>
                    <td width="70" height="36" align="right"></td>
                    <td>
                        <input type="checkbox" class="Ccheckbox" id="Ccheckbox" checked="" style="display: none;">
                        <label for="Ccheckbox" class="Ccheckboxlabel web-icon-font2 labletrue" ng-click="updateChangecheck()"></label>
                        <span style="padding-left: 5px; float: left;">当高级舱位低于上述标准时，可选择高级舱位</span></td>
                </tr>
                <tr>
                    <td width="70" height="56" align="right">火车：</td>
                    <td>
                        <dl class="selectbox w180">
                            <dt class="common_select CtrainLevel">不限</dt>
                            <dd class="common_option">
                                <div>不限</div>
                                <div>一等座/软卧</div>
                                <div>二等座/硬卧</div>
                                <div>软座</div>
                                <div>硬座</div>
                            </dd>
                        </dl>
                    </td>
                </tr>
                <tr>
                    <td width="70" height="56" align="right">住宿：</td>
                    <td>
                        <dl class="selectbox w180">
                            <dt class="common_select ChotelTevel">不限</dt>
                            <dd class="common_option">
                                <div>不限</div>
                                <div>五星级/豪华型</div>
                                <div>四星级/高档型</div>
                                <div>三星级/舒适型</div>
                                <div>二星级/经济型</div>
                            </dd>
                        </dl>
                        <input class="common_text w160 ChotelPrice" maxlength="5" style="background: url('/corp/images/night.jpg') no-repeat right; margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td width="70" height="56" align="right"></td>
                    <td>
                        <input type="button" value="保存设置" class="common_btn1 w100" ng-click="updatePolicy()">
                        <input type="button" value="取消" class="common_btn2 w100" ng-click="updateClose()" style="margin-left: 20px;">
                    </td>
                </tr>
            </table>
        </div>


    </ul>
    <ul class="pagination" id="pagination"></ul>
</div>