<div class="travel-plan">
    <div class="planDetail">
        <div class="planpath"><a href="#/TravelStatistics/PlanList" style="color:#4a4a4a;font-size:16px;">出差记录</a>&nbsp;>&nbsp;<span>{{travelerName}}于<span ng-if="planDetail.startAt">{{planDetail.startAt | date: 'yyyy月MM月dd日'}}</span><span ng-if="!planDetail.startAt">{{planDetail.hotel[0].startTime | date: 'yyyy月MM月dd日'}}</span>的出差详情</span>
        </div>
        <div class="mainbox">
            <img class="stamp" src="corp/images/stamp.png" style="position:absolute;left:40%;top:40%;z-index:99;" ng-if="planDetail.status===2"/>
            <div class="title_top">
                <table width="100%">
                    <tr>
                        <td width="220" height="40" align="left" class="po_r">
                            <a href="" class="standard">Ta的差旅标准</a>
                            <div class="standard_detail">
                                <em></em>
                                <h3>{{travelpolicy.name}}</h3>
                                <p ng-if="travelpolicy.planeLevel == '不限' && travelpolicy.planeDiscount == 0">飞机：全价机票，舱位不限，想飞就飞
                                <p ng-if="travelpolicy.planeLevel == '不限' && travelpolicy.planeDiscount != 0">飞机：最高{{travelpolicy.planeDiscount}}折,舱位不限
                                <p ng-if="travelpolicy.planeLevel != '不限' && travelpolicy.planeDiscount == 0">飞机：全价{{travelpolicy.planeLevel}}
                                <p ng-if="travelpolicy.planeLevel != '不限' && travelpolicy.planeDiscount != 0">飞机：最高{{travelpolicy.planeDiscount}}折,{{travelpolicy.planeLevel}}
                                <br/>
                                    <span ng-if="travelpolicy.isChangeLevel == true">当高级舱位价格低于上述标准时，可选择高级舱位</span>
                                </p>
                                <p ng-if="travelpolicy.trainLevel == '不限'">火车：座次不限</p>
                                <p ng-if="travelpolicy.trainLevel != '不限'">火车：{{travelpolicy.trainLevel.replace(',', '/')}}</p>
                                <p ng-if="travelpolicy.hotelLevel == '不限' && travelpolicy.hotelPrice == null">住宿：酒店任意住</p>
                                <p ng-if="travelpolicy.hotelLevel == '不限' && travelpolicy.hotelPrice != null">住宿：每晚不超过{{travelpolicy.hotelPrice}}元</p>
                                <p ng-if="travelpolicy.hotelLevel != '不限' && travelpolicy.hotelPrice == null">住宿：{{travelpolicy.hotelLevel.replace(',', '/')}}</p>
                                <p ng-if="travelpolicy.hotelLevel != '不限' && travelpolicy.hotelPrice != null">住宿：{{travelpolicy.hotelLevel.replace(',', '/')}}且每晚不超过{{travelpolicy.hotelPrice}}元</p>
                            </div>
                        </td>
                        <td height="40" align="center">{{travelerName}}于
                            <span ng-if="planDetail.startAt">{{planDetail.startAt | date: 'yyyy月MM月dd日'}}</span>
                            <span ng-if="!planDetail.startAt">{{planDetail.hotel[0].startTime | date: 'yyyy月MM月dd日'}}</span>
                            的出差记录
                        </td>
                        <td width="220" height="40" align="right">{{planDetail.description}}</td>
                    </tr>
                </table>
            </div>
            <div class="content_top">
                <dl>
                    <dt>动态标准预算</dt>
                    <dd>
                        <span ng-if="planDetail.status=='-1'" style="color:#A4A4A4;">暂无</span>
                        <span ng-if="planDetail.status!='-1'">¥{{planDetail.budget.toFixed(2)}}</span>
                    </dd>
                </dl>
                <dl>
                    <dt>实际支出</dt>
                    <dd>
                        <span ng-if="!planDetail.expenditure" style="color:#A4A4A4;">暂无</span>
                        <span ng-if="planDetail.expenditure">¥{{planDetail.expenditure.toFixed(2)}}</span>
                    </dd>
                </dl>
                <dl>
                    <dt>为公司节省</dt>
                    <dd>
                        <span ng-if="!planDetail.expenditure" style="color:#A4A4A4;">暂无</span>
                        <span ng-if="planDetail.expenditure">
                            <span ng-if="planDetail.budget-planDetail.expenditure>0">¥{{(planDetail.budget-planDetail.expenditure).toFixed(2)}}</span>
                            <span ng-if="planDetail.budget-planDetail.expenditure<=0">￥0.00</span>
                        </span>
                    </dd>
                </dl>
                <dl>
                    <dt>获得积分</dt>
                    <dd>
                        <span ng-if="planDetail.auditStatus==1">
                            <span ng-if="planDetail.score!=0"><span class="web-icon-font2" style="color: #C19943;">&#xe967;</span>&nbsp;{{planDetail.score}}</span>
                            <span ng-if="planDetail.score==0"><span class="web-icon-font2" style="color: #C19943;">&#xe967;</span>&nbsp;0</span>
                        </span>
                        <span ng-if="planDetail.auditStatus==0" style="color:#A4A4A4;">暂无</span>
                    </dd>
                </dl>
            </div>
            <div class="title_bottom"><span></span>差旅消费明细</div>
            <div class="content_bottom">
                <table width="100%" border="1" bordercolor="#E5E5E5">
                    <tr>
                        <th height="40" style="color:#B5B5B5">明细</th>
                        <th width="135" height="40" style="color:#B5B5B5">预算</th>
                        <th width="135" height="40" style="color:#B5B5B5">实际支出</th>
                        <th width="135" height="40" style="color:#B5B5B5">出差票据</th>
                    </tr>
                    <tr ng-if="planDetail.outTraffic.length!=0">
                        <td>
                            <div class="icon web-icon-font3" style="color: #CF2520;">&#xe90e;</div>
                            <div class="startplace">{{outTraffic.deptCity}}</div>
                            <div class="description">{{outTraffic.startTime | date: 'yyyy-MM-dd'}}<span ng-if="outTraffic.latestArriveTime!=undefined && outTraffic.latestArriveTime!=''">&nbsp;&nbsp;&nbsp;最晚&nbsp;{{outTraffic.latestArriveTime | date: 'yyyy-MM-dd HH:mm'}}&nbsp;到达</span></div>
                            <div class="endplace">{{outTraffic.arrivalCity}}</div>
                        </td>
                        <td width="135" align="center">
                            <span ng-if="outTraffic.budget!='-1'">¥{{outTraffic.budget.toFixed(2)}}</span>
                            <a ng-if="outTraffic.budget=='-1'" ng-click="editBudgetShow(outTraffic.id)">录入预算</a>
                        </td>
                        <td width="135" align="center">
                            <span ng-if="outTraffic.expenditure">¥{{outTraffic.expenditure.toFixed(2)}}</span>
                            <span ng-if="!outTraffic.expenditure" style="color:#B5B5B5">暂无</span>
                        </td>
                        <td width="135" align="center">
                            <div ng-if="outTraffic.budget!='-1'">
                                <p ng-if="outTraffic.status=='-1'" style="color: #9B9B9B;">【审核未通过】</p>
                                <p ng-if="outTraffic.status==0 && planDetail.isCommit==true" style="color: #DE492A;">【待审核】</p>
                                <p ng-if="outTraffic.status==0 && planDetail.isCommit==false">暂无</p>
                                <p ng-if="outTraffic.status==1"><span class="tongguo web-icon-font2">&#xe9ec;</span></p>
                                <p ng-if="planDetail.isCommit!=false"><a ng-click="outTraffichref()">去程交通票据</a></p>
                            </div>
                            <div ng-if="outTraffic.budget=='-1'" style="color:#B5B5B5">暂无</div>
                        </td>
                    </tr>
                    <tr ng-if="planDetail.hotel.length!=0">
                        <td>
                            <div class="icon web-icon-font3" style="color: #5248C8;">&#xe914;</div>
                            <div class="hoteldescription">
                                <p>入住地：{{hotel.city}}&nbsp;{{hotel.hotelName}}附近</p>
                                <p>入住日期：{{hotel.startTime | date: 'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;&nbsp;退房日期：{{hotel.endTime | date: 'yyyy-MM-dd'}}</p>
                            </div>
                        </td>
                        <td width="135" align="center">
                            <span ng-if="hotel.budget!='-1'">¥{{hotel.budget.toFixed(2)}}</span>
                            <a ng-if="hotel.budget=='-1'" ng-click="editBudgetShow(hotel.id)">录入预算</a>
                        </td>
                        <td width="135" align="center">
                            <span ng-if="hotel.expenditure">¥{{hotel.expenditure.toFixed(2)}}</span>
                            <span ng-if="!hotel.expenditure" style="color:#B5B5B5">暂无</span>
                        </td>
                        <td width="135" align="center">
                            <div ng-if="hotel.budget!='-1'">
                                <p ng-if="hotel.status=='-1'" style="color: #9B9B9B;">【审核未通过】</p>
                                <p ng-if="hotel.status==0 && planDetail.isCommit==true" style="color: #DE492A;">【待审核】</p>
                                <p ng-if="hotel.status==0 && planDetail.isCommit==false" style="color:#B5B5B5">暂无</p>
                                <p ng-if="hotel.status==1"><span class="tongguo web-icon-font2">&#xe9ec;</span></p>
                                <p ng-if="planDetail.isCommit!=false"><a ng-click="hotelhref()">酒店发票</a></p>
                            </div>
                            <div ng-if="hotel.budget=='-1'" style="color:#B5B5B5">暂无</div>
                        </td>
                    </tr>
                    <tr ng-if="planDetail.backTraffic.length!=0">
                        <td>
                            <div class="icon web-icon-font3" style="color: #CF2520;">&#xe90e;</div>
                            <div class="startplace">{{backTraffic.deptCity}}</div>
                            <div class="description">{{backTraffic.startTime | date: 'yyyy-MM-dd'}}<span ng-if="backTraffic.latestArriveTime!=undefined && backTraffic.latestArriveTime!=''">&nbsp;&nbsp;&nbsp;最晚&nbsp;{{backTraffic.latestArriveTime | date: 'yyyy-MM-dd HH:mm'}}&nbsp;到达</span></div>
                            <div class="endplace">{{backTraffic.arrivalCity}}</div>
                        </td>
                        <td width="135" align="center">
                            <span ng-if="backTraffic.budget!='-1'">¥{{backTraffic.budget.toFixed(2)}}</span>
                            <a ng-if="backTraffic.budget=='-1'" ng-click="editBudgetShow(backTraffic.id)">录入预算</a>
                        </td>
                        <td width="135" align="center">
                            <span ng-if="backTraffic.expenditure">¥{{backTraffic.expenditure.toFixed(2)}}</span>
                            <span ng-if="!backTraffic.expenditure" style="color:#B5B5B5">暂无</span>
                        </td>
                        <td width="135" align="center">
                            <div ng-if="backTraffic.budget!='-1'">
                                <p ng-if="backTraffic.status=='-1'" style="color: #9B9B9B;">【审核未通过】</p>
                                <p ng-if="backTraffic.status==0 && planDetail.isCommit==true" style="color: #DE492A;">【待审核】</p>
                                <p ng-if="backTraffic.status==0 && planDetail.isCommit==false" style="color:#B5B5B5">暂无</p>
                                <p ng-if="backTraffic.status==1"><span class="tongguo web-icon-font2">&#xe9ec;</span></p>
                                <p ng-if="planDetail.isCommit!=false"><a ng-click="backTraffichref()">回程交通票据</a></p>
                            </div>
                            <div ng-if="backTraffic.budget=='-1'" style="color:#B5B5B5">暂无</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <a id="outTraffic"></a>
        <dl class="invoice" ng-if="outTraffic.newInvoice">
            <dt>去程交通发票
                <span ng-if="outTraffic.status=='-1'" style="color: #9B9B9B;">【审核未通过】</span>
                <span ng-if="outTraffic.status==0" style="color: #DE492A;">【待审核】</span>
                <span ng-if="outTraffic.status==1" style="color: #9B9B9B;">【审核通过】</span>
            </dt>
            <dd>
                <table width="100%">
                    <tr style="border-bottom: 1px #E5E5E5 solid">
                        <td>
                            <div ng-repeat="item in outTraffic.invoice">
                                <p>{{item.created_at}}　第{{item.times}}次上传</p>
                                <p ng-if="item.status!=0">{{item.approve_at}}　<span ng-if="item.status=='-1'">审核未通过　　理由：{{item.remark}}　　操作人：{{outTraffic.auditName.name}}</span><span ng-if="item.status==1">审核通过</span></p>
                            </div>
                        </td>
                        <td width="250" valign="bottom">
                            <!-- <div ng-if="outTraffic.status==0">
                                <input type="button" class="common_btn1 w100" value="审核未通过" ng-click="invoiceNopassShow('outTraffic')" style="float: right;">
                                <input type="button" class="common_btn1 w100" value="审核通过" ng-click="invoicePassShow('outTraffic')" style="margin-right: 20px; float: right;">
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><img ng-src="{{outTrafficInvoiceImg || ''}}" alt="去程交通票据"></td>
                    </tr>
                </table>
            </dd>
        </dl>
        <a id="hotel"></a>
        <dl class="invoice" ng-if="hotel.newInvoice">
            <dt>酒店发票
                <span ng-if="hotel.status=='-1'" style="color: #9B9B9B;">【审核未通过】</span>
                <span ng-if="hotel.status==0" style="color: #DE492A;">【待审核】</span>
                <span ng-if="hotel.status==1" style="color: #9B9B9B;">【审核通过】</span>
            </dt>
            <dd>
                <table width="100%">
                    <tr style="border-bottom: 1px #E5E5E5 solid">
                        <td>
                            <div ng-repeat="item in hotel.invoice">
                                <p>{{item.created_at}}　第{{item.times}}次上传</p>
                                <p ng-if="item.status!=0">{{item.approve_at}}　<span ng-if="item.status=='-1'">审核未通过　　理由：{{item.remark}}　　操作人：{{hotel.auditName.name}}</span><span ng-if="item.status==1">审核通过</span></p>
                            </div>
                        </td>
                        <td width="250" valign="bottom">
                            <!-- <div ng-if="hotel.status==0">
                                <input type="button" class="common_btn1 w100" value="审核未通过" ng-click="invoiceNopassShow('hotel')" style="float: right;">
                                <input type="button" class="common_btn1 w100" value="审核通过" ng-click="invoicePassShow('hotel')" style="margin-right: 20px; float: right;">
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><img ng-src="{{hotelInvoiceImg || ''}}" alt=""></td>
                    </tr>
                </table>
            </dd>
        </dl>
        <a id="backTraffic"></a>
        <dl class="invoice" ng-if="backTraffic.newInvoice">
            <dt>回程交通发票
                <span ng-if="backTraffic.status=='-1'" style="color: #9B9B9B;">【审核未通过】</span>
                <span ng-if="backTraffic.status==0" style="color: #DE492A;">【待审核】</span>
                <span ng-if="backTraffic.status==1" style="color: #9B9B9B;">【审核通过】</span>
            </dt>
            <dd>
                <table width="100%">
                    <tr style="border-bottom: 1px #E5E5E5 solid">
                        <td>
                            <div ng-repeat="item in backTraffic.invoice">
                                <p>{{item.created_at}}　第{{item.times}}次上传</p>
                                <p ng-if="item.status!=0">{{item.approve_at}}　<span ng-if="item.status=='-1'">审核未通过　　理由：{{item.remark}}　　操作人：{{backTraffic.auditName.name}}</span><span ng-if="item.status==1">审核通过</span></p>
                            </div>
                        </td>
                        <td width="250" valign="bottom">
                            <!-- <div ng-if="backTraffic.status==0">
                                <input type="button" class="common_btn1 w100" value="审核未通过" ng-click="invoiceNopassShow('backTraffic')" style="float: right;">
                                <input type="button" class="common_btn1 w100" value="审核通过" ng-click="invoicePassShow('backTraffic')" style="margin-right: 20px; float: right;">
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><img ng-src="{{backTrafficInvoiceImg || ''}}" alt=""></td>
                    </tr>
                </table>
            </dd>
        </dl>
    </div>
</div>