<script type="text/javascript">
    $(function(){
        $("#start_time,#end_time").datepicker({
            prevText: "<",
            nextText: ">",
            monthNames: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
            dayNamesMin: ["日","一","二","三","四","五","六"],
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
<section>
    <div class="settlement">
        <ul class="settle_tab">
            <li><a href="#/TravelStatistics/SettlementInfo">结算信息</a></li>
            <li><a href="#/TravelStatistics/StaffPoint">员工积分</a></li>
            <!-- <li><a href="">出差分布</a></li> -->
            <li class="on"><a href="#/TravelStatistics/planList">出差记录</a></li>
        </ul>
        <div class="settle_main mainbox_bottom">
            <div class="search">
                <ul>
                    <li>出发时间：<input type="text" id="start_time" ng-model="start_time" placeholder="请选择时间">&nbsp;-<input type="text" id="end_time" ng-model="end_time" placeholder="请选择时间"></li>
                    <li>关联：<span class="purposstype">全部</span><input type="text" ng-model="purposename" placeholder="请选择具体项目/会议" ng-change="searchPurposeName()" class="purposename">
                        <ul class="PurposeNamelist">
                            <div ng-repeat="item in PurposeNameitems" ng-click="choosepPurposeName(item)">{{item}}</div>
                        </ul>
                        <input type="text" placeholder="请输入员工姓名或邮箱" ng-model="keyword__">
                    </li>
                    <input type="button" value="搜索" class="common_btn1" ng-click="searchKeyword()" style="width:60px;margin-left:10px;">
                    <li></li>
                </ul>
            </div>
            <div class="settle_list ">
                <table width="100%" class="content">
                    <tr>
                        <td>姓名</td>
                        <td>出发时间</td>
                        <td>服务</td>
                        <td>内容简要</td>
                        <td>项目</td>
                        <td>预算</td>
                        <td>实际价格</td>
                        <td>节省</td>
                        <td>获得积分</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="item in planlist">
                        <td align="center">{{item.staffName}}</td>
                        <td align="center">{{item.startAt | date: 'yyyy-MM-dd'}}</td>
                        <td align="center">
                        	<p ng-if="item.isNeedTraffic" class="traffic_icon web-icon-font3">&#xe90e;</p>
                            <p ng-if="item.isNeedHotel" class="live_icon web-icon-font3">&#xe914;</p>
                        </td>
                        <td align="center">
                        	<p ng-if="item.isNeedTraffic"><a>{{item.startPlace}}&nbsp;&nbsp;<img src="staff/images/wangfan_ico.png" ng-if="item.backTraffic.length!=0"><img src="staff/images/danchen_ico.png" ng-if="item.backTraffic.length==0">&nbsp;&nbsp;{{item.destination}}</a></p>
                            <p ng-if="item.isNeedHotel"><span>住宿：</span><a>{{item.destination}}&nbsp;{{item.hotel[0].hotelName}}附近</a></p>
                        </td>
                        <td align="center">{{item.description}}</td>
                        <td align="center">
							<span ng-if="item.status!='-1'">¥{{item.budget}}</span>
                            <span ng-if="item.status=='-1'">暂无</span>
                        </td>
                        <td align="center">
							<span ng-if="item.expenditure!=0">¥{{item.expenditure}}</span>
                            <span ng-if="item.expenditure==0">暂无</span>
                        </td>
                        <td align="center">
                            <span ng-if="item.expenditure!=0 &&item.expenditure > item.budget">0</span>
                            <span ng-if="item.expenditure!=0 && item.status!='-1' && item.expenditure < item.budget">¥{{(item.budget-item.expenditure).toFixed(2)}}</span>
                            <span ng-if="item.expenditure==0">暂无</span>
                        </td>
                        <td align="center">
                            <span ng-if="item.auditStatus!=0">
                                <span ng-if="item.score!=0"><span class="web-icon-font2" style="color: #C19943;">&#xe967;</span>&nbsp;{{item.score}}</span>
                                <span ng-if="item.score==0">0</span>
                            </span>
                            <span ng-if="item.auditStatus==0">暂无</span>
                        </td>
                        <td align="center"><a href="" ng-click="enterDetail(item.id)">查看详情</a></td>
                    </tr>
                </table>
                <div ng-if="planlist.length == 0 " class="list_none">
                    <span class="web-icon-font3">&#xe918;没有员工出差记录</span>
                </div>
            </div>
        </div>
        <ul class="pagination" id="pagination"></ul>
    </div>
</section>