<div class="flight_list">
    <dl class="top_nav elasticbox">
        <dt class="elasticbox_one" ng-if="thatDay > today" ng-click="prevDay()" style="text-align: left; padding-left: 1rem;"><symbol name="icon-left-arrow"/>&nbsp;前一天</dt>
        <dt class="elasticbox_one" ng-if="thatDay <= today" style="color: #9b9b9b; text-align: left; padding-left: 1rem;"><symbol name="icon-left-arrow"/>&nbsp;前一天</dt>
        <dt class="elasticbox_one" style="text-align: center;">{{thatDay | date:"MM-dd"}}&nbsp;<symbol name="icon-down-arrow"/></dt>
        <dt class="elasticbox_one" ng-click="nextDay()" style="text-align: right; padding-right: 1rem;">后一天&nbsp;<symbol name="icon-right-arrow"/></dt>
        <dd style="left: 33%;"></dd>
        <dd style="left: 66%;"></dd>
    </dl>
    <div class="city_content">
        <div class="city_name">{{startCityName}}-{{endCityName}}</div>
        <div class="budget"><span>预算：</span>¥{{budget}}</div>
        <div class="number">共{{flightlist.length}}条信息</div>
    </div>
    <ul>
        <li ng-repeat="item in flightlist | orderBy:sort| filter: filterFunc" ng-click="enterDetails(item.flight_no,item.query_key)">
            <div class="top_content">
                <div class="plane_icon"><symbol name="icon-plane-solid"/></div>
                <div class="starttime">{{(item.departure_time).substring(11, 16)}}<br><span>{{item.dept_station_code}}{{item.departure_term}}</span></div>
                <div class="line1"><img src="mobile/images/line1.jpg"></div>
                <!--<div class="line1"><img src="mobile/images/line2.jpg"><span>经停</span></div>-->
                <div class="endtime">{{(item.arrival_time).substring(11, 16)}}<i ng-if="item.arrival_time < item.departure_time">+1天</i><br><span>{{item.arrival_station_code}}{{item.arrival_term}}</span></div>
                <div class="price">{{item.suggest_price}}<br><span class="ticketnum">余8张</span><span class="salenum" ng-if="item.discount!='100.0'">{{item.discount*0.1}}折</span><span class="salenum" ng-if="item.discount=='100.0'">全价</span><div class="line"></div></div>
            </div>
            <div class="bottom_content elasticbox">
                <div class="left"><img src="mobile/images/logo/{{item.airways}}.gif"></div>
                <div class="right elasticbox_one">{{airlineCodes[item.airways]}}{{item.flight_no}}({{item.flight_mod}}) | 准点率{{item.punctual_rate*100}}%</div>
            </div>
        </li>
    </ul>
    <dl class="bottom_nav elasticbox">
        <dt class="elasticbox_one" ng-class="{'departure_time': 'active'}[sort]" ng-show="sort != '-departure_time'" ng-click="sortFunc('-departure_time')"><symbol name="icon-time"/><br>从早到晚</dt>
        <dt class="elasticbox_one" ng-class="{'-departure_time': 'active'}[sort]" ng-show="sort == '-departure_time'" ng-click="sortFunc('departure_time')"><symbol name="icon-time"/><br>从晚到早</dt>
        <dt class="elasticbox_one" ng-class="{'suggest_price': 'active'}[sort]" ng-show="sort != '-suggest_price'" ng-click="sortFunc('-suggest_price')"><symbol name="icon-price"/><br>从低到高</dt>
        <dt class="elasticbox_one" ng-class="{'-suggest_price': 'active'}[sort]" ng-show="sort == '-suggest_price'" ng-click="sortFunc('suggest_price')"><symbol name="icon-price"/><br>从高到低</dt>
        <dt class="elasticbox_one" ng-click="shaixuanShow()"><symbol name="icon-screen"/><br>　筛选　</dt>
        <dd style="left: 33%;"></dd>
        <dd style="left: 66%;"></dd>
    </dl>
</div>


<section class="shaixuan_bg">
    <div class="shaixuan_box">
        <div class="shaixuan_top elasticbox">
            <div class="elasticbox_one cancel" ng-click="shaixuanHide()">取消</div>
            <div class="elasticbox_one name">清除筛选</div>
            <div class="elasticbox_one determine">确定</div>
        </div>
        <div class="elasticbox shaixuan_bottom">
            <dl>
                <dt ng-class="{'time': 'active'}[selectTab]" ng-click="tabFunc('time')">起飞时间</dt>
                <dt ng-class="{'cabin': 'active'}[selectTab]" ng-click="tabFunc('cabin')">仓位选择</dt>
                <dt ng-class="{'air': 'active'}[selectTab]" ng-click="tabFunc('air')">直飞航司</dt>
                <dd></dd>
            </dl>
            <ul class="elasticbox_one" ng-show="selectTab=='time'">
                <li ng-repeat="timeItem in timeList" ng-click="chooseTime(timeItem.st,item.et)" st="{{timeItem.st}} et="{{item.et}}">{{timeItem.timeName}}</li>
            </ul>
            <ul class="elasticbox_one" ng-show="selectTab=='cabin'">
                <li ng-repeat="cabinItem in cabinList" cabin="{{cabinItem.cabinLeval}}">{{cabinItem.cabinName}}</li>
            </ul>
            <ul class="elasticbox_one" ng-show="selectTab=='air'">
                <li ng-repeat="airItem in airList" airCode="airItem.airCode">{{airItem.airName}}</li>
            </ul>
        </div>
    </div>
</section>