<div class="flight_details">
    <div class="city_content">
        <div class="city_name">{{startCityName}} - {{endCityName}} 03-03周六</div>
        <div class="budget"><span>预算：</span>{{budget}}</div>
    </div>
    <div class="flight_content"></div>
    <dl id="economy_class">
        <dt ng-click="economy_class()"><span>经济舱</span><symbol name="icon-up-arrow" class="up"/><symbol name="icon-down-arrow" class="down"/></dt>
        <dd ng-repeat="item in flightdetails.cabins" ng-if="item.cabin_level==0">
            <div class="price">¥{{item.suggest_price}}</div>
            <div class="explain">退改签说明</div>
            <div class="btn1" ng-if="item.seat_num=='A'">预订</div>
            <div class="btn2" ng-if="item.seat_num!='A'">
                <span class="asd">预订</span>
                <span class="qwe">余{{item.seat_num}}张</span>
            </div>
            <div class="salenum" ng-if="item.discount!='100.0'">{{(item.discount*0.1).toFixed(1)}}折</div>
            <div class="salenum" ng-if="item.discount=='100.0'">全价</div>
        </dd>
    </dl>
    <dl id="first_class">
        <dt ng-click="first_class()"><span>头等/商务舱</span><symbol name="icon-up-arrow" class="up"/><symbol name="icon-down-arrow" class="down"/></dt>
        <dd ng-repeat="item in flightdetails.cabins" ng-if="item.cabin_level!=0">
            <div class="price">¥{{item.suggest_price}}</div>
            <div class="explain">退改签说明</div>
            <div class="btn1" ng-if="item.seat_num=='A'">预订</div>
            <div class="btn2" ng-if="item.seat_num!='A'">
                <span class="asd">预订</span>
                <span class="qwe">余{{item.seat_num}}张</span>
            </div>
            <div class="salenum" ng-if="item.discount!='100.0'">{{(item.discount*0.1).toFixed(1)}}折</div>
            <div class="salenum" ng-if="item.discount=='100.0'">全价</div>
        </dd>
    </dl>
</div>


