<style>
    html,body{
        background-color: #fff!important;
    }
</style>
<div class="travel_policy">
    <div class="policy_name">
        <div class="blue_block"></div>
        {{travelpolicy.name}}
    </div>
    <ul>
        <li>
            <p ng-if="travelpolicy.planeLevel == '不限' && travelpolicy.planeDiscount == 0">飞机：全价机票，舱位不限，想飞就飞
            <p ng-if="travelpolicy.planeLevel == '不限' && travelpolicy.planeDiscount != 0">飞机：最高{{travelpolicy.planeDiscount}}折,舱位不限
            <p ng-if="travelpolicy.planeLevel != '不限' && travelpolicy.planeDiscount == 0">飞机：全价{{travelpolicy.planeLevel}}
            <p ng-if="travelpolicy.planeLevel != '不限' && travelpolicy.planeDiscount != 0">飞机：最高{{travelpolicy.planeDiscount}}折,{{travelpolicy.planeLevel}}</p>
            <span  ng-if="travelpolicy.isChangeLevel == true"><span style="visibility: hidden;">飞机::::::::</span>当高级舱位价格位于上述标准时，可选择高级舱位</span>
        </li>
        <li>
            <p ng-if="travelpolicy.trainLevel == '不限'">火车：座次不限</p>
            <p ng-if="travelpolicy.trainLevel != '不限'">火车：{{travelpolicy.trainLevel.replace(',', '/')}}</p>
        </li>
        <li>
            <p ng-if="travelpolicy.hotelLevel == '不限' && travelpolicy.hotelPrice == null">住宿：酒店任意住</p>
            <p ng-if="travelpolicy.hotelLevel == '不限' && travelpolicy.hotelPrice != null">住宿：每晚不超过{{travelpolicy.hotelPrice}}元</p>
            <p ng-if="travelpolicy.hotelLevel != '不限' && travelpolicy.hotelPrice == null">住宿：{{travelpolicy.hotelLevel.replace(',', '/')}}</p>
            <p ng-if="travelpolicy.hotelLevel != '不限' && travelpolicy.hotelPrice != null">住宿：{{travelpolicy.hotelLevel.replace(',', '/')}}且每晚不超过{{travelpolicy.hotelPrice}}元</p>
        </li>
    </ul>
</div>