<ion-modal-view>
    <ion-content padding="false" scroll="false" class="has-header ng-modal-select-list">
        <form class="list flex-c01">
            <div class="city_search search_bar">
                <div class="bar item-input-inset">
                    <lable ng-if="options.searchbox" class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input ng-model="form.keyword" type="search" placeholder="{{options.placeholder}}">
                        <i class="icon ion-ios-close placeholder-icon" ng-hide="!hidden" ng-click="toggle()"></i>
                    </lable>
                    <button class="button button-clear" ng-click="modal.hide()">取消</button>
                </div>
            </div>
            <ion-scroll>
            <ion-list>
                <ion-item ng-if="value && form.keyword == ''" ng-click="confirm(value)" class="item-icon-right item-stable">
                        <span style="display: inline-block;">已选择：<br>
                            <span ng-if="options.transclude" ng-bind-transclude="options.transclude" inject="{$item:value}"></span>
                            <span ng-if="options.item" ng-bind-template-template="options.item" inject="{$item:value}"></span>
                        </span>
                        <i class="icon ion-checkmark"></i>
                </ion-item>

                <ion-item
                        class="item-icon-right"
                        ng-repeat="$item in optionItems"
                        ng-if="$item != value"
                        ng-click="confirm($item)"
                        ng-class="{'item-stable':disableItem($item)}"
                >
                    <span ng-if="options.transclude" ng-bind-transclude="options.transclude" inject="{$item}"></span>
                    <span ng-if="options.item" ng-bind-template-template="options.item" inject="{$item}"></span>
                </ion-item>
                <ion-item class="new-item" ng-click="createItem(form.keyword)" ng-if="showCreate(form.keyword)">
                    新建【{{form.keyword}}】
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="page.hasNextPage()" on-infinite="page.nextPage()"></ion-infinite-scroll>
        </ion-scroll>
        </form>
    </ion-content>
</ion-modal-view>