<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">{{options.title}}</h1>
        <div class="button button-clear" ng-click="modal.hide()">取消</div>
    </ion-header-bar>
    <ion-content padding="false" scroll="false" class="has-header ng-modal-select-list">
        <form class="list flex-c01">
            <label ng-if="options.searchbox" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="form.keyword" type="search" placeholder="{{options.placeholder}}">
            </label>
            <ion-scroll>
                <ion-list>
                    <ion-item ng-if="value && form.keyword == ''" ng-click="confirm(value)" class="item-icon-right item-stable">
                        <span style="display: inline-block;">已选择：<br><span ng-bind-html="displayItem(value)"></span></span>
                        <span class="item-note" ng-if="options.note" ng-bind-html="options.note(value)"></span>
                        <i class="icon ion-checkmark"></i>
                    </ion-item>
                    <!--<ion-item
                            class="item-icon-right"
                            ng-repeat="option in optionItems track by $index"
                            ng-if="displayItem(option) != displayItem(value)"
                            ng-click="confirm(option)"
                            ng-class="{'item-stable':disableItem(option)}"
                    >
                        <span ng-bind-html="displayItem(option)"></span>
                        <span class="item-note" ng-if="options.note" ng-bind-html="options.note(option)"></span>
                    </ion-item>-->
                    <list-repeat arg="optionItems">abc{{$parent.$item.optionItems}}</list-repeat>
                    <ion-item class="new-item" ng-click="createItem(form.keyword)" ng-if="showCreate()">
                        新建【{{form.keyword}}】
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll ng-if="page.hasNextPage()" on-infinite="page.nextPage()"></ion-infinite-scroll>
            </ion-scroll>
        </form>
    </ion-content>
</ion-modal-view>