<style>html,body {background: #F5F5F5;}</style>
<div class="travel-record">
    <div class="travelDetail">
        <div class="travelpath" ng-if="tripPlan.status!='-1'">待审核列表&nbsp;>&nbsp;<span>审核详情页</span></div>
        <div class="travelpath" ng-if="tripPlan.status=='-1'">待出预算列表&nbsp;>&nbsp;<span>待出预算详情页</span></div>
        <div class="mainbox">
            <div class="title_top">
                <table width="100%">
                    <tr>
                        <td width="220" height="40" align="left">生成时间：{{tripPlan.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
                        <td height="40" align="center">{{tripPlan.account.name}}于
                            <span ng-if="tripPlan.startAt">{{tripPlan.startAt | date: 'yyyy月MM月dd日'}}</span>
                            <span ng-if="!tripPlan.startAt">{{tripPlan.hotel[0].startTime | date: 'yyyy月MM月dd日'}}</span>
                            的出差状况
                        </td>
                        <td width="220" height="40" align="right">{{tripPlan.title}}</td>
                    </tr>
                </table>
            </div>
            
            <div class="content_bottom">
                <table width="100%" border="1" bordercolor="#E5E5E5">
                    <tr>
                        <th height="40">明细</th>
                        <th width="135" height="40">预算</th>
                        <th width="135" height="40">实际支出</th>
                        <th width="135" height="40">出差票据</th>
                    </tr>
                    <tr ng-repeat="tripDetail in tripDetails">

                        <td ng-if="tripDetail.type == 0">
                            <div class="icon web-icon-font3" style="color: #CF2520;">&#xe90e;</div>
                            <div class="startplace">{{tripDetail.deptCityName}}</div>
                            <div class="description">{{tripDetail.startTime | date: 'yyyy-MM-dd'}}
                                <span ng-if="tripDetail.latestArriveTime!=undefined && tripDetail.latestArriveTime!=''">&nbsp;&nbsp;&nbsp;最晚&nbsp;{{tripDetail.latestArriveTime | date: 'yyyy-MM-dd HH:mm'}}&nbsp;到达</span></div>
                            <div class="endplace">{{tripDetail.arrivalCityName}}</div>
                        </td>

                        <td ng-if="tripDetail.type == 2">
                            <div class="icon web-icon-font3" style="color: #5248C8;">&#xe914;</div>
                            <div class="hoteldescription">
                                <p>入住地：{{tripDetail.cityName}}&nbsp;<i ng-if="tripDetail.placeName">{{tripDetail.placeName}}附近</i></p>
                                <p>入住日期：{{tripDetail.startTime | date: 'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;&nbsp;退房日期：{{tripDetail.endTime | date: 'yyyy-MM-dd'}}</p>
                            </div>
                        </td>

                        <td ng-if="tripDetail.type == 1">
                            <div class="icon web-icon-font3" style="color: #CF2520;">&#xe90e;</div>
                            <div class="startplace">{{tripDetail.deptCityName}}</div>
                            <div class="description">{{tripDetail.startTime | date: 'yyyy-MM-dd'}}<span ng-if="tripDetail.latestArriveTime!=undefined && tripDetail.latestArriveTime!=''">&nbsp;&nbsp;&nbsp;最晚&nbsp;{{tripDetail.latestArriveTime | date: 'yyyy-MM-dd HH:mm'}}&nbsp;到达</span></div>
                            <div class="endplace">{{tripDetail.arrivalCityName}}</div>
                        </td>

                        <td ng-if="tripDetail.type == 3">
                            <div class="icon web-icon-font3" style="color: #5248C8;">&#xe914;</div>
                            <div class="hoteldescription">
                                <p>公司补助</p>
                            </div>
                        </td>

                        <td ng-if="tripDetail.type == 4" align="center">
                            特别审批
                        </td>

                        <td ng-if="[0, 1, 2, 3, 4].indexOf(tripDetail.type) < 0" align="center">未知类型</td>

                        <td width="135" align="center">
                            <span ng-if="tripDetail.budget != -1">¥{{tripDetail.budget| currency: ''}}</span>
                            <a ng-if="tripDetail.budget == -1" ng-click="editBudgetShow(tripDetail.id)" style="color: #118FD6;">录入预算</a>
                        </td>

                        <td width="135" align="center">
                            <span ng-if="tripDetail.expenditure">¥{{tripDetail.expenditure | currency: ''}}</span>
                            <span ng-if="!tripDetail.expenditure">暂无</span>
                        </td>

                        <td width="135" align="center">
                            <p ng-if="tripDetail.budget==-1">暂无</p>
                            <div ng-if="tripDetail.budget!= -1">
                                <p ng-if="!tripDetail.newInvoice && tripDetail.isCommit==false">暂无</p>
                                <div ng-if="tripDetail.isCommit">
                                    <p ng-if="tripDetail.status == 1 && !tripDetail.newInvoice" style="color: #DE492A;">【待上传】</p>
                                    <p ng-if="tripDetail.status == 3 && tripDetail.newInvoice" style="color: #DE492A;">【待审核】</p>
                                    <p ng-if="tripDetail.status== 4">【审核通过】</p>
                                    <p ng-if="tripDetail.type == 0">去程交通票据</p>
                                    <p ng-if="tripDetail.type == 1">回程交通</p>
                                    <p ng-if="tripDetail.type == 2">住宿</p>
                                    <pn ng-if="tripDetail.type == 3">-</pn>
                                </div>
                                <div ng-if="tripDetail.status == -1">
                                    <p>【审核未通过】</p>
                                    <p ng-if="tripDetail.type == 0">去程交通票据</p>
                                    <p ng-if="tripDetail.type == 1">回程交通</p>
                                    <p ng-if="tripDetail.type == 2">住宿</p>
                                    <pn ng-if="tripDetail.type == 3">-</pn>
                                </div>
                            </div>
                            <a href="javascript:void(0);" ng-if="tripDetail.type != 3" ng-click="showInvoice(tripDetail.id)">查看票据</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <dl class="invoice" ng-show="curTripDetail">
            <dt>
                <span ng-if="curTripDetail.type == 0">去程交通</span>
                <span ng-if="curTripDetail.type == 1">回程交通</span>
                <span ng-if="curTripDetail.type == 2">住宿</span>
                票据
                <span ng-if="curTripDetail.status== -3" style="color: #9B9B9B;">【审核未通过】</span>
                <span ng-if="curTripDetail.status== 3 " style="color: #DE492A;">【待审核】</span>
                <span ng-if="curTripDetail.status== 4 " style="color: #9B9B9B;">【审核通过】</span>
            </dt>
            <dd>
                <table width="100%">
                    <tr style="border-bottom: 1px #E5E5E5 solid">
                        <td>
                            <p ng-if="curTripDetail.status == -1">
                                {{curTripDetail.auditRemark}}
                            </p>
                        </td>
                        <td width="250" valign="bottom">
                            <div ng-if="curTripDetail.status == 3">
                                    <input type="button" class="common_btn1 w100" value="审核未通过" ng-click="invoiceNopassShow(curTripDetail.id)" style="float: right;">
                                    <input type="button" class="common_btn1 w100" value="审核通过" ng-click="invoicePassShow(curTripDetail.id)" style="margin-right: 20px; float: right;">
                                </div>
                        </td>
                    </tr>
                    <tr ng-repeat="curTripDetailInoviceImg in curTripDetailInoviceImgs track by $index">
                        <td align="center" colspan="2">
                            <!--<img src="/agency/images/jingli_loading.gif" alt="加载中..." ng-show="showLoading" class="loading"/>-->
                            <!--<img ng-src="{{curTripDetailInoviceImg || ''}}" alt="票据" id="invoiceImg" ng-hide="showLoading">-->
                            <!--<img ng-src="{{curTripDetailInoviceImg || ''}}" alt="票据">-->
                            <invoice-img-item imgurl="curTripDetailInoviceImg" loadingurl="agency/images/jingli_loading.gif"></invoice-img-item>
                        </td>
                    </tr>
                </table>
            </dd>
        </dl>
    </div>
</div>

<section class="editBudget">
    <div class="editBudgetbox">
        <div class="editBudgetbox_t">
            <span style="float: left;">录入预算</span>
            <span ng-click="invoiceColse()" style="float: right;"><img src="agency/images/close.jpg"></span>
        </div>
        <div class="editBudgetbox_p">
            <div class="error" style="height: 25px; line-height: 25px; color: #DE492A;"></div>
            <div style="height: 30px; line-height: 30px;">录入预算金额：</div>
            <div><input type="text" class="budget common_text" style="width: 336px;"></div>
            <div style="margin-top: 20px;">
                <input type="button" value="确认" ng-click="editBudget()" class="common_btn1" style="width: 60px; margin-left: 100px;">
                <input type="button" value="取消" ng-click="invoiceColse()" class="common_btn2" style="width: 60px; margin-left: 20px;">
            </div>
        </div>
    </div>
</section>

<section class="invoicePass" ng-show="showInvoicePassDialog">
    <div class="invoicebox">
        <div class="invoicebox_t">
            <span style="float: left;">审核通过</span>
            <span ng-click="closePassDialog()" style="float: right;"><img src="agency/images/close.jpg"></span>
        </div>
        <div class="invoicebox_p">
            <div class="error" style="height: 25px; line-height: 25px; color: #DE492A;"></div>
            <div style="height: 30px; line-height: 30px;">录入票据实际支出：</div>
            <div><input type="text" ng-model="expenditure" placeholder="请填入实际花费" class="expenditure common_text" style="width: 336px;"></div>
            <div style="margin-top: 20px;">
                <input type="button" value="确认" ng-click="approvePass()" class="common_btn1" style="width: 60px; margin-left: 100px;">
                <input type="button" value="取消" ng-click="closePassDialog()" class="common_btn2" style="width: 60px; margin-left: 20px;">
            </div>

            <div class="success">
                <div class="success_icon">
                    <span class="web-icon-font2">&#xe9ec;</span>
                </div>
                <div class="success_text"></div>
            </div>
        </div>
    </div>
</section>

<section class="invoiceNoPass" ng-show="showInvoicePassFailDialog">
    <div class="invoicebox">
        <div class="invoicebox_t">
            <span style="float: left;">审核未通过理由</span>
            <span ng-click="closePassFailDialog()" style="float: right;"><img src="agency/images/close.jpg"></span>
        </div>
        <div class="invoicebox_p" style="height: 235px;">
            <div class="error" style="height: 20px; line-height: 20px; color: #DE492A;"></div>
            <div style="height: 25px; line-height: 25px;">请选择理由：</div>
            <div class="reason1" ng-repeat="reason in reasons">
                <i class="web-icon-font2" ng-click="setFailReason(reason)">&#xe9ec;</i>
                <span class="reason1_text">{{reason}}</span>
            </div>
            <div style="height: 25px; line-height: 25px;">其他理由：</div>
            <div><input type="text" ng-model="failReason" class="remark common_text" style="width: 336px;"></div>
            <div style="margin-top: 20px;">
                <input type="button" value="确认" ng-click="approveFail()" class="common_btn1" style="width: 60px; margin-left: 100px;">
                <input type="button" value="取消" ng-click="closePassFailDialog()" class="common_btn2" style="width: 60px; margin-left: 20px;">
            </div>
        </div>
    </div>
</section>