<style>html,body {background: #F5F5F5;}</style>
<div class="travel-record">
    <div class="travelList">
        <ul class="mainbox_top">
            <li ng-class="status == 'all'? 'active': ''" ng-click="init('all')">全部
                <span ng-if="travelListitems1.length">({{total1}})</span>
                <span ng-if="!travelListitems1.length">(0)</span>
            </li>
            <li ng-class="status == 'no_budget' ? 'active': ''" ng-click="init('no_budget')">待出预算
                <span ng-if="travelListitems2.length">({{total2}})</span>
                <span ng-if="!travelListitems2.length">(0)</span>
            </li>
            <li ng-class="status == 'wait_approve'? 'active': ''" ng-click="init('wait_approve')">待审核
                <span ng-if="travelListitems3.length">({{total3}})</span>
                <span ng-if="!travelListitems3.length">(0)</span>
            </li>
        </ul>

        <div class="mainbox_bottom">
            <div class="content">
                <table style="width: 100%">
                    <tr>
                        <th width="140" align="center">公司名称</th>
                        <th width="80" align="center">姓名</th>
                        <th width="90" align="center">出发时间</th>
                        <th width="80" align="center">服务</th>
                        <th align="center">内容简介</th>
                        <th width="90" align="center">预算</th>
                        <th width="90" align="center">实际价格</th>
                        <th width="90" align="center">获得积分</th>
                        <th width="90" align="center">状态</th>
                        <th width="90" align="center">操作</th>
                    </tr>

                    <tr ng-repeat="item in tripPlans">
                        <td align="center">
                            <p style="width: 120px; text-align: center; color: #118FD6; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 10px;"><a href="#/companyList/CompanyDetail?company={{item.companyId}}">{{item.company.name}}</a></p>
                        </td>
                        <td align="center">
                            <p>{{item.account.name}}</p>
                        </td>
                        <td align="center">
                            <p ng-if="item.startAt">{{item.startAt.value | date: 'yyyy-MM-dd'}}</p>
                            <p ng-if="!item.startAt">{{item.hotel[0].startTime | date: 'yyyy-MM-dd'}}</p>
                        </td>
                        <td align="center">
                            <p ng-if="item.isNeedTraffic">交通</p>
                            <p ng-if="item.isNeedHotel">住宿</p>
                        </td>
                        <td align="center">
                            <p ng-if="item.isNeedTraffic" style="width: 150px; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 10px;">{{item.deptCity}}<span ng-if="item.backTraffic.length!=0">往返</span><span ng-if="item.backTraffic.length==0">到</span>{{item.arrivalCity}}</p>
                            <p ng-if="item.isNeedHotel" style="width: 150px; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 10px;">{{item.arrivalCity}}&nbsp;{{item.hotel[0].hotelName}}附近</p>
                        </td>
                        <td align="center">
                            <span ng-if="item.status != -1">¥{{item.budget}}</span>
                            <span ng-if="item.status == -1">暂无</span>
                        </td>
                        <td align="center">
                            <span ng-if="item.expenditure != 0">¥{{item.expenditure}}</span>
                            <span ng-if="item.expenditure ==0 ">暂无</span>
                        </td>
                        <td align="center">
                            <span ng-if="item.score!=0">¥{{item.score}}</span>
                            <span ng-if="item.score==0">暂无</span>
                        </td>
                        <td align="center">
                            <span ng-if="item.status== -1">待出预算</span>
                            <span ng-if="item.status == 1">
                                <span ng-if="item.status == 3">待审核</span>
                            </span>
                            <span ng-if="item.status == 4">审核完成</span>
                            <span ng-if="item.status == 1">待传票据</span>
                        </td>
                        <td align="center">
                            <a ng-if="item.status != -1" href="#/travelRecord/TravelDetail?orderId={{item.id}}" target="_self" style=" color: #118FD6;">查看详情</a>
                            <a ng-if="item.status == -1" href="#/travelRecord/TravelDetail?orderId={{item.id}}" target="_self" style=" color: #118FD6;">录入预算</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <ul class="pagination" id="pagination1"></ul>
</div>