$color-theme1:#118FD6;
$color-theme2:#01BDFF;
$color-theme3:#F5A623;
$background-color-default:#F5F5F5;
$background-color-second:#FFFFFF;
$system-default-color-text:#212121;
$default-text-color:#9B9B9B;
$btn-text-color:#ffffff;
$disable-btn-background-color:#eaeaea;
$icon-color-default:#b6b6b6;
$border-color:#E5E5E5;
$tip-color:#f79700;
$drop-down-list-background-color:#f7f8fc;
$max-font-size:24px;
$title-font-size:18px;
$banner-font-size:15px;
$text-font-size:14px;
$tip-font-size:12px;
$min-font-size:10px;



$color-white:#ffffff;
$color-gray:#ededed;
$color-footer:#292b2b;
$color-alert-wrong:#de492a;
$color-alert-right:#5cca2e;
$color-text:#4a4a4a;
$color-border:#d9d9d9;
$color-border2:#e5e5e5;
$border-radius-2:2px;
$h30:30px;
$h20:20px;
$h16:16px;
$h15:15px;
$h14:14px;
$h12:12px;