@import "var";
.companylist{
	background: #fff;
	margin-top: 20px;
	.companylist{
		padding: 10px;
		h3{
			
		}
		.company{
			width: 100%;
			border:1px solid #e5e5e5;
			tr{
				border-top:1px solid #e5e5e5;
				height: 30px;
				line-height: 30px;
				td{
					&:nth-child(1){
						padding-left: 10px;
					}
					a{
						color:#01BDFF;
					}
				}
				&:nth-child(1){
					border-top:0;
					td{
						height: 40px;
						line-height: 40px;
					}
				}
			}
		}
	}
}
.companyinfo{
	background: #fff;
	margin-top: 20px;
	a{
		cursor: pointer;
	}
	.company_tab{
		padding-top: 10px;
		height: 30px;
		line-height: 30px;
		border-bottom: 1px solid #000;
		li{
			float: left;
			width: 100px;
			text-align: center;
			margin-left: 15px;
			&.on{
				border:1px solid #000;
				border-bottom: 0;
				border-radius: 2px;
			}
		}
	}
	.companydetail{
		position: relative;
		clear: both;
		h3{
			padding-left: 30px;
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #e5e5e5;
		}
		p{
			height: 30px;
			line-height: 30px;
			span{
				display: inline-block;
				text-align: right;
				width: 120px;
			}
			a{
				color: #02bfff;
			}
		}
		.charges{
			position: absolute;
			height: 100px;
			width: 300px;
			background: #fff;
			z-index: 1;
			top: 100px;
			right: 300px;
			border:1px solid #e5e5e5;
			text-align: center;
			display: none;
			h2{
				font-size: 20px;
				padding-left: 15px;
				font-weight: normal;
				margin-bottom: 10px;
				border-bottom: 1px solid #e5e5e5;
			}
			#Money{
				width: 200px;
				margin-right: 10px;
			}
			p{
				a{
					margin-right: 30px;
				}
			}
		}
	}


  .department {
	width: 958px;
	height: auto;
	padding: 20px;
	h1 {
	  width: 100%;
	  height: 36px;
	  line-height: 36px;
	  font-weight: normal;
	  .companyname {
		font-size: 18px;
		padding-right: 50px;
		float: left;
	  }
	  a {
		color: $color-theme1;
		float: left;
	  }
	  span {
		font-size: 12px;
		float: left;
	  }
	  .updatecompany,.createcompany {
		width: 500px;
		height: 36px;
		margin-left: 30px;
		float: left;
		display: none;
	  }
	}
	ul {
	  padding-left: 30px;
	  padding-top: 20px;
	  li {
		width: 100%;
		height: auto;
		margin-top: -12px;
		overflow: hidden;
		span {
		  line-height: 22px;
		  font-size: 16px;
		  display: inline-block;
		  padding-right: 20px;
		  float: left;
		  a {
			font-size: 13px;
			color: $color-theme1;
		  }
		}
		.updatechildDepartment {
		  padding-top: 35px;
		  display: none;
		}
	  }
	}
  }

  .policy_title {
	width: 938px;
	height: 58px;
	line-height: 58px;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	background: $background-color-second;
	border: 1px $border-color solid;
	padding: 0 30px;
	margin: 20px auto 0 auto;
	a {
	  color: $color-theme1;
	}
  }
  .policy_titlefixed {
	position: fixed;
	z-index: 9999;
	margin-top: 0;
  }
  .policy_page {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	position: relative;
	li {
	  width: 453px;
	  height: 208px;
	  background: $background-color-second;
	  border: 1px $border-color solid;
	  padding: 0 20px;
	  margin: 10px 10px 0 0;
	  float: left;
	  position: relative;
	  .policy_t {
		width: 439px;
		height: 20px;
		line-height: 20px;
		font-weight: bold;
		text-align: right;
		border-left: 4px $color-theme2 solid;
		padding-left: 10px;
		margin: 10px 0 5px 0;
		a {
		  color: $color-theme1;
		}
	  }
	}
	:nth-child(even) {
	  margin-right: 0;
	}
	.create_policy {
	  width: 453px;
	  height: auto;
	  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	  background: $background-color-second;
	  padding: 0 20px 20px 20px;
	  z-index: 1;
	  .policy_t {
		width: 439px;
		height: 20px;
		line-height: 20px;
		font-weight: bold;
		text-align: left;
		border-left: 4px $color-theme2 solid;
		padding-left: 10px;
		margin: 10px 0 5px 0;
		a {
		  color: $color-theme1;
		}
	  }
	}
	.update_policy {
	  width: 453px;
	  height: auto;
	  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	  background: $background-color-second;
	  padding: 0 20px 20px 20px;
	  position: absolute;
	  top: 10px;
	  left: 0;
	  z-index: 1;
	  .policy_t {
		width: 439px;
		height: 20px;
		line-height: 20px;
		font-weight: bold;
		text-align: left;
		border-left: 4px $color-theme2 solid;
		padding-left: 10px;
		margin: 10px 0 5px 0;
		a {
		  color: $color-theme1;
		}
	  }
	}
  }
  .labletrue {
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
	background:#118FD6;
	margin-top: 1px;
	float: left;
  }
  .lablefalse {
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	background:#ffffff;
	border: 1px $border-color solid;
	margin-top: 1px;
	float: left;
  }
}








.confirmFixed {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  .confirmbox {
	width: 398px;
	height: auto;
	border: 1px $border-color solid;
	background: $background-color-second;
	margin: -102px 0 0 -200px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999;
	.confirmbox_t {
	  width: 358px;
	  height: 35px;
	  line-height: 35px;
	  background: $border-color;
	  padding: 0 20px;
	}
	.confirmbox_p {
	  width: 358px;
	  height: 150px;
	  padding: 10px 20px 0 20px;
	  position: relative;
	  .deleteFail {
		width: 100%;
		height: 160px;
		background: $background-color-second;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		.deleteFail_text {
		  text-align: center;
		  line-height: 25px;
		  padding: 20px;
		}
	  }

	  div {
		overflow: hidden;
	  }
	}
  }
}


