@import "var";
.createCorp{
  background: #fff;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 30px;
}
.title_list{
  width: 100%;
  text-align: left;
  margin-left: 20px;
  line-height: 30px;
  font-size: 14px;
  span{
    color: #01bdff;
  }
}
.createCorp_content{
  width: 100%;
  .tipInfo{
    width: 100%;
    text-align: center;
    i{
      color: $color-alert-wrong;
      margin-right: 10px;
    }
  }
}