@import "var";
.corp_header{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #30343b;
	.logo{
		background: #01bdff;
		height: 120px;
		width: 200px;
		text-align: center;
		img{
			margin-top: 30px;
		}
	}
	.left_nav{
		margin-top: 20px;
		li{
			height: 46px;
			line-height: 46px;
			padding-left: 70px;
			font-size: 16px;
			margin-top: 10px;
			position: relative;
			a{
				color: #B9B9B9;
				font-size: 16px;
			}
			span{
			  font-size: 24px;
			  position: absolute;
			  top: 0;
			  left: 20px;
			}
			&.on{
				color: #fff;
				background: #484e58;
				a{
					color: #fff;
				}
			}
		}
	}
}
.corp_main{
	margin-left: 200px;
	background: #fff;
	a{
		text-decoration: none;
		&:active{
			color: inherit;
		}
		&:visited{
			color: inherit;
		}
	}
	.corp_m_header{
		position: fixed;
		top: 0;
		left: 200px;
		height: 60px;
		line-height: 60px;
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #d0d0d0;
	  	z-index: 999;
		.m_headerleft{
			float: left;
			margin-left: 20px;
			width: 400px;
			.corp_name{
				font-size: 14px;
				color: #4a4a4a;
				max-width: 280px;
				float: left;
				margin-right: 20px;
			}
			.corp_help{
				color: #9b9b9b;
				width: 60px;
				font-size: 12px;
				float: left;
			}
		}
		.m_headerright{
			float: right;
			padding-right: 20px;
			position: relative;
			.header_account{
				display: inline-block;
				padding-right: 30px;
				.web-icon-font{
					margin-left: 10px;
				}
			}
			.account_menu{
				position: absolute;
				top: 61px;
				left: 0;
				width: 118px;
				background: #fff;
				z-index: 1;
				border:1px solid #e5e5e5; 
				display: none;
				li{
					&:nth-child(2){
						a{
							border-bottom: 0;
						}
					}
					a{
						display: block;
						height: 42px;
						width: 100%;
						color: #4a4a4a;
						line-height: 42px;
						text-indent: 20px;
						border-bottom: 1px solid #e5e5e5;
						
						&:hover{
							background: #01BDFF;
							color: #fff;
						}
					}
				}
			}
			.getplan{
				display: inline-block;
				width: 100px;
				height: 36px;
				border-radius: 2px;
				line-height: 36px;
				text-align: center;
				background: #f5a623;
				color:#fff;
			}
		}
	}
	.corp_box{
	  	width: 100%;
	  	min-width: 1200px;
	  	height: auto;
		padding-top: 60px;
		background: #f5f5f5;
		float: left;
		padding-bottom: 20px;
		.c_boxmain{
			width: 1100px;
			margin: 0 auto;
		}
	}
	.corp_m_footer{
		background: #fff;
		color: #9b9b9b;
		clear: both;
		font-size: 12px;
		p{
			text-align: center;
			line-height: 20px;
			padding-top: 12px;
			font-size: 12px;
			&:nth-child(2){
				padding: 0 0 8px;
			}
		}
	}
}
