@import (reference) "common.less";
.blue { color: @color-theme1!important;}
.blue_bc { background-color: @color-theme1!important;}
.user_photo {
  width: 8rem;
  height: 8rem;
  margin: 6rem auto 3rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.fr{
  float: right;
}
.corp_mail,.corp_pwd{
  i {
    color: @second-text-color;
  }
  //input {
  //  margin-left: 0.5rem;
  //  width: 80%;
  //  outline: medium;
  //  color: @color-theme2;
  //}
  //span {
  //  float: right;
  //  color: @color-theme2;
  //  font-size: 1.6rem;
  //  display: none;
  //}
}
.corp_mail {
  margin: 0 auto;
  border: 0.1rem solid @border-color;
  border-radius: 0.2rem 0.2rem 0 0;
  border-bottom: 0!important;
}
.corp_pwd {
  margin: 0 auto;
  border: 0.1rem solid @border-color;
  border-radius: 0 0 0.2rem 0.2rem;
}
.lock {
  font-size: 1.6rem;
  padding-left: 0.2rem;
  padding-right: 0.3rem;
}
.login {
  display: block;
  margin: 2rem auto;
  color: @color-theme5;
  border-radius: 0.2rem;
}

.input{
  margin-left: 0.5rem;
  width: 90%;
  outline: medium;
  color: #9b9b9b;
}
.input::-ms-clear { display: none; }
.clear_input{
  float: right;
  color: #9b9b9b;
  font-size: 1.6rem;
  display: none;
}
.input:valid + .clear_input{display: inline;}
//.input:focus + .clear_input{display: inline;}
