.side-menu-left{
  .scroll,.list{
    height: 100%;
    .button-bar{
      position: absolute;
      bottom: 25px;
    }
  }
}


ion-side-menu {
  .menu-button.icon:before {
    width: 28px;
  }
}

.menu-button{
  .badge{
    float: right;
    top: 10px;
  }
}


.policyPopup{
  .popup-body{
    padding: 10px 30px;
    > div{
      margin-bottom: 10px;
      &.policySubsidy{
        overflow: hidden;
        font-size: 14px;
        > span{
          float: left;
        }
        > div{
          float: left;
          p{
            margin-top: 0;
          }
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.item-thumbnail-left {
  &.menu-button{
    border-left: none;
    border-right: none;
    .menu-portrait:first-child{
      position:absolute;
      top: 10px;
      left: 10px;
      font-size: 22px;
      max-width: 80px;
      max-height: 80px;
      width: 100%;
      height: 100%;
      line-height: 80px;
      text-align: center;
      font-weight: bold;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      color: #fff;
      background: rgb(36,149,218);
    }
    h2{
      font-size: 18px;
      line-height: 30px;
      .button{
        float: right;
      }
    }
  }
}

// Slide up from the bottom, used for modals
// -------------------------------

.slide-in-down {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.slide-in-down.ng-enter,
.slide-in-down > .ng-enter {
  -webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
  transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}
.slide-in-down.ng-enter-active,
.slide-in-down > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slide-in-down.ng-leave,
.slide-in-down > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

@media (max-width: 320px) {
  ion-side-menu {
    .side-menu-left {
      .side-menu-list {
        .button.button-block {
          margin: 0;
        }
      }
    }
  }
}

.platform-ios.platform-cordova {
  &:not(.fullscreen) {
    .toplevel-side-menu{
      ion-side-menu {
        min-height: initial;
        top: 20px;
      }
    }
  }
}
