
<div class="staffManageContent">
    <div class="staff_tab">
        <ul>
            <li><a href="#/StaffManage/StaffInfoManage">员工信息管理</a></li>
            <li class="check1">组织架构</li>
        </ul>
    </div>
    <div class="staff_tab_content">
        <div class="department">
            <h1>
                <span class="companyname">{{departmentName}}</span><a ng-click="updateDepartmentShow()">修改企业名称</a> <span>&nbsp;|&nbsp;</span> <a ng-click="createDepartmentShow()">添加子部门</a>
                <div class="updatecompany">
                    <input type="text" value="{{departmentName}}" class="common_text w280">
                    <input type="button" value="确定" ng-click="updateDepartment()" class="common_btn1 w60" style="margin-left: 20px;">
                    <input type="button" value="取消" class="common_btn2 w60" style="margin-left: 20px;">
                </div>
                <div class="createcompany">
                    <input type="text" placeholder="请录入部门名称" class="common_text w280">
                    <input type="button" value="确定" ng-click="createDepartment()" class="common_btn1 w60" style="margin-left: 20px;">
                    <input type="button" value="取消" class="common_btn2 w60" style="margin-left: 20px;">
                </div>
            </h1>
        </div>
    </div>
</div>

<section class="confirmFixed">
    <div class="confirmbox">
        <div class="confirmbox_t">
            <span style="float: left;">提示</span>
            <span ng-click="confirmClose()" style="float: right;"><img src="agency/images/close.jpg"></span>
        </div>
        <div class="confirmbox_p">
            <div class="error" style="height: 25px; line-height: 25px; color: #DE492A;"></div>
            <div class="messageText" style="height: 30px; line-height: 30px; text-align: center;"></div>
            <div style="margin-top: 20px;">
                <input type="button" value="确认" ng-click="deleteInfo()" class="common_btn1" style="width: 60px; margin-left: 105px;">
                <input type="button" value="取消" ng-click="confirmClose()" class="common_btn2" style="width: 60px; margin-left: 20px;">
            </div>

            <div class="deleteFail">
                <div class="deleteFail_text"></div>
                <div>
                    <input type="button" value="确认" ng-click="confirmClose()" class="common_btn1" style="width: 60px; margin-left: 170px;">
                </div>
            </div>
        </div>
    </div>
</section>
