<div class="staffManageContent">
    <div class="staff_tab">
        <ul>
            <li class="check1">员工信息管理</li>
            <li>组织架构</li>
        </ul>
    </div>
    <div class="staff_tab_content">
        <div class="organize_select">
            <select name="select" id="" class="">
                <option value="我的企业">我的企业</option>
                <option value="销售部">销售部</option>
                <option value="产品部">产品部</option>
            </select>
            <span>设置公司组织架构</span>
        </div>
        <div class="staff_function">
            <i>目前共{{totalCount}}名员工</i>
            <span>待激活{{forActive}}名|管理员{{manager+1}}名|普通员工{{publicStaff}}名</span>
            <a ng-click="addStaff()" id="add">添加员工</a>
            <a id="add_lot" ng-click="addALotStaff()">批量导入</a>
        </div>
        <div class="add_staff">
            <div class="little_triangle">

            </div>
            <div class="add_staff_block">
                <div class="block_tip">
                    {{block_tip_err}}
                </div>
                <div class="block_left">
                    <ul>
                        <li>
                            <span style="color: #f56d23;padding-right: 5px;">*</span>姓名:
                            <input id="staffName" type="text" placeholder="请输入员工真实姓名"/>
                        </li>
                        <li>
                            <span style="color: #f56d23;padding-right: 5px;">*</span>邮箱:
                            <input id="staffEmail" type="text" placeholder="后缀同创建人邮箱一致"/>
                        </li>
                        <li>
                            手机号:
                            <input id="staffTel" type="text" placeholder="请输入员工手机号" maxlength="11"/>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            部门:
                            <input id="staffDepartment" type="text" placeholder="请输入员工所属部门"/>
                        <li>
                            差旅标准:
                            <select name="select" id="staffStandard" class="" ng-model="selectkey" ng-options="item.val as item.name for item in selectClass"></select>
                        </li>
                        <li>
                            <span style="color: #f56d23;padding-right: 5px;">*</span>权限:
                            <select name="select" id="staffPower" class="" ng-disabled="roleId == 2">
                                <option value="">请设置权限</option>
                                <option value="2">管理员</option>
                                <option value="3">财务人员</option>
                                <option value="1" ng-selected="roleId == 2">普通员工</option>
                            </select>
                        </li>
                    </ul>
                    <div style="clear: both;"></div>
                </div>
                <div class="block_right">
                    <a id="save" ng-click="saveStaffInfo()">保存</a>
                    <a id="cancel" ng-click="cancelAdd()">取消</a>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div>

        </div>
        <table class="staff_table">
            <tr>
                <td>姓名</td>
                <td>邮箱</td>
                <td>手机号</td>
                <td>部门</td>
                <td>差旅标准</td>
                <td>权限</td>
                <td>操作</td>
                <td></td>
            </tr>
        </table>
        <ul class="staff_ul" ng-repeat="item in staffs" >
            <li>{{item.name}}</li>
            <li>{{item.email}}</li>
            <li>{{item.mobile}}</li>
            <li><!--<span ng-if="item.department == null">暂未设置</span>--><span>{{item.department || '我的企业'}}</span></li>
            <li><span>{{item.travelLeverName}}</span></li>
            <li><span ng-if="item.roleId == 0">创建者</span><span ng-if="item.roleId == 1">普通员工</span><span ng-if="item.roleId == 2">管理员</span><span ng-if="item.roleId == 3">财务人员</span></li>
            <li><a ng-if="!((item.roleId == 2 || item.roleId == 0) && roleId == 2 && currentStaff.id != item.id)"><span ng-click="editStaffInfo($index)" id="change">修改</span></a>
                <a ng-if="item.roleId != 0 && !(item.roleId == 2 && roleId == 2)">&nbsp;|&nbsp;<span ng-click="deleteInfoShow(item.id, item.name)">删除</span></a></li>
            <li class="orange">{{item.accStatus}}</li>
            <div class="add_staff2">
                <div class="little_triangle2">
                </div>
                <div class="add_staff_block2">
                    <div class="block_tip2">
                        {{block_tip_err}}
                    </div>
                    <div class="block_left2">
                        <ul>
                            <li>
                                <span style="color: #f56d23;padding-right: 5px;">*</span>姓名:
                                <input id="staffName{{$index}}" type="text" placeholder="请输入员工真实姓名" value="{{item.name}}"/>
                            </li>
                            <li>
                                <span style="color: #f56d23;padding-right: 5px;">*</span>邮箱:
                                <input id="staffEmail{{$index}}" type="text" placeholder="后缀同创建人邮箱一致" value="{{item.email}}" ng-disabled="item.activeStatus==1"/>
                            </li>
                            <li>
                                手机号:
                                <input id="staffTel{{$index}}" type="text" placeholder="请输入员工手机号" value="{{item.mobile}}" maxlength="13"/>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                部门:
                                <input id="staffDepartment{{$index}}" type="text" placeholder="请输入员工所属部门" value="{{item.department}}"/>
                            <li>
                                差旅标准:
                                <select name="select" id="staffStandard{{$index}}" class="" ng-model="selectkey" ng-options="item.val as item.name for item in selectClass"></select>
                            </li>
                            <li>
                                <span style="color: #f56d23;padding-right: 5px;">*</span>权限:
                                <select name="select" id="staffPower{{$index}}" class="" ng-disabled="item.roleId == 0 || roleId == 2">
                                    <option value="">请设置权限</option>
                                    <option value="2" ng-selected="item.roleId == 2">管理员</option>
                                    <option value="3" ng-selected="item.roleId == 3">财务人员</option>
                                    <option value="1" ng-selected="item.roleId == 1">普通员工</option>
                                    <option value="0" ng-if="item.roleId == 0" ng-selected="item.roleId == 0">创建者</option>
                                </select>
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="block_right2">
                        <a ng-click="updateStaffInfo(item.id,$index)">保存</a>
                        <a ng-click="cancelAddStaffInfo()">取消</a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div style="clear: both;"></div>
        </ul>
    </div>


    <!--批量导入页面-->
    <div class="staff_tab_import">
        <div class="staff_tab_import_head">
            <div class="staff_import_head">
                <span>请选择您要批量导入的文件:</span>
                <span ng-click="backToAddStaff()">返回</span>
            </div>
            <a href="javascript:;" class="upload">选择文件<input type="file" class="file" name="tmpFile" value=''/></a>
            <input type="hidden" value="" id="fileMd5key"/>
            <input type="text" class="upload_text"><span class="tip_text">未选择文件</span> <span class="makesure" ng-click="uploadStaffFile()">上传文件</span>
        </div>
        <div class="staff_tab_import_bottom">
            <p>导入说明:</p>
            <p class="p_title">1、请使用excel等软件创建一个文件，格式如下（<a href="/download/excle-file/template_staff.xlsx" target="_blank" style="color:#118FD6;">点击下载模板</a>）：</p>
            <table>
                <tr>
                    <td></td>
                    <td>姓名</td>
                    <td>手机号</td>
                    <td>邮箱</td>
                    <td>部门</td>
                    <td>差旅标准</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>王鹏</td>
                    <td>13522415203</td>
                    <td>peng.wang@tulingdao.com</td>
                    <td>销售部</td>
                    <td>普通员工级</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>许倩</td>
                    <td>13522415203</td>
                    <td>qian.xu@tulingdao.com</td>
                    <td>技术部</td>
                    <td>普通员工级</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>张贵英</td>
                    <td>13522415203</td>
                    <td>guiying.zhang@tulingdao.com</td>
                    <td>设计部</td>
                    <td>普通员工级</td>
                </tr>
            </table>
            <p class="p_title">
                2、各列内容依次为：姓名、手机、邮箱、所属部门、差旅政策等级</br>
            </p>
            <p class="p_text">
                姓名：员工姓名</br>
                手机：员工手机号</br>
                邮箱：员工企业邮箱，用于员工登录账号</br>
                所属部门：员工所属部门名称;建议先进行公司<a>组织架构设置</a> <span>若未设置组织架构，则员工默认归属我的企业</span></br>
                差旅政策：员工对应的差旅政策等级;建议先进行公司<a>差旅政策设置</a> <span>若未设置公司差旅标准，则员工默认无差旅标准</span>
            </p>
            <p class="p_title">
                3、请使用GB系列编码保存文件
            </p>
        </div>
    </div>

    <!--导入数据预览-->
    <div class="staff_tab_valid">
        <div class="staff_tab_valid_head">
            <div class="staff_valid_head">
                <span>批量导入成员:</span>
                <span ng-click="backToImport()">返回</span>
            </div>
            <p>
                导入总数为：<span>{{validData + invalidData}}</span>，有效数为：<span>{{validData}}</span>，无效数为：<span style="color: #de492a;">{{invalidData}}</span>
            </p>
        </div>
        <div class="staff_no_valid">
            <div class="preview_head_text">
                <span class="blue_block"></span>
                无效成员预览
                <a ng-click="downloadExcleData('invalid')">点击下载列表</a>
            </div>
            <ul class="preview_require_head">
                <li>姓名</li>
                <li>邮箱</li>
                <li>手机号</li>
                <li>所属部门</li>
                <li>差旅标准</li>
                <li>原因</li>
            </ul>
            <ul class="preview_data" ng-repeat="item in invalid track by $index" >
                <li>{{item.name}}</li>
                <li>{{item.email}}</li>
                <li>{{item.mobile}}</li>
                <li>{{item.department}}</li>
                <li>{{item.travelLevelName}}</li>
                <li class="special">{{item.reason}}</li>
            </ul>
        </div>
        <div class="staff_valid">
            <div class="preview_head_text">
                <span class="blue_block"></span>
                导入成员预览
                <a ng-click="downloadExcleData('valid')">点击下载列表</a>
                <a class="tip">管理员权限设置可在导入成功后，进入<span class="blue">员工信息列表</span>单独设置</a>
            </div>
            <ul class="preview_require_head">
                <li>姓名</li>
                <li>邮箱</li>
                <li>手机号</li>
                <li>所属部门</li>
                <li>差旅标准</li>
                <li>权限</li>
            </ul>
            <ul class="preview_data" ng-repeat="item in valid track by $index" >
                <li>{{item.name}}</li>
                <li>{{item.email}}</li>
                <li>{{item.mobile}}</li>
                <li>{{item.department}}</li>
                <li>{{item.travelLevelName}}</li>
                <li>普通员工</li>
            </ul>
        </div>
        <div class="import_btn">
            <span ng-click="importData()">导入</span>
            <span ng-click="backToImport()">取消</span>
        </div>
    </div>

    <!--导入成功页面-->
    <div class="staff_import_success">
        <div class="staff_tab_valid_head">
            <div class="staff_valid_head">
                <span>批量导入成员</span>
                <span ng-click="backToImport()">继续批量导入</span>
                <span ng-click="backToAddStaff()">返回</span>
            </div>
        </div>
        <div class="staff_import_success_content">
            <p>数据导入成功！</p>
            <p>成功导入数据<span>{{validData}}</span>条</p>
            <p>无效数据<span>{{invalidData}}</span>条未导入，<a ng-click="downloadExcleData('invalid')">点击下载列表</a></p>
        </div>
    </div>
</div>
<ul class="pagination" id="pagination"></ul>


<section class="confirmFixed">
    <div class="confirmbox">
        <div class="confirmbox_t">
            <span style="float: left;">提示</span>
            <span ng-click="confirmClose()" style="float: right;"><img src="agency/images/close.jpg"></span>
        </div>
        <div class="confirmbox_p">
            <div class="error" style="height: 25px; line-height: 25px; color: #DE492A;"></div>
            <div class="messageText" style="height: 30px; line-height: 30px; text-align: center;"></div>
            <div style="margin-top: 20px;">
                <input type="button" value="确认" ng-click="deleteInfo()" class="common_btn1" style="width: 60px; margin-left: 105px;">
                <input type="button" value="取消" ng-click="confirmClose()" class="common_btn2" style="width: 60px; margin-left: 20px;">
            </div>

            <div class="deleteFail">
                <div class="deleteFail_text"></div>
                <div>
                    <input type="button" value="确认" ng-click="confirmClose()" class="common_btn1" style="width: 60px; margin-left: 170px;">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function(){
        $(".file").AjaxFileUpload({
            action: '/upload/ajax-upload-file?type=xls',
            dataType: 'json',
            data: { id: 'aaa', name: 'bbb' },
            onComplete: function(filename, response) {
                $("#fileMd5key").val(response.md5key);
                $(".upload_text").val(filename);
                $(".tip_text").hide();
                $(".makesure").show();
            }
        });
        $(document).on("click","#change",function(){
            $(".add_staff2").hide();
            $(this).closest("ul").find(".add_staff2").show();
        })

        $(".preview_data>li").hover(function(){

        })
    })
</script>