.content{
    width: 1030px;
    margin: 0 auto;
    /*padding-top: 70px; 原有高度*/
    padding-top: 100px;/*没有顶部图片时的高度*/
    position: relative;
}
.content .left_nav{
    width: 30%;
    float: left;
    overflow: hidden;
    top: 150px;
    position: absolute;
    left: 0;
}
/*.content .qwe{*/
    /*width: 30%;*/
    /*height: 100px;*/
    /*float: left;*/
    /*overflow: hidden;*/
    /*display: none;*/
    /*/!*position: fixed;*!/*/

/*}*/
.content .left_nav ul{
    width: 70%;
    margin: 65px auto 0px;
}
.content .left_nav ul li{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: #4a4a4a;
    font-size: 18px;
    background: #e2e2e2;
    margin-bottom: 30px;
    text-align: left;
    padding-left: 10%;
    cursor: pointer;
}
.content .left_nav ul li.on{
    background: #5eaff5;
    color: #fff;

}
.content .right_content{
    width: 60%;
    float: right;
    overflow: hidden;
    padding-left: 100px;
}
.content .right_content .about{
    color: #4a4a4a;
    text-align: left;
    padding-bottom: 100px;
}
.content .right_content .about h3{
    font-size: 34px;
    margin: 0;
    font-weight: normal;
}
.content .right_content .about div{
    width: 100%;
    border-top: 2px solid #4a4a4a;
    margin-top: 15px;
}
.content .right_content .about div p{
    padding-top: 35px;
    font-size: 16px;
    line-height: 30px;
}
.content .right_content .team{
    color: #4a4a4a;
    text-align: left;
    padding-bottom: 100px;
}
.content .right_content .team h3{
    font-size: 34px;
    margin: 0;
    font-weight: normal;
}
.content .right_content .team .first{
    width: 100%;
    border-top: 2px solid #4a4a4a;
    margin-top: 15px;
}
.content .right_content .team div .people{
    width: 100%;
    border: none;
    margin-top: 10px;
}
.content .right_content .team div .people div:first-child{
    border: none;
    float: left;
    width: 150px;
    padding: 20px;
}
.content .right_content .team div .people div:first-child img{
    width: 150px;
    border: none;
}
.content .right_content .team div .people div:nth-child(2){
    border: none;
    float: left;
    width: 68%;
    padding-top: 15px;
}
.content .right_content .team div .people div:nth-child(2) p{
    line-height: 30px;
    margin:0;
    padding: 0;
}
.content .right_content .contact{
    color: #4a4a4a;
    text-align: left;
    padding-bottom: 100px;
}
.content .right_content .contact h3{
    font-size: 34px;
    margin: 0;
    font-weight: normal;
}
.content .right_content .contact .map{
    width: 100%;
    border-top: 2px solid #4a4a4a;
    margin-top: 15px;
}
.content .right_content .contact .map div:first-child{
    width: 100%;
}
.content .right_content .contact .map div:first-child img{
    float: left;
    width: 300px;
    padding: 30px 30px 30px 0px;
}
.content .right_content .contact .map div:nth-child(2){
    clear: both;
}

.zhiwei{
    border:none!important;
    padding-top: 30px;
}
.zhiwei p{
    line-height: 30px;
    margin: 0;
    padding-top:0!important;
}
.zhiwei p:first-child{
    color: #5eb0f5;
}