/*每一屏的背景色*/
.first_section{
    width: 100%;
    height: 700px;
    background-color: #5188e2;
}
.second_section{
    width: 100%;
    height: 700px;
    background-color: #5eb0f5;
}
.third_section{
    width: 100%;
    height: 700px;
    background-color: #487bca;
}
.forth_section{
    width: 100%;
    height: 700px;
    background-color: #fff;
}
.forth_section .function_text{
    color: #487bca!important;
}
.fifth_section{
    width: 100%;
    height: 700px;
    background-color: #487bca;
}
.sixth_section{
    width: 100%;
    height: 700px;
    background-color: #5087e1;
}
/*内部统一样式*/
.function_content{
    width: 1200px;
    height: 700px;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

/*图在左侧*/
.function1{
    background-repeat:no-repeat;
    background-position: left center;
}
/*图在右侧*/
.function2{
    background-repeat:no-repeat;
    background-position: right center;
}

/*f开头均为背景图片无样式*/
.f1{
    background-image: url("../img/function1.png");
}
.f2{
    background-image: url("../img/function2.png");
}
.f3{
    background-image: url("../img/function3.png");
}
.f4{
    background-image: url("../img/function4.png");
}
.f5{
    background-image: url("../img/function5.png");
}
.f6{
    background-image: url("../img/function6.png");
}

/*对于文字的统一样式*/
.function_text{
    color: #fff;
    font-size: 20px;
    width: 500px;
    text-align: left;
}
.function_text h3{
    font-size: 44px;
    font-weight: normal;
}
.function_text p{
    font-weight: normal;
    line-height: 35px;
}

/*文字在右侧*/
.t1{
    float: right;
    margin-top: 5%;
}
/*文字在左侧*/
.t2{
    float:left;
    margin-top: 5%;
}

