<div class="uploadImg">
	<div class="orderdetail">
		<p><span>{{plan.createAt | date: 'yyyy-MM-dd'}}出差记录</span><em>{{name}}</em></p>
		<p class="porgramtit">{{plan.description}}</p>
		<p class="outline" ng-if="plan.outTraffic.length!=0">从{{outTraffic.deptCity}}到{{outTraffic.arrivalCity}},预算￥{{outTraffic.budget}}</p>
		<p class="address" ng-if="plan.hotel.length!=0">{{hotel.city}},{{hotel.hotelname}},预算￥{{hotel.budget}}</p>
		<p class="backline" ng-if="plan.backTraffic.length!=0">从{{backTraffic.deptCity}}到{{backTraffic.arrivalCity}},预算￥{{backTraffic.budget}}</p>
	</div>
	<div class="maincontent">
		<div class="messagebox_content">
			<img src="" alt="">
		</div>

		<div ng-if="plan.outTraffic.length!=0" class="outTraffic">
			<div class="po_r {{outClass}}">
				<span>交通票据</span>
				<span>去程</span>
				<span ng-if="outTraffic.invoice.length==0">点击上传</span>
				<span ng-if="outTraffic.invoice.length!=0 && outTraffic.status =='0'">点击修改</span>
				<span ng-if="outTraffic.invoice.length!=0 && outTraffic.status=='-1'">重新上传</span>
				<span ng-if="outTraffic.invoice.length!=0 && outTraffic.status=='1'">审核通过</span>
				<!-- <img ng-if="outTraffic.invoice.length!=0" ng-src="/self/attachments/{{outTraffic.newInvoice}}" style="width:100%;"/> -->
				<!--微信中上传-->
				<input type="file" ng-click="uploadInvoice(outTraffic.id)" ng-show="isInWeixin" ng-if="outTraffic.status !='1'"/>

				<span ng-hide="isInWeixin" ng-if="outTraffic.status !='1'">
					<input type="file" nv-file-select="" id="{{outTraffic.id}}" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{invoicetype:'交通票据',traffictype:'去程',after:imagesup}" multiple>
				</span>
			</div>
		</div>
		<div ng-if="plan.hotel.length!=0" class="hotel">
			<div class="po_r {{hotelClass}}">
				<span>住宿发票</span>
				<span></span>
				<span ng-if="hotel.invoice.length==0">点击上传</span>
				<span ng-if="hotel.invoice.length!=0 && hotel.status =='0'">点击修改</span>
				<span ng-if="hotel.invoice.length!=0 && hotel.status=='-1'">重新上传</span>
				<span ng-if="hotel.invoice.length!=0 && hotel.status=='1'">审核通过</span>
				<!-- <img ng-if="hotel.invoice.length!=0" ng-src="self/attachments/{{hotel.newInvoice}}" style="width:100%;"/> -->
				<span ng-show="isInWeixin" ng-if="hotel.status !='1'">
					<!--微信中上传-->
					<input type="file" ng-click="uploadInvoice(hotel.id)"/>
				</span>

				<span ng-hide="isInWeixin" ng-if="hotel.status !='1'">
					<input type="file" nv-file-select="" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{invoicetype:'住宿发票',traffictype:''}" multiple>
				</span>
				<!-- <div ng-thumb= {'file:uploader.queue[0]._file,height:100'}></div> -->
			</div>
		</div>

		<div ng-if="plan.backTraffic.length!=0" class="backTraffic">
			<div class="po_r {{backClass}}">
				<span>交通票据</span>
				<span>回程</span>
				<span ng-if="backTraffic.invoice.length==0">点击上传</span>
				<span ng-if="backTraffic.invoice.length!=0 && backTraffic.status =='0'">点击修改</span>
				<span ng-if="backTraffic.invoice.length!=0 && backTraffic.status=='-1'">重新上传</span>
				<span ng-if="backTraffic.invoice.length!=0 && backTraffic.status=='1'">审核通过</span>
				<!-- <img ng-if="backTraffic.invoice.length!=0" ng-src="/self/attachments/{{backTraffic.newInvoice}}" style="width:100%;"/> -->
				<span ng-show="isInWeixin" ng-if="backTraffic.status !='1'">
					<!--微信中上传-->
					<input type="file" ng-click="uploadInvoice(backTraffic.id)"/>
				</span>

				<span ng-hide="isInWeixin" ng-if="backTraffic.status !='1'">
					<input type="file" nv-file-select="" uploader="uploader" class="file" accept="image/gif,image/jpeg,image/jpg,image/png" options="{imgwidth:{{winWidth}},after:backtraffic_up,done:backtraffic_done}" multiple>
				</span>
			</div>
		</div>
	</div>
	<div class="footer">
		<span>票据上传完成后提交审核，一经提交不可再修改</span>
		<input type="button" ng-click="push()" value="提交审核" ng-disabled="plan.status==1? 'disabled': false">
	</div>
</div>
<!-- <div class="upload_sure">
	<div class="img_tit">
		<span class="web-icon-font3">&#xe90e;<em>{{traffictype}}</em><strong>{{invoicetype}}</strong></span>
		
	</div>
	<div ng-repeat="item in uploader.queue" class="ngthumb">
		<div ng-thumb = '{ file:item._file,width:100 }'></div>
		<div style="height:20px;transition: width .1s ease;width:0;background:#428bca;" ng-style="{ 'width': item.progress + '%' }"></div>
	</div>
	
	<div class="img_button">
		<div class="reupload" ng-click="close_pre()">取消</div>
		<div class="" ng-click="uploader.uploadAll();">确定</div>
	</div>
</div> -->