<div class="staffhome">
	<div class="staffuser">
		<span class="nameicon">{{firstname}}</span>
		<div class="staff_role">
			<div>{{staff.name}}
				<span ng-if="staff.travelLevel != null">{{travelpolicy.name}}</span>
				<span ng-if="staff.travelLevel == null">未指定</span>
				<span ng-if="staff.roleId == 0">创建者</span>
				<span ng-if="staff.roleId == 2">管理员</span>
				<a href="corp.html" ng-if="staff.roleId == 0 ||staff.roleId == 2">企业管理</a>
				<p>电子邮箱：<em>{{staff.email}}</em></p>
				<p>联系电话：<em>{{staff.mobile}}</em></p>
			</div>
		</div>
		<div class="staff_record">
			<ul>
				<li>
					<a href="#/travelPlan/PlanList">
						<strong>{{businesstimes}}</strong>
						<span>出差记录</span>
					</a>
				</li>
				<li>
					<a href="">
						<strong>{{staff.totalPoints}}</strong>
						<span>积分</span>
					</a>
				</li>
				<li>
					<a href="#/Points/ExchangePoints">
						<strong>0</strong>
						<span>兑换</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="staff_menu">
		<ul>
			<a href="#/businessTravel/Index"><li>我要出差</li></a>
			<a href="#/travelPlan/PlanList"><li>我要上传票据</li></a>
			<a href="#/Points/ExchangePoints"><li>我要兑换礼品</li></a>
		</ul>
	</div>
	<div class="staff_standards">
		<h3>我的差旅标准</h3>
		<div>
			<p>等级：{{travelpolicy.name}}</p>
			<p ng-if="travelpolicy.planeLevel == '不限' && travelpolicy.planeDiscount == 0">飞机：全价机票，舱位不限，想飞就飞
			<p ng-if="travelpolicy.planeLevel == '不限' && travelpolicy.planeDiscount != 0">飞机：最高{{travelpolicy.planeDiscount}}折,舱位不限
			<p ng-if="travelpolicy.planeLevel != '不限' && travelpolicy.planeDiscount == 0">飞机：全价{{travelpolicy.planeLevel}}
			<p ng-if="travelpolicy.planeLevel != '不限' && travelpolicy.planeDiscount != 0">飞机：最高{{travelpolicy.planeDiscount}}折,{{travelpolicy.planeLevel}}
			<br/>
				<span ng-if="travelpolicy.isChangeLevel == true">当高级舱位价格低于上述标准时，可选择高级舱位</span>
			</p>
			<p ng-if="travelpolicy.trainLevel == '不限'">火车：座次不限</p>
			<p ng-if="travelpolicy.trainLevel != '不限'">火车：{{travelpolicy.trainLevel.replace(',', '/')}}</p>
			<p ng-if="travelpolicy.hotelLevel == '不限' && travelpolicy.hotelPrice == 0">住宿：酒店任意住</p>
			<p ng-if="travelpolicy.hotelLevel != '不限' && travelpolicy.hotelPrice == 0">住宿：{{travelpolicy.hotelLevel.replace(',', '/')}}</p>
			<p ng-if="travelpolicy.hotelLevel != '不限' && travelpolicy.hotelPrice != 0">住宿：{{travelpolicy.hotelLevel.replace(',', '/')}}且每晚不超过{{travelpolicy.hotelPrice}}元</p>
		</div>
		<!-- <div ng-if="staff.travelLevel == null">
			<div class="travelnull">
				<span>公司未设置差旅标准</span>
			</div>
		</div> -->
	</div>
	<div class="staff_announce">
		<h3>小麦公告</h3>
		<div class="announce_time">2015-12-25</div>
		<p class="announce_main">积分兑换正在开发中，预计1月28日正式上线，敬请期待</p>
		<p class="announce_main">上线后，只要公司员工奖励计划账户有银子，大家就能兑换啦</p>
	</div>
	<div class="flow_chart">
		<span class="flow_tit">操作流程</span>
		<ul>
			<li>
				<em>第1步</em>
				<p>发布出差计划</p>
				<p>生成出差记录</p>
			</li>
			<li>
				<em>第2步</em>
				<p>预定</p>
				<p class="fsg">去第三方平台预定</p>
			</li>
			<li>
				<em>第3步</em>
				<p>上传相关票据</p>
				<p>等待审核</p>
			</li>
			<li>
				<em>第4步</em>
				<p>审核通过</p>
				<p>获得积分</p>
			</li>
		</ul>
	</div>
</div>