<div class="view">
    <div class="bg"></div>
    <div class="tit"></div>
    <div class="content">
        <h2 class="corp_name">{{company.name}}</h2>
        <h3 class="tit">{{title}}</h3>
        <div class="list" ng-if="step == 'one'">
            <div class="item">1、下载模板，按照格式编辑员工信息，仔细阅读模板内说明。
                <a class="download">点此下载</a>
            </div>
            <div class="item">2、上传编辑好的文件。
                <div class="fileupload">
                    <input nv-file-select uploader="uploader" accept="application/msexcel" type="file">
                    <a class="btn">选择文件</a>
                </div>
                <span class="filename">{{fileName}}</span>
            </div>
            <a class="upload_btn" ng-click="upload()">上传文件</a>
        </div>
        <div class="list" ng-if="step == 'two'">
            <p class="percent-tit">正在分析文件...<span>{{percent}}%</span></p>
            <div class="percent-bar">
                <div class="percent-block" ng-style="{width:percent+'%'}"></div>
            </div>
        </div>
        <div class="list table-list" ng-if="step == 'three'">
            <div class="item">1、添加成功 {{addObj.length}} 人</div>
            <div class="item">2、添加失败 <span>{{noAddObj.length}}</span> 人。下表为员工信息，请复制到Excel标中编辑并重新上传</div>
            <table class="err_list" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>邮箱</th>
                    <th>性别</th>
                    <th>角色</th>
                    <th>差旅标准</th>
                    <th>部门</th>
                    <th>失败原因</th>
                </tr>
                <tr ng-repeat="item in noAddObj">
                    <td>{{item.name}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.sexStr}}</td>
                    <td>{{item.role}}</td>
                    <td>{{item.travelPolicyName}}</td>
                    <td>{{item.departmentName}}</td>
                    <td>{{item.reason}}</td>
                </tr>
            </table>
            <a class="upload_btn" ng-click="reUpload()">重新上传</a>
        </div>
    </div>
</div>