<style>html,body {background: #F5F5F5;}ul li{height:30px;}</style>
<div class="companylist">
    <ul >
        <li>
            企业名称：{{company.name}}
        </li>
        <li>当前余额: {{company.coinAccount.balance}}</li>
        <li>
            充值鲸币：<input type="text" placeholder="" ng-model="coins" autofocus>
        </li>
        <li>充值理由：<input type="text" ng-model="remark"></li>
        <li>
            <button ng-click="chargeCoin()">确定</button>
            <button ng-click="reset()">取消</button>
        </li>
    </ul>
</div>

