<div class="companyinfo">
	<div class="company_tab">
		<ul>
			<li class="on">公司详情</li>
			<li><a href="#/companyList/Department?companyId={{companyId}}">组织架构</a></li>
			<li><a href="#/companyList/StaffList?company={{companyId}}">员工列表</a></li>
			<li><a href="#/companyList/PolicyList?companyId={{companyId}}">差旅标准</a></li>
			<!--<li>出差记录</li>-->
			<!--<li>充值记录</li>-->
		</ul>
	</div>
	
	<div class="companydetail">
		<h3>{{company.name}}</h3>
		<p><span>联系人姓名：</span>{{staff.name}}</p>
		<p><span>联系人电话：</span>{{staff.mobile}}</p>
		<p><span>联系人邮箱：</span>{{staff.email}}</p>
		<p><span>注册时间：</span>{{company.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</p>
		<p><span>公司账户余额：</span>{{funds.balance || 0 | currency: ''}}元 <a ng-click="alertPop()">充值</a></p>
		<p><span>当前员工数：</span>{{company.staff_num || 0}}</p>
		<p><span>当前员工积分：</span>{{points.balancePoints || 0}}</p>
		<p><span>累计出差记录：</span>{{tripnum || 0}}</p>
		<p><span>累计实际支出：</span>{{funds.consume || 0}}</p>
		<p><span>累计员工积分：</span>{{points.totalPoints || 0}}</p>
		<p><span>累计兑换次数：</span>{{}}</p>
		<div class="charges">
			<h2>请输入充值金额</h2>
			<input type="text" id="Money">元
			<p>
				<a class="cancel">取消</a>
				<a class="sure" ng-click="recharge()">确定</a>
			</p>
			
		</div>
	</div>
</div>