<div class="companylist">
    <h3>企业偏好：</h3>
    国内住宿偏好：<textarea name=""  style="width:100%" rows="5" ng-model="hotel"></textarea>
    国内交通偏好：<textarea name=""  style="width:100%" rows="5" ng-model="traffic"></textarea>
    国际住宿偏好：<textarea name=""  style="width:100%" rows="5" ng-model="abroadHotel"></textarea>
    国际交通偏好：<textarea name=""  style="width:100%" rows="5" ng-model="abroadTraffic"></textarea>
    <br>
    <button ng-click="configure()">确定</button>
    <button ng-click="cancel()">取消</button>
</div>