<div class="createCorp">
    <div class="title_list">
        <span>公司管理</span>>新增企业
    </div>
    <div class="title">
        <!--<div class="blue_block"></div>-->
        开通企业账号
    </div>
    <div class="createCorp_content">
        <div class="input">
            <!--<span class="tip_err"><i class="web-icon-font"></i>{{err_msg_tip}}<a href="#/auth/register"></a><span ng-click="sendActiveMail()"></span></span>-->
            <input id="corpName" class="" type="text" value="" placeholder="企业名称" onkeyup=""/>
            <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_mail}}</span>-->
        </div>
        <div class="input">
            <!--<span class="tip_err"><i class="web-icon-font"></i>{{err_msg_tip}}<a href="#/auth/register"></a><span ng-click="sendActiveMail()"></span></span>-->
            <input id="connectName" class="" type="text" value="" placeholder="联系人姓名（此人默认为创建人）" onkeyup=""/>
            <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_mail}}</span>-->
        </div>
        <div class="input">
            <!--<span class="tip_err"><i class="web-icon-font"></i>{{err_msg_tip}}<a href="#/auth/register"></a><span ng-click="sendActiveMail()"></span></span>-->
            <input id="connectEmail" class="" type="text" value="" placeholder="联系人邮箱，作为登录账号使用，用于接收密码" onkeyup=""/>
            <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_mail}}</span>-->
        </div>
        <div class="input">
            <!--<span class="tip_err"><i class="web-icon-font"></i>{{err_msg_tip}}<a href="#/auth/register"></a><span ng-click="sendActiveMail()"></span></span>-->
            <input id="connectMobile" class="" type="text" value="" placeholder="联系人电话" onkeyup=""/>
            <!--<span class="err_msg"><i class="web-icon-font"></i>{{err_msg_mail}}</span>-->
        </div>
        <a id="" class="register" ng-click="createCorp()">创建企业</a>
        <div class="tipInfo">
            <i class="web-icon-font2">&#xe9e8;</i>创建成功后，联系人邮箱会收到一份含登录名和密码的邮件，登录后自行修改密码
        </div>
    </div>
    <div style="clear: both;"></div>
</div>