<style>

</style>
<div class="companylist">
    <div class="companylist">
        <div class="companylist-title">
            <h3>公司列表</h3>
            <table>
                <tr>
                    <td>
                        创建者姓名：
                    </td>
                    <td colspan="3"><input type="text" placeholder="输入创建者姓名" ng-model="query.userName"></td>
                    <td colspan="2">
                        公司名称：
                    </td>
                    <td colspan="2">
                        <input type="text" placeholder="输入公司名称" ng-model="query.keyword">
                    </td>
                    <td >
                        手机号:
                    </td>
                    <td colspan="2">
                        <input type="text" placeholder="输入手机号" ng-model="query.mobile">
                    </td>
                </tr>
                <tr>
                    <td>
                        注册时间段:
                    </td>
                    <td colspan="3">
                        <input type="date"  ng-model="query.regDateStart"><input type="date" ng-model="query.regDateEnd">

                    </td>
                    <td colspan="2">
                        小于剩余有效期天数:
                    </td>
                    <td colspan="2">
                        <input type="text" ng-model="query.days" placeholder="输入有效期天数">
                    </td>
                    <td>
                        <button class="btn" ng-click="doSearch()">搜索</button>
                    </td>
                </tr>
            </table>
            <div style="clear:both;"></div>
        </div>
        <table class="company">
            <tr>
                <td>序号</td>
                <td>企业名称</td>
                <td>创建人姓名</td>
                <td>电话</td>
                <td>注册时间</td>
                <td>到期时间</td>
                <td>剩余有效期天数</td>
                <td>账户余额</td>
                <td>员工数</td>
                <td colspan="3" style="text-align: center">操作</td>
            </tr>
            <tr ng-repeat="company in companylist track by $index">
                <td> {{$index+ 1 + fromIdx}}</td>
                <td>{{company.name}} <span ng-if="company.trying">({{company.trying}})</span></td>
                <td>{{company.createUserObj.name}}</td>
                <td>{{company.createUserObj.mobile}}</td>
                <td>{{company.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>{{company.expiryDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>{{company.remainDays}}</td>
                <td>{{company.balance}}</td>
                <td>{{company.staffNum}}</td>
                <td>
                    <a href="#/companyList/charge-coin?companyId={{company.id}}" target="_self" style=" color: #118FD6;">鲸币充值</a>
                </td>
                <td>
                    <a href="#/companyList/add-expiry-date?companyId={{company.id}}" target="_self" style="color:#118FD6">增加服务期限</a>
                </td>
                <td>
                    <a href="#/companyList/add-flow-package?companyId={{company.id}}" target="_self" style=" color: #118FD6;">增加流量包</a>
                </td>
                <td>
                    <a href="#/companyList/configure-prefer?companyId={{company.id}}" target="_self" style=" color: #118FD6;">配置企业差旅偏好</a>
                </td>
            </tr>
            <tr>
                <td colspan="13">
                    <a ng-click="prevPage()" ng-if="pager.hasPrevPage()">上一页</a>
                    <a ng-click="nextPage()" ng-if="pager.hasNextPage()">下一页</a>
                </td>
            </tr>
        </table>
    </div>
    <ul class="pagination" id="pagination"></ul>
</div>