@import (reference) "common.less";
@color-theme1:#118FD6;
@color-theme2:#58b0e2;
@color-white:#ffffff;
@color-gray:#ededed;
@color-footer:#292b2b;
@color-alert-wrong:#de492a;
@color-alert-right:#5cca2e;
@color-text:#4a4a4a;
@color-border:#d9d9d9;
@color-border2:#e5e5e5;
@border-radius-2:2px;
@h30:30px;
@h20:20px;
@h16:16px;
@h15:15px;
@h14:14px;
@h12:12px;
.err_msg{
  float: right;
  position: absolute;
  left: 440px;
  width: 200px;
  top: 0px;
  display: none;
  z-index: 0;
  i{
    color: @color-alert-wrong;
    margin-right: 10px;
  }
}
.corp_content{
  width: 1000px;
  height: auto;
  overflow: hidden;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid @color-border2;
  min-height: 700px;
}
.title{//ÎÄÕÂ±êÌâ
  width: 100%;
  text-align: center;
  font-size: @h30;
  color: @color-text;
  padding-top: 30px;
  margin-bottom: 50px;
}
.tip_div{
  float: right;
  position: absolute;
  left: 440px;
  width: 360px;
  top: 0px;
  display: none;
  img{
    float: left;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }
  span{
    display: block;
    float: left;
    background-color: @color-gray;
    border: 1px solid #d9d9d9;
    font-size: @h14;
    line-height: 22px;
    position: relative;
    z-index: 1;
    margin-top: -20px;
    margin-left: -1px;
    padding:5px 10px;
    border-radius: @border-radius-2;
  }
}
.tip_div2{
  float: right;
  position: absolute;
  left: 440px;
  width: 360px;
  top: 0px;
  display: none;
  img{
    float: left;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }
  span{
    display: block;
    float: left;
    background-color: @color-gray;
    border: 1px solid #d9d9d9;
    font-size: @h14;
    line-height: 30px;
    position: relative;
    z-index: 1;
    /* margin-top: 2px; */
    margin-left: -1px;
    padding: 5px 10px;
    border-radius: @border-radius-2;
  }
}
.btn{
  display: block;
  width: 430px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: @color-theme1;
  margin: 0px auto 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}
.input{
  width: 430px;
  height: 40px;
  margin: 0 auto 20px;
  line-height: 40px;
  border-radius: @border-radius-2;
  border:1px solid @color-border;
  font-size: @h14;
  position: relative;
  input{
    width: 97.5%;
    height: 38px;
    border: none;
    outline: medium;
    padding-left: 10px;
    font-size: @h14;
  }
}
.inputs{
  width: 430px;
  height: 42px;
  margin: 0 auto 20px;
  line-height: 42px;
  font-size: @h14;
  position: relative;
  div{
    float: left;
    width: 240px;
    height: 40px;
    line-height: 40px;
    border-radius: @border-radius-2;
    border:1px solid @color-border;
    overflow: hidden;
  }
  input{
    width: 90%;
    border: none;
    outline: medium;
    padding-left: 10px;
    font-size: @h14;
  }
  .getCode{
    width: 180px;
    height: 40px;
    float: right;
    text-align: center;
    background: @color-white;
    color: @color-text;
    line-height: 40px;
    border:1px solid @color-border;
    border-radius: @border-radius-2;
    cursor: pointer;
  }
  .change{
    width: auto;
    height: 42px;
    float: right;
    margin-right: 10px;
    color: @color-theme1;
    line-height: 42px;
    cursor: pointer;
  }
}
#imgCode{
  width: 100px;
  height: 42px;
  margin-left: 10px;
}
.agree{
  width: 430px;
  height: 40px;
  line-height: 40px;
  font-size: @h14;
  margin: 20px auto;
  color: @color-text;
  #check1{
    i{
      color: @color-theme1;
      margin-right: 10px;
      cursor: default;
    }
  }
  #check2{
    i{
      color: @color-border;
      margin-right: 10px;
      cursor: default;
    }
  }
  a{
    color: @color-theme1;
  }
}
.register{
  display: block;
  width: 430px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: @color-theme1;
  margin: 0px auto 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}