@import (reference) "common.less";
@color-theme1:#118FD6;
@color-theme2:#58b0e2;
@color-white:#ffffff;
@color-gray:#ededed;
@color-footer:#292b2b;
@color-alert-wrong:#de492a;
@color-alert-right:#5cca2e;
@color-text:#4a4a4a;
@color-border:#d9d9d9;
@color-border2:#e5e5e5;
@border-radius-2:2px;
@h30:30px;
@h20:20px;
@h18:18px;
@h16:16px;
@h15:15px;
@h14:14px;
@h12:12px;
.settlement{
	width: 1000px;
	margin: 20px auto;
	ul.settle_tab{
		display: inline-flex;
		li{
			float: left;
			display: inline-block;
			width: 102px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			cursor: pointer;
			border-radius: 2px;
			&.on{
				background: #fff;
				border:1px solid #e5e5e5;
				border-bottom: 0;
			}
		}
	}
	.settle_main{
		background: #fff;
		border:1px solid #e5e5e5;
		margin-top: -1px;
		padding-top: 20px;
    .search{
      ul{
        li{
          float: left;
          height: 36px;
          line-height: 34px;
          text-align: right;
          margin-bottom: 10px;
          margin-left: 20px;
          &:nth-child(2){
            position: relative;
            input{
              width: 178px;
              margin-left: 0;
            }
          }
          #start_time,#end_time{
            background: url(../../images/selecticon.jpg) no-repeat right center #FFFFFF;
          }
          input{
            width: 118px;
            height: 34px;
            line-height: 34px;
            border: 1px solid @color-border2;
            margin-left: 5px;
            padding-left: 10px;
            border-radius: @border-radius-2;
          }
          .purposstype{
            border:1px solid @color-border2;
            display: inline-block;
            border-right: 0;
            width: 78px;
            text-align: center;
            border-radius: 2px 0 0 2px;
          }
        }
      }
      .PurposeNamelist {
        width: 188px;
        height: auto;
        background: #ffffff;
        border: 1px #D9D9D9 solid;
        border-radius: 2px;
        overflow: hidden;
        position: absolute;
        left: 122px;
        top: 35px;
        display: none;
        z-index: 999;
        div {
          width: 168px;
          height: 30px;
          line-height: 30px;
          text-align: left;
          cursor: pointer;
          z-index: 9999;
          padding: 0 10px;
          overflow: hidden;
          &:hover{
            background: ;
            color:@color-theme1;
          }
        }
      }
    }
		.settle_title{
			width: 958px;
			height: 98px;
			margin: 0 auto 20px;
			border:1px solid #e5e5e5;
			background: #ededed;
			div{
				float: left;
				width: 189px;
				height: 60px;
				margin-top: 20px;
				text-align: center;
				position: relative;
				border-right: 1px solid #fff;
				&:nth-child(1){
					background: #fff;
					width: 197px;
					height: 98px;
          line-height: 98px;
					margin: 0;
					border-right: 0;
				}
				&:nth-child(2){
					border-left: 1px solid #e5e5e5;
				}
				&:last-child{
					border-right: 0;
				}
				span{
					display: inherit;
					line-height: 30px;
					color: #14c1fd;
					font-weight: bold;
				}
				em{
					font-style: normal;
					line-height: 30px;
				}
			}
		}
		.settle_list{
			text-align: center;
      table{
          tr{
            height: 56px;
            line-height: 56px;
            &:nth-child(1){
              background: #ededed;
              height: 38px;
              line-height: 38px;
              color: #9b9b9b;
            }
            &:hover{
              background: #eff3f5;
            }
          }
        }
        .pass {
          width: 20px;
          height: 20px;
          line-height: 20px;
          color: @btn-text-color;
          border-radius: 50%;
          background: #69B754;
          display: inline-block;
        }
        .search {
          width: 958px;
          height: 76px;
          padding: 0 20px;
        }
        .content {
          width: 100%;
          height: auto;
          tr {
            border-bottom: 1px @border-color solid;
            padding: 10px 0;
            &:nth-child(1){
              background: #ededed;
              height: 38px;
              line-height: 38px;
              color: #9b9b9b;
              td{
                padding: 0;
                &:nth-child(1){
                  padding: 0 5px;
                }
              }
            }
          }
          th {
            height: 38px;
            border-top: 1px #E5E5E5 solid;
            border-bottom: 1px #E5E5E5 solid;
            background: #EDEDED;
          }
          td {
            padding: 15px 0;
            a{
              color: #118FD6;
            }
            .po_r{
            position: relative;
            }
            .file{
              position: absolute;
              width: 56px;
              height: 19px;
              line-height: 30px;
              opacity: 0;
              left: 0px;
              top: 0;
              cursor: pointer;
            }
            .uploadbtn {
              width: 100px;
              height: 30px;
              line-height: 30px;
              margin-left: 22px;
            }
            p {
              height: 30px;
              line-height: 30px;
              a {
                color: @color-theme1;
              }
              .shenhe {
                color: #9F9B9B;
              }
            }
            .traffic_icon {
              font-size: 25px;
              color: #D81F2A;
            }
            .live_icon {
              font-size: 25px;
              color: #4A4EC1;
            }
          }
        }
		}
		.list_none{
      text-align: center;
      span{
        color: #9b9b9b;
        margin-top: 20px;
        line-height: 80px;
      }
    }
    .set_map_date{
      width: 112px;
      overflow: hidden;
      .selectbox{
        width: 112px;
        .common_select{
          width: 90px;
        }
      }
      span{
        display: inline-block;
        width: 112px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        &:hover{
          background: #eff3f5;
        }
      }
    }
	}
}
/*积分三个统计块*/
.point_block{
  padding: 20px 90px;
  div{
	width: 250px;
	height: 100px;
	border: 1px solid @color-border2;
	text-align: center;
	&:first-child{
	  float: left;
	}
	&:nth-child(2){
	  margin: 0 auto;
	}
	&:nth-child(3){
	  float: right;
	  margin-top: -100px;
	}
	p{
	  text-align: center;
	  width: 100%;
	  &:first-child{
		color: @color-theme1;
		font-size: @h18;
		line-height: 40px;
		margin-top: 10px;
		height: 40px;
	  }
	  &:nth-child(2){
		color: @color-text;
		font-size: @h14;
		line-height: 35px;
	  }
	}
  }
}
.planDetail {
  width: 1000px;
  height: auto;
  margin: 30px auto 0 auto;
  .planpath {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    span {
      color: #9B9B9B;
    }
  }
  .mainbox {
    width: 1000px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    background: @background-color-second;
    overflow: hidden;
    position: relative;
    .title_top {
      width: 960px;
      height: 40px;
      font-size: 15px;
      color: @btn-text-color;
      background: #4A4A4A;
      padding: 0 20px;
      .standard{
        text-decoration: underline;
      }
      .standard_detail{
        position: absolute;
        top: 50px;
        left: 10px;
        width: 440px;
        height: 210px;
        background:#fff;
        z-index: 5;
        color: #4a4a4a;
        border:1px solid #e5e5e5;
        box-shadow: 0px 2px 3px rgba(74,74,74,0.3);
        display: none;
        em{
          width: 17px;
          height: 10px;
          background:url(../images/arr_t.png) no-repeat;
          position: absolute;
          top: -10px;
          left: 20px;
        }
        h3{
          border-left: 4px solid #3bbaf5;
          font-size: 16px;
          font-weight: normal;
          height: 16px;
          line-height: 16px;
          padding-left: 10px;
          margin: 24px 20px;
        }
        p{
          margin: 20px;
          font-size: 14px;
          span{
            color: #9b9b9b;
            text-indent: 42px;
            display: inline-block;
          }
        }
      }
    }
    .po_r{
      position: relative;
    }
    .content_top {
      width: 800px;
      height: auto;
      padding: 45px 100px 20px 100px;
      overflow: hidden;
      dl {
        width: 158px;
        height: 78px;
        border: 1px @border-color solid;
        margin: 0 20px;
        float: left;
        position: relative;
        dt {
          width: 110px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          color: #9B9B9B;
          background: @background-color-second;
          position: absolute;
          left: 24px;
          top: -20px;
        }
        dd {
          width: 100%;
          height: 78px;
          line-height: 78px;
          text-align: center;
          font-size: 18px;
        }
      }
    }
    .title_bottom {
      width: 100%;
      height: 45px;
      line-height: 45px;
      font-size: 15px;
      font-weight: bold;
      border-bottom: 1px @border-color solid;
      background: @background-color-default;
      span {
        width: 4px;
        height: 16px;
        background: @color-theme2;
        display: inline-block;
        margin: 15px 10px 0 20px;
        float: left;
      }
      .scan{
        float: right;
        font-weight: normal;
        margin: 5px 20px 0;
        display: inline-block;
        height: 34px;
        width: 118px;
        padding-left: 43px;
        line-height: 34px;
        border:1px solid #f8cd8e;
        background: #fff3e1 url(/images/mobile.png) 20px center no-repeat;
        border-radius: 2px;
      }
    }
    .content_bottom {
      th {
        color: @default-text-color;
        border:0;
      }
      .file{
        position: absolute;
        width: 100px;
        height: 30px;
        line-height: 30px;
        opacity: 0;
        left: 22px;
        cursor: pointer;
      }
      .uploadbtn {
        width: 100px;
        height: 30px;
        line-height: 30px;
        margin-left: 22px;
      }
      .icon {
        width: 70px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        font-size: 35px;
        float: left;
      }
      .startplace {
        height: 90px;
        line-height: 112px;
        padding-right: 10px;
        float: left;
      }
      .description {
        height: 90px;
        line-height: 70px;
        background: url("../images/jiantou.png") no-repeat right 50px;
        padding: 0 40px;
        float: left;
      }
      .endplace {
        height: 90px;
        line-height: 112px;
        padding-left: 10px;
        float: left;
      }
      .hoteldescription {
        line-height: 30px;
        padding: 15px 0;
        p {
          color: #4A4A4A;
          span {
            color: @default-text-color;
          }
        }
      }
      p {
        height: 25px;
        line-height: 25px;
        color: #9B9B9B;
        .tongguo {
          width: 20px;
          height: 20px;
          line-height: 20px;
          color: @btn-text-color;
          border-radius: 50%;
          background: #69B754;
          display: inline-block;
        }
        a {
          color: @color-theme1;
        }
      }
    }
    .cmask{
      background: #000;
      opacity: 0.6;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 11;
    }
  }
  .invoice {
      width: 1000px;
      height: auto;
      margin: 10px auto;
      dt {
        width: 100%;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
      }
      dd {
        width: 998px;
        height: auto;
        border: 1px @border-color solid;
        background: @background-color-second;
        td {
          padding: 10px 20px;
          p {
            line-height: 30px;
          }
          img {
            max-width: 958px;
          }
        }
      }
    }
  .submitcontent {
    width: 998px;
    height: 98px;
    border: 1px @border-color solid;
    background: #EFF3F5;
    margin-top: 15px;
  }
}
.invoiceDetail {
  width: 1000px;
  height: auto;
  margin: 30px auto 0 auto;
  .invoicepath {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    span {
      color: #9B9B9B;
    }
  }
  .mainbox {
    width: 958px;
    height: auto;
    border: 1px @border-color solid;
    background: @background-color-second;
    padding: 20px;
    .mainbox_top {
      width: 100%;
      height: auto;
      line-height: 25px;
      position: relative;
      p {
        font-size: 15px;
      }
      span {
        color: #9B9B9B;
      }
      input {
        width: 60px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .mainbox_bottom {
      width: 100%;
      height: auto;
      text-align: center;
      overflow: hidden;
      img {
        max-width: 958px;
      }
    }
  }
}