
@import "../../../common/client/ionic/scss/variables";

ng-selector-list,
ng-selector-map,
ng-selector-date {
  height: $line-height-computed + $font-size-base;
  line-height: $line-height-computed + $font-size-base;
  font-size: $font-size-base;
  flex: 1 220px;
  width: 100%;
  padding-right: 44px;
  span {
    display: block;
    &.placeholder-div {
      color: $input-color-placeholder;
    }
  }
}
