<div ng-model="airinfo" class="airinfo">
    <p class="briefing">
        中国联行{{airinfo.ticket_info.flight_no}}({{airinfo.ticket_info.aircraft_type}}) | 准点率{{airinfo.punctual_rate*100 || "null"}}%<span ng-if="airinfo.flight_list.meal"> | 含餐</span>
    </p>
    <ul>
        <li>
            <p class="time">{{airinfo.start_time | date : "HH:mm"}}</p>
            <p class="airport">{{airinfo.ticket_info.dept_station_name}}{{airinfo.flight_list.departure_term}}</p>
        </li>
        <li>
            <p class="timeSpan">{{airinfo.flight_list.fly_time.split(":")[0]}}时{{airinfo.flight_list.fly_time.split(":")[1]}}分</p>
            <img class="arrow_with_dot" src="./mobile/images/arrow_with_dot.png"/>
            <p class="transferStation">_经停呼和浩特</p>
        </li>
        <li>
            <p class="time">{{airinfo.end_time | date : "HH:mm"}}</p>
            <p class="airport">{{airinfo.ticket_info.arrival_station_name}}{{airinfo.flight_list.arrival_term}}</p>
        </li>
    </ul>
</div>