<div class="head">
    全麦旅行
</div>

<div class="input">
    <span>企业名称</span>
    <input id="corpName" class="" type="text" value="" placeholder="暂不支持个人注册">
</div>
<div class="input">
    <span>注册人姓名</span>
    <input id="corpRegistryName" class="" type="text" value="">
</div>
<div class="input">
    <span>企业邮箱</span>
    <input id="corpMail" class="" type="text" value="" placeholder="请使用企业邮箱作为登录账号使用">
</div>
<div style="width:600px;margin:10px auto;">暂不支持公共邮箱，若为<span>公共邮箱</span>，请联系客服<span>010-4657892</span></div>
<div class="input">
    <span>联系人电话</span>
    <input id="corpMobile" class="" type="text" value="" placeholder="">
</div>
<div class="input">
    <span>请设置登录密码</span>
    <input id="corpPwd" class="" type="password" value="" placeholder="">
</div>
<div class="inputs">
    <div>
        <span>短信验证码</span>
        <input id="msgCode" class="" type="text" value="" placeholder="">
    </div>
    <button ng-click="getMCode()">免费获取短信验证码</button>
</div>
<div class="inputs">
    <div>
        <span>图片验证码</span>
        <input id="picCode" class="" type="text" value="" placeholder="">
    </div>
    <img id="imgCode" src=""/>
    <span ng-click="changePicCode()">换一换</span>
</div>
<div style="width:600px;margin:10px auto;">
    <span id="check1"><i id="check" class="web-icon-font" checkvalue="true">&#xf058;</i>同意<a href="">《途灵岛商旅注册协议》</a></span>
    <span id="check2" style="display: none;"><i id="check" class="web-icon-font" checkvalue="false">&#xf057;</i>同意<a href="">《途灵岛商旅注册协议》</a></span>
</div>
<a href="#" class="register" ng-click="register()">立即注册</a>
<div style="width: 600px;margin: 10px auto;text-align: center;"><a href="#/auth/login">已有账号?登录</a></div>

<script>
    $(function(){
        $("#check1").click(function(){
            $(this).hide();
            $("#check2").show();
            console.log(123);
        })
        $("#check2").click(function(){
            $(this).hide();
            $("#check1").show();
            console.log(456);
        })
    })
</script>