<div class="choose_address" ng-click="go_add_Address()">
    <i class="web-icon-font">&#xf055;</i>
    新增常用地址
</div>
<div class="ma_t10">
    <div class="address_style" ng-repeat="address in addressList">
        <!--<ul>-->
        <!--<li class="change_height"><i class="web-icon-font">&#xf10c;</i></li>-->
        <!--<li>-->
        <!--<p>-->
        <!--<span>刘嘉玲</span>-->
        <!--<span>13588547920</span>-->
        <!--</p>-->
        <!--<p>四川省成都市和平东区万恒东方路历程3单元四川省成都市和平东区万恒东方路历程3单元</p>-->
        <!--</li>-->
        <!--<li class="change_margin"><symbol name="fa.edit"/></li>-->
        <!--<span style="display: block;clear: both;"></span>-->
        <!--</ul>-->
        <ul>
            <li class="change_height"><i class="web-icon-font">&#xf10c;</i></li>
            <li>
                <p>
                    <span>{{address.name}}</span>
                    <span>{{address.mobile}}</span>
                </p>
                <p>{{address.area+address.address}}</p>
            </li>
            <li class="change_margin" ng-click="go_edit()"><symbol name="fa.edit"/></li>
            <span style="display: block;clear: both;"></span>
        </ul>
    </div>
</div>
<script>
    $(function(){
        var height = $('.address_style>ul').height();
        $('.address_style').css('height',height/10 + 'rem');
        $('.change_height').css('line-height',height/10 + 'rem');
        $('.change_margin').css('margin-top',(height-24)/20 + 'rem');

    })
</script>