<div class="add_address">
    <div>
        <span>
            收件人
        </span>
        <input class=" common_text input little_change" erasable placeholder="点击输入姓名" ng-model="people.name" value=""/>
    </div>
    <div>
        <span>
            手机号
        </span>
        <input class=" common_text input little_change" erasable placeholder="点击输入手机号" ng-model="people.mobile" maxlength="11" value=""/>
    </div>
    <div>
        <span>
            所属地区
        </span>
        <input type="text" placeholder="点击选择所属地区" ng-model="area" value="">
    </div>
    <div>
        <span>
            详细地址
        </span>
        <textarea class="text" placeholder="点击输入详细地址" ng-model="address" value="" required>
        </textarea>
        <symbol class="clear_text" name="customs.error" ng-click="clear_text($event)"/>
    </div>
</div>
<div class="page_btn2 ma_t25" ng-click="save_address()">保存</div>
<div class="page_btn3 ma_t10" ng-click="back_to_list()">取消</div>