<style type="text/css">
    html,body {
        background: #F1F1F1;
    }
</style>

<div class="infoEditing">
	<div class="veil" ng-show="inSelectingMode" ng-click="quitSelectingMode()"></div>
	<ul class="options" ng-show="inSelectingMode">
		<li ng-class=" { 'active':(data.type==='身份证') } " ng-click="select('身份证')">身份证</li>
		<li ng-class=" { 'active':(data.type==='护照') } " ng-click="select('护照')">护照</li>
	</ul>
	<div class="top">
		<div class="row">
			<div class="row-left">
				姓名
			</div>
			<div class="row-right">
				{{user.name}}
			</div>
		</div>
		<div class="row">
			<div class="row-left">
				证件类型
			</div>
			<div class="row-right" ng-click="enterSelectingMode()">
				<span>{{data.type}}</span>
				<symbol name="icon-right-arrow" style="float:right;line-height:4.4rem;"/>
			</div>
		</div>
		<div class="row">
			<div class="row-left">
				证件号
			</div>
			<div class="row-right">
				<input type="text" placeholder="请输入证件号码" ng-model=" data.id " ng-blur=" check_id() "/>
			</div>
		</div>
		<div class="row" ng-show=" data.type==='护照' ">
			<div class="row-left">
				有效期
			</div>
			<div class="row-right">
				<input type="text" class="expireDate" placeholder="点击设置证件有效期" />
			</div>
		</div>
		<div class="row" ng-show=" data.type==='护照' ">
			<div class="row-left">
				生日
			</div>
			<div class="row-right">
				<input type="text" class="birthDate" placeholder="点击设置出行人生日" />
			</div>
		</div>
	</div>
	<a class="button save">保存</a>
	<a class="button cancel">取消</a>
</div>
