<div class="order_list">
    <div class="list_tab">
        <div class="line"></div>
        <div class="dropdown">
            <div class="dropdown-header">状态：{{status}} <i class="fa fa-caret-down"></i></div>
            <ul class="dropdown-menu">
                <li ng-repeat="item in statuses" ng-click="selectStatus($index)" ng-class="{true:'active'}[(item===status)]">{{item}}</li>
            </ul>
        </div>
        <div class="dropdown">
            <div class="dropdown-header">排序：{{order}} <i class="fa fa-caret-down"></i></div>
            <ul class="dropdown-menu">
                <li ng-repeat="item in orders" ng-click="selectOrder($index)" ng-class="{true:'active'}[(item===order)]">{{order}}</li>
            </ul>
        </div>
    </div>
    <ul class="list_content">
        <div class="item margin_b" ng-repeat="order in orders" ng-click="enterDetail(item.id)">
            <li class="item_main">
                <div class="item_left">
                    <div class="plane_icon"><symbol name="icon-plane-solid"/></div>
                    <div class="starttime">{{order.start_time | date : "HH:mm"}}<br><span>浦东T3</span></div>
                    <div class="line1"><img src="mobile/images/line2.jpg"><span ng-if="">经停</span></div>
                    <div class="endtime">{{order.end_time}}<i ng-if="">+1天</i><br><span>浦东T3</span></div>
                    <div class="airline elasticbox">
                        <div class="left"><img src="mobile/images/logo/sc.gif"></div>
                        <div class="right elasticbox_one">中国联行KN1234(875中) | 准点率87%</div>
                    </div>
                </div>
                <div class="item_right">¥{{order.flight_list.suggest_price}}</div>
            </li>
            <div class="item_bottom">
                <span class="order_status">{{order.orderstatus}}</span>
                <a href="" class="sm_btn2">去支付</a>
                <a href="" class="sm_btn1">删除</a>
            </div>
        </div>

        <p class="tips" ng-if="tips" ng-bind-html="tips"></p>

    </ul>
</div>