
@import "../../../common/vendor/ionic/scss/variables";

.ng-modal-select-list{
  .new-item{
    color: $calm;
  }
  .item-note{
    max-width: 60%;
    white-space: normal;
  }
}

.ng-modal-select-map{
  .item{
    padding: 10px 16px;
    .color_key{
      color: $positive;
    }
  }
  .button{
    &.button-block{
      margin: 0;
      border-radius: 0;
    }
  }
}

@import "./date/date";
.platform-cordova:not(.fullscreen){
  .modal-popup{
    .bar-header:not(.bar-subheader){
      height: 44px;
      & > *{
        margin-top: 0;
      }
    }
    .has-header{
      top: 44px;
    }
  }
}

.modal-popup{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-height: 205px;
  height: 205px;
  width: 250px;
  border-radius: 5px;
  .bar.bar-light{
    background: none;
    height: 64px;
  }
  .item{
    padding: 7px;
    font-size: 14px;
    padding-left: 36px;
    &.item-option-selected{
      border: 1px #28a7e1 solid;
      border-radius: 3px;
    }
    &:first-child{
      margin-bottom: 10px;
    }
    &.item-icon-left , &.item-icon-left-unchecked{
      .icon{
        display: flex;
        left: 2px;
        font-size: 16px;
        color: #28a7e1;
      }
    }
    &.item-icon-left-unchecked {
      .icon{
        color: lighten($dark,39%);
        align-items: center;
        position: absolute;
        top: 0;
        height: 100%;
        &:before {
          display: block;
          width: 32px;
          text-align: center;
        }
      }
    }
    .icon{
      display: none;
    }
    .input-label{
      display: inline;
      font-size: 14px;
    }
  }
  .button-bar{
    padding-top: 20px;
    .button{
      &.button-block{
        min-height: 20px;
        line-height: 36px;
        height: 40px;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        &.button-outline{
          border-width: 1px;
        }
        &:last-child{
          margin-left: 5px;
        }
      }
    }
  }
}