@import "../../css/common.less";
/*注册*/
.input{
  width: 600px;
  height: 45px;
  margin: 20px auto 0;
  line-height: 45px;
  border-radius: 5px;
  border:1px solid #000;
  padding-left: 10px;
  input{
    border: none;
    outline: medium;
  }
}
.inputs{
  width: 600px;
  height: 45px;
  margin: 20px auto 0;
  line-height: 45px;
  padding-left: 10px;
  div{
    float: left;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    border:1px solid #000;
    padding-left: 10px;
    margin-left: -10px;
  }
  input{
    border: none;
    outline: medium;
  }
}

.register{
  display: block;
  width: 600px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #41a8f3;
  margin: 10px auto;
  color: #fff;
  text-decoration: none;
}
#imgCode{
  width: 100px;
  height: 45px;
}
/*登录*/
