/*注册*/
.head {
  width: 100%;
  height: 80px;
  background-color: #118FD6;
}
.head .logo {
  float: left;
  margin-left: 150px;
  margin-top: 20px;
}
.head .to_login {
  float: right;
  margin-right: 150px;
  font-size: 14px;
  color: #ffffff;
  line-height: 80px;
}
.head .to_login span {
  display: block;
  float: right;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 25px;
  background: #58b0e2;
  cursor: pointer;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #4a4a4a;
  padding-top: 30px;
  margin-bottom: 50px;
}
.auth_content {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: #292b2b;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}
.footer p {
  line-height: 22px;
}
.footer p:first-child {
  padding-top: 10px;
}
.blue-border {
  border: 1px solid #118FD6 !important;
}
.blue {
  color: #118FD6;
}
.right {
  color: #5cca2e !important;
}
.err_msg {
  float: right;
  position: absolute;
  left: 440px;
  width: 200px;
  top: 0px;
  display: none;
  z-index: -2;
}
.err_msg i {
  color: #de492a;
  margin-right: 10px;
}
.tip_div {
  float: right;
  position: absolute;
  left: 440px;
  width: 360px;
  top: 0px;
  display: none;
}
.tip_div img {
  float: left;
  margin-top: 10px;
}
.tip_div span {
  display: block;
  float: left;
  background-color: #ededed;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  z-index: -1;
  margin-top: -20px;
  margin-left: -1px;
  padding: 5px 10px;
  border-radius: 2px;
}
.tip_div2 {
  float: right;
  position: absolute;
  left: 440px;
  width: 360px;
  top: 0px;
  display: none;
}
.tip_div2 img {
  float: left;
  margin-top: 10px;
}
.tip_div2 span {
  display: block;
  float: left;
  background-color: #ededed;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: -1;
  /* margin-top: 2px; */
  margin-left: -1px;
  padding: 5px 10px;
  border-radius: 2px;
}
.pwdStrength {
  float: right;
  position: absolute;
  left: 470px;
  top: 4px;
  font-size: 14px;
  color: #b6b6b6;
  display: none;
  z-index: -1;
}
.pwdStrength ul {
  width: 300px;
  border-radius: 2px;
}
.pwdStrength ul li {
  display: block;
  float: left;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d9d9d9;
}
.pwdStrength ul li:nth-child(2) {
  border-left: none;
  border-right: none;
}
.pwdStrength ul li.on {
  color: #4a4a4a;
  background-color: #ededed;
}
.btn {
  display: block;
  width: 430px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #118FD6;
  margin: 0px auto 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  text-decoration: none;
}
.input {
  width: 430px;
  height: 40px;
  margin: 0 auto 20px;
  line-height: 40px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  position: relative;
}
.input input {
  width: 90%;
  border: none;
  outline: medium;
  padding-left: 10px;
}
.inputs {
  width: 430px;
  height: 42px;
  margin: 0 auto 20px;
  line-height: 42px;
  font-size: 14px;
  position: relative;
}
.inputs div {
  float: left;
  width: 240px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
.inputs input {
  width: 90%;
  border: none;
  outline: medium;
  padding-left: 10px;
}
.inputs .getCode {
  width: 180px;
  height: 40px;
  float: right;
  text-align: center;
  background: #ffffff;
  color: #4a4a4a;
  line-height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
}
.inputs .change {
  width: auto;
  height: 42px;
  float: right;
  margin-right: 10px;
  color: #118FD6;
  line-height: 42px;
  cursor: pointer;
}
#imgCode {
  width: 100px;
  height: 42px;
  margin-left: 10px;
}
.agree {
  width: 430px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin: 20px auto;
  color: #4a4a4a;
}
.agree #check1 i {
  color: #118FD6;
  margin-right: 10px;
  cursor: default;
}
.agree #check2 i {
  color: #d9d9d9;
  margin-right: 10px;
  cursor: default;
}
.agree a {
  color: #118FD6;
}
.register {
  display: block;
  width: 430px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #118FD6;
  margin: 0px auto 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.register:hover {
  text-decoration: none;
}
/*登录*/
.remember {
  width: 430px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin: 20px auto;
  color: #4a4a4a;
}
.remember .web-icon-font2 {
  margin-left: 10px;
  margin-right: 10px;
  color: #e5e5e5;
  font-size: 14px;
}
.remember .forget {
  float: right;
  cursor: pointer;
}
.remember #remember1 i {
  cursor: default;
}
.remember #remember2 i {
  color: #118FD6;
  cursor: default;
}
/*企业激活邮件页面*/
.tip_title {
  width: 100%;
  text-align: center;
  margin: 100px auto 50px;
  font-size: 20px;
  color: #4a4a4a;
}
.tip_title i {
  color: #118FD6;
  font-size: 20px;
}
.tip_content {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #bababa;
}
.tip_foot {
  width: 800px;
  margin: 30px auto;
  border-top: 1px solid #d9d9d9;
  padding-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #4a4a4a;
}
.tip_foot p i {
  color: #9b9b9b;
  margin-right: 10px;
}
.tip_foot div {
  width: 280px;
  margin: 20px auto;
  text-align: left;
  line-height: 40px;
}
.tip_foot div i {
  font-size: 10px;
  line-height: 40px;
}
/*忘记密码*/
.step {
  width: 430px;
  height: 30px;
  margin: 0 auto 50px;
  line-height: 30px;
  border: 1px solid #d9d9d9;
}
.step ul {
  width: 100%;
  font-size: 14px;
  color: #4a4a4a;
}
.step ul li {
  display: block;
  float: left;
  width: 33%;
  line-height: 30px;
  text-align: center;
}
.step ul li:nth-child(2) {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.step ul li.on {
  background-color: #ededed;
}
/*# sourceMappingURL=auth.css.map */