<div class="ng-selector-date-day" ng-class="{today:today, expired:expired, selected:selected, begin:begin, end:end, span:span}">
    <div class="content">
        <div class="daynumber">{{day.day}}
            <div ng-if="day.worktime==1" class="flag workflag">班</div>
            <div ng-if="day.worktime==2" class="flag restflag">假</div>
        </div>
        <div class="label festival" ng-if="day.festival">{{day.festival}}</div>
        <div class="label term" ng-if="day.term && !day.festival">{{day.term}}</div>
        <div class="label lunar" ng-if="day.lunar && !day.term && !day.festival">{{day.lunar}}</div>
    </div>
    <div class="span begin" ng-if="begin"></div>
    <div class="span" ng-if="span"></div>
    <div class="span end" ng-if="end"></div>
</div>
