<style>
.ng-select-small{
    width: 100px;
    height: 38px;
}
.ng-select-large{
    width: 100%;
    height: 38px;
}
</style>

selectOpt: {{selectOpt}}
<br>
<div>
    <select class="ng-select-small" ng-select ng-model="selectOpt.value" ng-options="item as item.name for item in selectData track by item.val"></select>
    <select class="ng-select-large" ng-select ng-model="selectOpt.value" ng-options="item as item.name for item in selectData track by item.val"></select>
</div>
<div>
    <a ng-click="change(1)"> click me </a><br>
    <a ng-click="change(2)"> click me </a><br>
    <a ng-click="change(3)"> click me </a><br>
    <a ng-click="change(4)"> click me </a><br>
    <a ng-click="change(5)"> click me </a><br>
    <a ng-click="change(6)"> click me </a><br>
</div>