<style>
    .test-picker {
        border: 1px solid;
        line-height: 20px;
        display: block;
    }
</style>

<tld-wheel-picker class="test-picker" ng-model="m.o"
                  tld-wheel-options="m.a" tld-wheel-label="label($value)" tld-wheel-line-height="20">
</tld-wheel-picker>

<div style="display:flex;">
    <tld-wheel-picker style="flex:1;" class="test-picker" ng-model="m.os[0]"
                      tld-wheel-options="m.a" tld-wheel-label="$value.name" tld-wheel-line-height="20">
    </tld-wheel-picker>
    <tld-wheel-picker style="flex:1;" class="test-picker" ng-model="m.os[1]"
                      tld-wheel-options="m.os[0].subs" tld-wheel-label="$value.name" tld-wheel-line-height="20">
    </tld-wheel-picker>
    <tld-wheel-picker style="flex:1;" class="test-picker" ng-model="m.os[2]"
                      tld-wheel-options="m.os[1].subs" tld-wheel-label="$value.name" tld-wheel-line-height="20">
    </tld-wheel-picker>
</div>

<tld-multi-wheel-picker class="test-picker" ng-model-array="m.os"
                        tld-wheel-options-func="getWheelOptions" tld-wheel-label="$value.name" tld-wheel-line-height="20">
</tld-multi-wheel-picker>

<tld-city-picker class="test-picker" ng-model="m.city">
</tld-city-picker>
{{m.city}}
