<div class="hotel_step">
    <div class="margin_b"></div>
    <div class="common_text w90 margin_c margin_b">
        <input placeholder="目的地城市" class="hidden_input" ng-model="hotelCityName" id="hotelCity" ng-click="selectHotelCity()" readonly>
    </div>
    <div class="common_text w90 margin_c margin_b" ng-if="hotelCityName">
        <input placeholder="住宿地标位置，计划入住在xxx附近(选填)" class="hidden_input" ng-model="hotelPlaceName" id="hotelName" ng-click="selectHotelName()" readonly>
    </div>
    <div class="w90 margin_c margin_b">
        <div class="common_text margin_c margin_b halfinput">
            <input type="text" placeholder="入住时间" class="hidden_input" id="startHotelDate" ng-model="startHotelDate" ng-click="chooeseStartData($event)"  readonly>
        </div>
        <div class="common_text margin_c margin_b halfinput" style="float: right;">
            <input type="text" placeholder="离店时间" class="hidden_input" id="endHotelDate" ng-model="endHotelDate" ng-click="chooeseEndData($event, 'startDate')"  readonly>
        </div>
    </div>
    <div class="w100 button_fix">
        <a class="common_btn3 w50" ng-click="returnUrl()" style="float: left;">返回上一步</a>
        <a class="common_btn1 w50" ng-click="nextStep()" style="float: right;">生成预算单</a>
    </div>
    <div class="clear"></div>
</div>