<style type="text/css">
    html,body {
        background: #FFFFFF;
    }
</style>
<script type="text/javascript">
    $(function () {
        var currYear = (new Date()).getFullYear();
        var opt={};

        opt.time = {preset : 'time'};
        opt.default = {
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式
            mode: 'scroller', //日期选择模式
            dateFormat: 'yyyy-mm-dd',
            lang: 'zh',
            showNow: false,
            nowText: "今天",
            setText: '确定',
            cancelText: '取消',
            timeFormat: 'HH:ii'
        };

        $("#appDate").mobiscroll($.extend(opt['date'], opt['default']));
        var optDateTime = $.extend(opt['datetime'], opt['default']);
        var optTime = $.extend(opt['time'], opt['default']);
        $("#appDateTime").mobiscroll(optDateTime).datetime(optDateTime);
        $("#startTimeLate,#endTimeLate").mobiscroll(optTime).time(optTime);
    });
</script>
<div class="traffic_step">
    <div class="margin_b"></div>
    <div class="common_text w90 margin_c margin_b">
        <input placeholder="出发城市" class="hidden_input" id="startCity" ng-model="startCityName" ng-click="selectStartCity()" readonly>
    </div>
    <div class="common_text w90 margin_c margin_b">
        <input placeholder="目的地城市" class="hidden_input" id="endCity" ng-model="endCityName" ng-click="selectEndCity()" readonly>
    </div>
    <div class="w90 margin_c margin_b">
        <div class="common_text margin_c margin_b halfinput">
            <input type="text" placeholder="出发日期" class="hidden_input" id="startDate" ng-model="startDate" ng-click="chooeseStartData($event)" readonly>
        </div>
        <div class="common_text margin_c margin_b halfinput" style="float: right;">
            <input type="text" placeholder="最晚到达时间(选填)" id="startTimeLate" class="hidden_input" style="width: 100%;">
        </div>
    </div>
    <div class="w90 margin_c margin_b">
        <div class="common_text margin_c margin_b halfinput">
            <input type="text" placeholder="返程日期" class="hidden_input" id="endDate" ng-model="endDate" ng-click="chooeseEndData($event, 'startDate')" readonly>
        </div>
        <div class="common_text margin_c margin_b halfinput" style="float: right;">
            <input type="text" placeholder="最晚返回时间(选填)" id="endTimeLate" class="hidden_input" style="width: 100%;">
        </div>
    </div>
    <div class="w100 button_fix">
        <a class="common_btn3 w50" ng-click="returnUrl()" style="float: left;">返回上一步</a>
        <a class="common_btn1 w50" ng-if="isHotel=='false'" ng-click="nextStep()" style="float: right;">生成预算单</a>
        <a class="common_btn1 w50" ng-if="isHotel=='true'" ng-click="nextStep()" style="float: right;">下一步</a>
    </div>
    <div class="clear"></div>
</div>



