<script type="text/javascript">
    $(function () {
        var currYear = (new Date()).getFullYear();
        var opt={};

        opt.time = {preset : 'time'};
        opt.default = {
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式
            mode: 'scroller', //日期选择模式
            dateFormat: 'yyyy-mm-dd',
            lang: 'zh',
            showNow: false,
            nowText: "今天",
            setText: '确定',
            cancelText: '取消',
            timeFormat: 'HH:ii'
        };

        $("#appDate").mobiscroll($.extend(opt['date'], opt['default']));
        var optDateTime = $.extend(opt['datetime'], opt['default']);
        var optTime = $.extend(opt['time'], opt['default']);
        $("#appDateTime").mobiscroll(optDateTime).datetime(optDateTime);
        $("#startTimeLate,#endTimeLate").mobiscroll(optTime).time(optTime);
    });
</script>
<div class="traffic_step">
    <div class="margin_b"></div>
    <div class="common_text w90 margin_c margin_b">
        <input placeholder="出发城市" class="hidden_input" id="startCity" ng-model="startCity" ng-click="selectStartCity()" readonly>
    </div>
    <div class="common_text w90 margin_c margin_b">
        <input placeholder="目的地城市" class="hidden_input" id="endCity" ng-model="endCity" ng-click="selectEndCity()" readonly>
    </div>
    <div class="w90 margin_c margin_b">
        <div class="common_text margin_c margin_b halfinput">
            <input type="text" placeholder="出发日期" class="hidden_input" id="startTime" ng-click="chooeseData($event)" readonly>
        </div>
        <div class="common_text margin_c margin_b halfinput" style="float: right;">
            <input type="text" placeholder="最晚到达时间(选填)" id="startTimeLate" class="hidden_input" style="width: 100%;">
        </div>
    </div>
    <div class="w90 margin_c margin_b">
        <div class="common_text margin_c margin_b halfinput">
            <input type="text" placeholder="返程日期" class="hidden_input" id="endTime" ng-click="chooeseData($event, 'startTime')" readonly>
        </div>
        <div class="common_text margin_c margin_b halfinput" style="float: right;">
            <input type="text" placeholder="最晚返回时间(选填)" id="endTimeLate" class="hidden_input" style="width: 100%;">
        </div>
    </div>
    <div class="w100 button_fix">
        <a class="common_btn3 w50" ng-click="returnUrl()" style="float: left;">返回上一步</a>
        <a class="common_btn1 w50" ng-if="tra == 1 && liv == 0" ng-click="createResult()" style="float: right;">生成预算单</a>
        <a class="common_btn1 w50" ng-if="tra == 1 && liv == 1" ng-click="nextStep()" style="float: right;">下一步</a>
    </div>
    <div class="clear"></div>
</div>

<div class="live_step">
    <div class="margin_b"></div>
    <div class="common_text w90 margin_c margin_b">
        <input placeholder="目的地城市" class="hidden_input" ng-model="liveCity" id="liveCity" ng-click="selectLiveCity()" readonly>
    </div>
    <div class="common_text w90 margin_c margin_b" ng-if="liveCityId">
        <input placeholder="住宿地标位置，计划入住在xxx附近(选填)" class="hidden_input" id="livePlace" ng-click="selectLivePlace()" readonly>
    </div>
    <div class="w90 margin_c margin_b">
        <div class="common_text margin_c margin_b halfinput">
            <input type="text" placeholder="入住时间" class="hidden_input" id="liveTime" ng-click="chooeseData($event)"  readonly>
        </div>
        <div class="common_text margin_c margin_b halfinput" style="float: right;">
        <input type="text" placeholder="离店时间" class="hidden_input" id="leaveTime" ng-click="chooeseData($event, 'liveTime')"  readonly>
        </div>
    </div>
    <div class="w100 button_fix">
        <a class="common_btn3 w50" ng-if="tra == 0 && liv == 1" ng-click="returnUrl()" style="float: left;">返回上一步</a>
        <a class="common_btn3 w50" ng-if="tra == 1 && liv == 1" ng-click="prevStep()" style="float: left;">返回上一步</a>
        <a class="common_btn1 w50" ng-if="tra == 0 && liv == 1" ng-click="createResult()" style="float: right;">生成预算单</a>
        <a class="common_btn1 w50" ng-if="tra == 1 && liv == 1" ng-click="createResult()" style="float: right;">生成预算单</a>
    </div>
    <div class="clear"></div>
</div>


